&-wrapper {
    @include flex(1 0 250px);

    @include media($small-screen-up) {
        top: 1%;
        z-index: 12;
    }

    @include media($small-screen-down) {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 50px;
        z-index: 90;
        background-color: $grey-1;
        overflow-y: scroll;
    }

    &.show {
        display: block;
    }

    .reset-filters-row {
        background: transparent;
    }

    input {
        display: none;
    }
}
