<?xml version="1.0"?>
<!--
/**
 * @category     Peppermint
 * @package      Peppermint\Customer
 * @author       Mihai Chezan <mihai.chezan@rockar.com>
 * @copyright    Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
*/
-->
<config>
    <modules>
        <Peppermint_Customer>
            <version>0.1.7</version>
        </Peppermint_Customer>
    </modules>
    <global>
        <helpers>
            <peppermint_customer>
                <class>Peppermint_Customer_Helper</class>
            </peppermint_customer>
            <rockar_customer>
                <rewrite>
                    <data>Peppermint_Customer_Helper_Data</data>
                </rewrite>
            </rockar_customer>
        </helpers>
        <blocks>
            <peppermint_customer>
                <class>Peppermint_Customer_Block</class>
            </peppermint_customer>
            <rockar_customer>
                <rewrite>
                    <account_dashboard_info>Peppermint_Customer_Block_Account_Dashboard_Info</account_dashboard_info>
                    <order>Peppermint_Customer_Block_Order</order>
                    <documents_list>Peppermint_Customer_Block_Documents_List</documents_list>
                    <documents_form>Peppermint_Customer_Block_Documents_Form</documents_form>
                    <adminhtml_customer_edit_tab_documents>Peppermint_Customer_Block_Adminhtml_Customer_Edit_Tab_Documents</adminhtml_customer_edit_tab_documents>
                </rewrite>
            </rockar_customer>
            <adminhtml>
                <rewrite>
                    <customer_grid>Peppermint_Customer_Block_Adminhtml_Customer_Customer_Grid</customer_grid>
                    <customer_edit_tab_account>Peppermint_Customer_Block_Adminhtml_Customer_Edit_Tab_Account</customer_edit_tab_account>
                    <customer_edit_tabs>Peppermint_Customer_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <peppermint_customer>
                <class>Peppermint_Customer_Model</class>
                <resourceModel>peppermint_customer_resource</resourceModel>
            </peppermint_customer>
            <rockar_customer>
                <rewrite>
                    <documents>Peppermint_Customer_Model_Documents</documents>
                    <observer>Peppermint_Customer_Model_Observer</observer>
                </rewrite>
            </rockar_customer>
            <peppermint_customer_resource>
                <class>Peppermint_Customer_Model_Resource</class>
                <entities>
                    <document_type>
                        <table>peppermint_customer_document_type</table>
                    </document_type>
                    <document_finance_type>
                        <table>peppermint_customer_document_finance_type</table>
                    </document_finance_type>
                    <document_finance_group>
                        <table>peppermint_customer_document_finance_group</table>
                    </document_finance_group>
                    <document_order>
                        <table>peppermint_customer_document_order</table>
                    </document_order>
                    <document_upload_status>
                        <table>peppermint_customer_document_order_upload_status</table>
                    </document_upload_status>
                    <document_customer_group>
                        <table>peppermint_customer_document_customer_group</table>
                    </document_customer_group>
                </entities>
            </peppermint_customer_resource>
        </models>
        <resources>
            <peppermint_customer_setup>
                <setup>
                    <module>Peppermint_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </peppermint_customer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <peppermint_customer>
                    <file>rockar/customer_terms_conditions.xml</file>
                </peppermint_customer>
            </updates>
        </layout>
        <events>
            <peppermint_gcdm_customer_register_success>
                <observers>
                    <peppermint_customer_set_registered_in>
                        <class>rockar_customer/observer</class>
                        <method>setRegisteredIn</method>
                    </peppermint_customer_set_registered_in>
                    <peppermint_customer_set_store_dealer_id>
                        <class>peppermint_customer/observer</class>
                        <method>setStoreDealerId</method>
                    </peppermint_customer_set_store_dealer_id>
                </observers>
            </peppermint_gcdm_customer_register_success>
            <peppermint_document_upload_success>
                <observers>
                    <peppermint_document_upload_notify_queue>
                        <class>rockar_customer/observer</class>
                        <method>sendToS3</method>
                    </peppermint_document_upload_notify_queue>
                </observers>
            </peppermint_document_upload_success>
        </events>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <modules>
                        <peppermint_customer before="Rockar_Customer">Peppermint_Customer</peppermint_customer>
                    </modules>
                </args>
            </customer>
            <rockar_customer>
                <use>standard</use>
                <args>
                    <modules>
                        <peppermint_customer before="Rockar_Customer">Peppermint_Customer</peppermint_customer>
                    </modules>
                </args>
            </rockar_customer>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <peppermint_customer_add_clear_guid_button>
                        <class>peppermint_customer/adminhtml_observer</class>
                        <method>addClearGuidBtn</method>
                    </peppermint_customer_add_clear_guid_button>
                </observers>
            </adminhtml_widget_container_html_before>
            <customer_grid_collection_set_before>
                <observers>
                    <peppermint_customer_customer_grid_collection_set_before>
                        <class>peppermint_customer/adminhtml_observer</class>
                        <method>additionalAttributes</method>
                    </peppermint_customer_customer_grid_collection_set_before>
                </observers>
            </customer_grid_collection_set_before>
            <customer_grid_prepare_before>
                <observers>
                    <peppermint_customer_customer_grid_prepare_before>
                        <class>peppermint_customer/adminhtml_observer</class>
                        <method>addCustomColumns</method>
                    </peppermint_customer_customer_grid_prepare_before>
                </observers>
            </customer_grid_prepare_before>
        </events>
        <layout>
            <updates>
                <peppermint_customer>
                    <file>peppermint_customer.xml</file>
                </peppermint_customer>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_customer before="Rockar_Customer">Peppermint_Customer_Adminhtml</peppermint_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <peppermint_customer_document_upload>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_customer/cron::run</model>
                </run>
            </peppermint_customer_document_upload>
        </jobs>
    </crontab>
</config>
