body {
    background: #fff;
    font-family: $primary-font-family;
    padding: 25px 40px;
    color: $dark-grey-3;
    font-size: 14px;
    font-weight: 500;
}

body,
td,
input,
label,
textarea,
select,
button,
h1, h2, h3, h4, h5, h6,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $primary-font-family;
}

.link,
a {
    color: $emails-links-color;
    text-decoration: underline;
}

.emails-clearfix {
    clear: both;
    content: "";
    display: table;
}

td {
    border-bottom: 0;
}

.price {
    color: $emails-links-color;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.deposit-breakdown {
    color: $deposit-breakdown-color;
}

.finance-payments {
    text-align: center;

    .payment {
        display: inline-block;
        padding-right: 1.5em;
        text-align: left;

        &:last-child {
            padding-right: 0;
        }

        .price {
            font-size: 16px;
            margin: 0;
        }

        .label {
            color: #4A4F54;
            font-size: 8px;
            line-height: 11px;
            margin-bottom: 0;
        }
    }
}

hr {
    border-bottom: 3px solid #ddd;
    margin: 1em 0;
}

p.title {
    font-family: $secondary-font-family;
    font-size: $h1-font-size;
    font-weight: $fw-bold;
    word-wrap: break-word;
}

p ol, p + ol {
    list-style-type: decimal;
}

p ul, p + ul {
    list-style-type: disc;
}
