//Defining Jaguar red in landrover to be used on the in-store homepage only
$jaguar-red: #9e1b32;
$primary-color: #1b69d4;

// landrover specific styling colors
$landrover-light-grey: #d7d7d7;
$landrover-dark-grey: #7e7e7e;
$motorrad-blue: #1b69d4;
$motorrad-hover-blue: #174999;
$motorrad-white: #ffffff;
$motorrad-grey: #e6e6e6;
$motorrad-light-grey: #f2f2f2;
$motorrad-dark-grey: #919191;
$motorrad-hover-grey: #5e5e5e;
$motorrad-text-color: #262626;
$motorrad-popup-overlay-background : rgba(22, 23, 26, 0.8);
$motorrad-border-grey: #e4e8e9;

$bright-red: #f00;

///////// Sizes ///////////
$motorrad-font-size-heading: 24px;
$motorrad-finance-quote-lead-time-font-size: 20px;
$motorrad-font-size-step-description: 18px;
$motorrad-font-size-finance-options: 15px;
$motorrad-button-font-size: 16px;
$motorrad-subnavigation-button-font-size: 12px;
$motorrad-filter-button-filter-font-size: 15px;
$motorrad-input-field-font-size: 16px;
$motorrad-font-size-nav: 16px;
$motorrad-font-size-steps: 50px;
$motorrad-side-label: 12px;
$motorrad-font-tabs: 14px;
$base-font-size: 15px;
$base-letter-spacing: normal;
$f-size-l: 24px;
$f-size-xl: 16px;
$f-size-xxl: 18px;
$f-size-s: 15px;
$h1-font-size: 24px;
$h1-brand-font-size: 24px;
$h1-mobile-font-size: 24px;
$h1-mobile-brand-font-size: 24px;
$h4-font-size: 24px;
$h4-brand-font-size: 24px;
$h4-mobile-font-size: 24px;
$h4-mobile-brand-font-size: 24px;
$h5-font-size: 14px;
$h5-brand-font-size: 14px;
$h5-mobile-font-size: 14px;
$h5-mobile-brand-font-size: 14px;
$motorrad-footer-heading-font-size: 18px;
$motorrad-footer-link-font-size: 12px;
$motorrad-step-number-size: 60px;
$motorrad-finder-demonstrators-message-font-size: 16px;
$motorrad-subhead: 16px;
$motorrad-price-label: 12px;
$f-size-5xs: 8px;
$f-size-xs: 14px;
$f-size-xxs: 11px;
$motorrad-payment-setting-title-font-size: 18px;
$finance-quote-font-size: 10px;
$motorrad-input-font-size-s-screen: 15px;
$motorrad-exchange-heading: 18px;
$motorrad-nav-desktop-height: 85px;
$motorrad-nav-mobile-height: 85px;

//////// Input ////////
$motorrad-input-height: 50px;

///// Line height ////////
$motorrad-line-height-25: 25px;
$motorrad-line-height-30: 30px;
$motorrad-line-height-39: 39px;
$motorrad-line-height-45: 45px;
$motorrad-line-height-46: 46px;

//// Custom variables ////
$motorrad-pod-action-row-height: 60px;
$motorrad-p-margin-bottom: 0.75em;
$motorrad-pdp-back-button-size: 132px;
