.finance-quote-wrapper {
    .finance-quote-top {
        .finance-quote-title {
            font-family: $mini-sans-serif-bold;
            font-size: $dsp2-f-size-l;
            line-height: $mini-line-h-22;

            @include media($medium-screen-down) {
                line-height: $dsp2-line-h-32;
            }
        }

        .finance-calculator {
            &-icon {
                margin: 0 0 -2px 4px;
            }

            span {
                font-family: $mini-sans-serif-bold;
            }
        }

        .finance-quote {
            .finance-quote-content {
                line-height: $dsp2-line-h-18;

                > .table {
                    td {
                        padding: .25em;
                        font-family: $mini-sans-serif-bold;

                        .variable-title {
                            font-family: $mini-sans-serif-regular;
                            font-size: $dsp2-f-size-s;

                            @include media($medium-screen-down) {
                                line-height: $dsp2-line-h-16;
                            }
                        }

                        .variable-value {
                            font-family: $mini-sans-serif-regular;
                            line-height: $dsp2-line-h-14;
                        }
                    }

                    &.table-two {
                        tr {
                            &:not(:first-child) {
                                .table-right {
                                    line-height: $dsp2-line-h-14;
                                }
                            }
                        }
                    }

                    tr {
                        &:not(:first-child) {
                            .table-right {
                                font-family: $mini-sans-serif-bold;
                                font-size: $dsp2-f-size-s;
                                line-height: $dsp2-line-h-18;
                            }
                        }
                    }
                }

                .fq-label-text {
                    .variable-title {
                        font-family: $mini-sans-serif-bold;
                    }
                }

                tr {
                    .table-right {
                        font-family: $mini-sans-serif-bold;
                        font-size: $dsp2-f-size-s;
                        line-height: $dsp2-line-h-18;
                    }
                }
            }

            a {
                &.collapse {
                    transform: rotate(90deg);
                    margin: 12px 0 0 -10px;

                    @include media($medium-screen-down) {
                        transform: rotate(-90deg);
                    }
                }

                &.expand {
                    transform: rotate(-90deg);
                    margin: 12px 0 0 -10px;

                    @include media($medium-screen-down) {
                        transform: rotate(-180deg);
                    }
                }

                &.collapse,
                &.expand {
                    @include media($medium-screen-down) {
                        background-image: url(../images/svg/icon-arrow-down.svg);
                        min-width: 10px;
                        background-size: contain;
                    }
                }
            }
        }
    }

    &.active {
        .toggle {
            bottom: calc(75vh - 12px);

            &-button {
                .icon {
                    transform: rotate(90deg) !important; // Overrides dsp2 style finance-quote:42
                }
            }
        }

        .finance-quote-top {
            @include media($medium-screen-down) {
                border-top: 3px solid $c-mini-blue;
                margin: -2px 0 0;
            }
        }
    }

    .toggle {
        border: none;
        bottom: 130px;
        padding: 0;

        &-button {
            background-color: $black;
            border: none;
            border-radius: 0;

            .icon {
                background-image: url('../images/svg/icon-arrow.svg');
                transform: rotate(-90deg);
                filter: invert(1);
                width: 12px;
                background-size: contain;
            }
        }
    }

    .finance-quote-bottom {
        @include media($medium-screen-down) {
            border-top: 3px solid $c-mini-blue;
        }
    }

    .offertags-container {
        @include media($dsp2-l-screen-down) {
            margin: 4px 0 0;
        }
    }
}

.get-quote-cta-icon {
    letter-spacing: normal;

    &::before {
        background-image: url('../images/svg/icon-email-quote.svg');
        top: 5px;
    }
}

.catalog-product-view {
    .finance-quote-configurator {
        .finance-payments {
            .payment {
                .payment-amount {
                    font-family: $mini-sans-serif-bold;
                }

                .payment-label {
                    font-family: $mini-sans-serif-regular;
                }

                &.monthly-price {
                    .payment-amount {
                        font-family: $mini-serif-bold;

                        @include media($medium-screen-down) {
                            line-height: $dsp2-line-h-20;
                        }
                    }
                }

                &.rockar-price {
                    .payment-amount {
                        font-family: $mini-sans-serif-regular;
                    }
                }
            }
        }
    }

    &.modal-open {
        .finance-quote-wrapper {
            .popup-content {
                @include media($medium-screen-down) {
                    padding: 27px 20px 30px;
                }

                .get-quote-popup,
                .get-quote-popup-success {
                    font-size: initial;

                    .modal-header {
                        margin: 0 0 15px;
                        text-transform: uppercase;
                        letter-spacing: initial;
                        font-family: $mini-serif-bold;
                        font-size: $dsp2-f-size-xxl;
                        line-height: $mini-line-h-38;

                        @include media($medium-screen-down) {
                            font-size: $dsp2-f-size-l;
                            line-height: $mini-line-h-22;
                            margin: 23px 0 30px;
                        }
                    }

                    .row {
                        > p {
                            letter-spacing: initial;
                            font-family: $mini-sans-serif-regular;
                            font-size: $dsp2-f-size;
                            line-height: $dsp2-line-h-24;

                            @include media($medium-screen-down) {
                                font-size: $dsp2-f-size-s;
                                line-height: $dsp2-line-h-16;
                            }

                            .my-account-link {
                                @include media($medium-screen-down) {
                                    font-size: $dsp2-f-size;
                                }
                            }
                        }

                        @include media($medium-screen-down) {
                            margin: 0 0 21px;
                        }
                    }
                }
            }
        }
    }
}
