.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    background-color: $c-grey-14;
}

.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
    background-color: $c-grey-13;
}

.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    background-color: $c-grey-13;
}

.ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
    background-color: $c-grey-13;
}

.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
    background-color: $c-grey-13;
}
