#configurator {
    .general-preloader {
        position: fixed;
    }

    .configurator-notice {
        text-align: center;
        margin: 1em 0;
        font-size: $f-size-xl;
        color: $configurator-notice-color;
    }

    #my-build {
        #my-build-technical-specifications {
            table tr td {
                min-height: 55px;
            }
        }

        .accordion.type-right-down.accordion-light {
            ul.submenu.accordionSlide-transition {
                margin: 0;

                li.accordion-list {
                    padding: 10px 25px;

                    table {
                        th {
                            padding: 0 0 0.75em 0;
                        }
                    }
                }
            }
        }

        .accordion.accordion-light ul.submenu li {
            overflow: auto;
        }

        .table {
            min-width: 100%;
            width: auto;
            max-width: initial;

            td {
                word-break: normal;
            }
        }

        #my-build-technical-specifications,
        #my-build-standard-specifications {
            .accordion-list {
                padding: 20px;

                h4 {
                    margin: 12px 0 0 0;
                    font-size: $f-size-l;
                    text-transform: uppercase;
                    font-family: $secondary-font-family;
                }

                table {
                    th {
                        padding: 10px;
                    }
                }
            }
        }
    }

    .car-hero {
        position: relative;

        .car-hero-header {
            visibility: hidden;
            height: 0px;
        }

        .car-hero-controls {
            position: absolute;
            width: 30%;
            bottom: 10%;
            left: 50%;
            margin-left: -15%;
            z-index: 2;

            button {
                display: inline-block;
                width: 49%;
            }
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .color-slider {
        .color-notice {
            text-align: center;
            margin: 1em 0 0;
            font-size: $f-size-xs;
            color: $configurator-notice-color;
        }
    }

    .slide360 {
        .carousel-wrapper {
            width: 100%;
            position: relative;
            overflow: hidden;
            .slick-arrow {
                &::before {
                    content: none;
                }
            }

            .slick-prev {
                z-index: 3;
                left: 35px;
                @include sprite($sprite-slider-back);
                opacity: .5;
            }

            .slick-next {
                z-index: 3;
                right: 35px;
                @include sprite($sprite-slider-next);
                opacity: .5;
            }

            .slick-dots {
                bottom: 5px;

                button:before {
                    font-size: 8px;
                    opacity: .8;
                    text-shadow: 0 0 2px #fff;
                }

                .slick-active {
                    button:before {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .color-slider-container {
        padding: 0 50px;

        .slick-slider {
            margin: 10px 0;
            width: 100%;
        }

        > h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: $f-size-xxl;
            font-weight: $fw-bold;
        }
    }
}

.catalog-product-view {
    .inner-container.layout-2-cols {
        @include media($large-screen-up) {
            display: flex;
        }
    }
}

#configurator {
    .configurator-wrap {
        background: $white;
    }

    .configurator-nav {
        margin: 0 0 10px 0;

        .configurator-actions {
            margin: 0 0 10px 0;

            button {
                max-width: 100%;
                width: 100%;
                height: 100%;
            }

            .configurator-actions-desktop {
                height: 100%;

                &.col-1 {
                    .nav-arrow {
                        left: 50%;
                        margin-left: -4px;
                    }
                }

                &.col-3 {
                    .nav-arrow {
                        position: static;
                    }
                }

                &.configurator-actions-middle {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .menu-item {
                        flex: 0 1 33%;
                        padding: 0 3px;
                    }
                }
            }

            .configurator-actions-mobile {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                button {
                    padding: 10px 0;
                    height: 100%;
                }

                .select-item-steps {
                    button {
                        padding: 10px 17px;

                        span {
                            padding: 0;
                            left: 50%;
                            margin-left: -2px;
                        }
                    }
                }

                .select-item {
                    position: relative;
                    flex: 1 1 90%;

                    .select-block {
                        &.select-item-single {
                            max-width: 50%;
                            margin: 0 auto;

                            .select-content {
                                width: calc(50% - 10px);
                            }
                        }
                    }

                    .select-content {
                        position: absolute;
                        width: calc(100% - 20px);
                        top: 100%;
                        z-index: 2;

                        button {
                            border-top: 0;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }

                    &.select-item-middle {
                        padding: 0 10px;

                        &.select-item-middle-left {
                            .menu-item {
                                &:last-child {
                                    button {
                                        border-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    &:first-child,
                    &:last-child {
                        flex: 0 1 auto;
                    }

                    &:last-child {
                        button {
                            span {
                                margin-left: -4px;
                            }
                        }
                    }
                }
            }
        }
    }

    .button {
        @include media($medium-screen-up) {
            padding: 12px 18px 10px;
        }
    }

    .configurator-actions {
        .configurator-actions-center {
            text-align: center;
            margin-bottom: 20px;
        }

        &.actions-features {
            display: block;

            @include media($small-screen-down) {
                margin-top: 1em;
            }

            .configurator-actions-center {
                @include media($small-screen-down) {
                    margin-bottom: 0;
                }
            }

            button {
                @include media($small-screen-down) {
                    width: 31.5%;
                    height: 43px;
                    line-height: 35px;
                    padding: 0.39em 0.16em;
                }
            }
        }

        .button {
            .nav-symbol {
                top: -1px;
                position: relative;

                &.nav-left {
                    padding-right: 10px;
                }
                &.nav-right {
                    padding-left: 10px;
                }
            }
        }
    }

    .my-build {
        .h-common {
            font-family: $secondary-font-family;
            color: $black;
            font-size: $f-size-xxl;
            font-weight: $fw-bold;
        }
    }

    .configurator-actions-mobile {
        .button-accessories {
            height: 37px;

            .nav-right {
                padding-left: 10px;
            }
        }
    }

    .car-attributes,
    .standart-features {
        padding: 0 10px;

        .car-attributes-item,
        .standart-features-item {
            font-size: $f-size;
            padding: 0 0 10px 0;
            float: none;
            display: inline-block;

            &:nth-child(even) {
                @include media($medium-screen-up) {
                    margin-right: 0;
                    float: right;
                }
            }
        }
    }
}

app-configurator > .vue-slot {
    opacity: 0;
    height: 0;
}
