a {
    &.view-more,
    &.back-to-top {
        color: $c-grey-4;
    }
}

.view-more,
.back-to-top {
    $button-spacing: 2em;

    background-color: $c-grey-5;
    color: $c-grey-4;
    text-transform: uppercase;
    padding: $button-spacing / 2 $button-spacing;
    border-radius: 50px;
    font-family: $bmw-light;
    font-size: $dsp2-f-size-xxs;
    font-weight: $fw-heavy;
    letter-spacing: .2em;
    display: inline-block;
    margin-bottom: 1em;

    &::after {
        @include sprite($sprite-back-to-top-arrow);
        content: '';
        display: inline-block;
        margin-left: $button-spacing / 2;
    }

    &:hover {
        color: darken($c-grey-4, 15%);
    }
}

.view-more {
    &::after {
        @include sprite($sprite-view-more-arrow);
    }
}

.expand-collapse {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 44px;
    text-indent: -9999px;
    border: $expand-collapse-border-color;

    &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 12px;
        top: 50%;
        margin-top: -6px;
        left: 50%;
        margin-left: -11px;
    }

    &.expand::after {
        @include sprite($sprite-action-expand-dark);
    }

    &.collapse::after {
        @include sprite($sprite-action-collapse-dark);
    }

    &:hover {
        border: $expand-collapse-border-color-hover;
        background: $c-grey-4;

        &.expand::after {
            @include sprite($sprite-action-expand-light);
        }

        &.collapse::after {
            @include sprite($sprite-action-collapse-light);
        }
    }
}

.nav-actions {
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    width: 25px;
    height: 25px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
    }

    &.nav-actions--light {

        &.back {

            &::after {
                @include sprite($sprite-nav-actions-back-light);
                left: 0;
            }
        }

        &.next {

            &::after {
                @include sprite($sprite-nav-actions-next-light);
                left: 0;
            }
        }
    }

    &.nav-actions--dark {
        background: $bmw-blue;
        border-radius: 25px;

        &.back::after {
            @include sprite($sprite-nav-actions-back-dark);
            left: -1px;
        }

        &.next::after {
            @include sprite($sprite-nav-actions-next-dark);
            left: 2px;
        }
    }
}

button.popup-continue {
    &:hover {
        opacity: 1;
        color: $white;
        background: $c-blue-1;
    }
}

button.popup-yes {
    &:hover {
        opacity: 1;
        color: $white;
        background: $c-blue-1;
    }
}

button.btn-standard-feature {
    background: $white;
}

input[type=button],
button,
.button,
.call-to-action {
    box-sizing: border-box;
    display: inline-block;
    font-family: $bmw-bold;
    font-weight: $button-fw;
    letter-spacing: 0;
    border: 1px solid $bmw-blue;
    border-radius: 0;
    padding: $button-narrow-height-padding $button-width-padding $button-narrow-bottom-height-padding;
    text-transform: none;
    font-size: $dsp2-f-size-s;
    color: $white;
    background: $bmw-blue;
    vertical-align: bottom;
    line-height: 1;
    height: 50px;
    max-width: 285px;
    margin-top: 10px;
    width: 100%;

    @include media($small-screen-down) {
        max-width: none;
    }

    &:disabled {
        opacity: 0.3 !important;
    }

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    &:focus {
        color: $white;
        background: $bmw-blue;
    }

    .popup-continue {
        &:hover {
            background-color: $c-blue-1;
        }
    }

    &:active,
    &:hover {
        opacity: 1;
        color: $white;
        background: $c-blue-1;
    }

    // Redundant but often used
    // Should be removed
    &.button-dark {
        color: $white;
        background: $bmw-blue;
    }

    // LATEST BUTTONS

    &.button-white {
        color: $black;
        background: $white;
        border: 1px solid $white;
    }

    &.button-default {
        color: $white;
        background: $bmw-blue;
        border: 1px solid $bmw-blue;
    }

    &.button-disabled {
        color: $c-grey-3;
        background: $c-grey-2;
        border: 1px solid $c-grey-2;
    }

    &.button-black {
        color: $button-black-color;
        background: $black;
        border: 1px solid $black;
    }

    &.button-gray-light {
        color: $white;
        background: $c-grey-3;
        border: 1px solid $c-grey-3;
    }

    &.button-gray-light-2 {
        color: $c-grey;
        background: transparent;
        border: 1px solid $c-grey-5;

        &:hover {
            color: $c-grey;
            background: $c-grey;
            border: 1px solid $c-grey-5;
            opacity: 1;

            @include media($small-screen-down) {
                background: $white;
            }
        }
    }

    &.button-gray {
        color: $white;
        background: $c-grey-1;
        border: 1px solid $c-grey-1;
    }

    &.button-grey {
        color: $white;
        background: $c-grey-1;
        border: 1px solid $c-grey-1;

        &:hover {
            color: $white;
            background: $c-grey;
            border: 1px solid $c-grey-5;
            opacity: 1;

            @include media($small-screen-down) {
                background: $white;
            }
        }
    }

    &.button-gray-dark {
        color: $white;
        background: $c-grey-4;
        border: 1px solid $c-grey-4;
    }

    &.button-empty {
        color: $c-grey-1;
        background: transparent;
        border: 1px solid $c-grey-1;

        &.keyboard-skip {
            color: $white;
            background: $c-grey-1;
            border: 1px solid $c-grey-1;

            &:hover {
                background: $c-grey;
            }
        }
    }

    &.button-empty-light {
        color: $c-grey-1;
        background: transparent;
        border: 1px solid $c-grey-3;
    }

    &.button-empty-white-color {
        color: $c-grey;
        background: transparent;
        border: 1px solid $c-grey;
    }

    &.button-narrow {
        padding: $button-narrow-height-padding 1.55em $button-narrow-bottom-height-padding;
    }

    &.wide {
        padding: 1.45em 6em;
    }

    &.full-width {
        float: none;
        display: block;
        width: 100%;
        max-width: 100%;

        @include media($medium-screen-up) {
            max-width: $input-field-width;
        }
    }

    &.cms-full-width {
        width: 100%;
        max-width: 100%;
        margin: 0 0 1em;
        text-align: center;
        display: table;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &.button-edit {
        &::after {
            @include sprite($sprite-pencil-icon);
            content: '';
            display: inline-block;
            vertical-align: baseline;
            margin-left: .25em;
        }
    }

    &.button-cancel {
        color: $c-red-2;
        background: $c-red-3;
        border: 1px solid $c-red-3;
        font-size: $dsp2-f-size-xxs;
        padding: 1em 1.55em;
        font-weight: $fw-normal;
        font-family: $bmw-light;
    }

    &.button-red {
        color: $white;
        background: $c-red-2;
        border: 1px solid $c-red-2;
    }

    &.button-medium {
        padding: 1em 2.55em;
    }

    &.regular-size {
        padding: $button-height-padding $button-width-padding;
        font-size: $dsp2-f-size-s;
    }

    .mobile-hide,
    &.mobile-hide {
        display: none;

        @include media($medium-screen-up) {
            display: inline-block;
        }
    }
}

.btn-mobile-large {
    @include media($small-screen-down) {
        width: 100%;
        height: 73px;
        line-height: 60px;
        font-size: $dsp2-f-size-l;
        padding: .39em 1.16em;
    }
}

.input-wrapper {
    max-width: $input-field-width;
}

.category-car-finder,
.category-bike-finder,
.checkout-cart-index,
.customer-account-index,
.checkout-onepage-index,
.styleguide-page {
    input[type=button],
    button,
    .button {
        box-sizing: border-box;
        display: inline-block;
        font-family: $bmw-bold;
        letter-spacing: 0;
        border: 1px solid $bmw-blue;
        border-radius: 0;
        padding: $button-narrow-height-padding $button-width-padding $button-narrow-bottom-height-padding;
        text-transform: none;
        font-size: $dsp2-f-size;
        color: $white;
        background: $bmw-blue;
        vertical-align: bottom;
        line-height: 1;
        height: 52px;
        max-width: none;
        margin-top: 10px;
        width: 100%;

        // overwriting core
        &:disabled {
            opacity: 1 !important;
        }

        &.dsp2-money {
            &.disabled {
                opacity: 1;
                border: 1px solid $c-blue-2;
                background: $c-blue-2;
                cursor: default;

                &:hover {
                    background: $c-blue-2;
                    cursor: not-allowed;
                }
            }

            &:hover {
                opacity: 1;
                color: $white;
                background: $c-blue-1;
            }
        }

        &.dsp2-action {
            border: 1px solid $c-grey-1;
            background: $c-grey-1;

            &.disabled {
                opacity: 1;
                border: 1px solid $c-grey-4;
                background: $c-grey-4;
                cursor: default;

                &:hover {
                    background: $c-grey-4;
                    cursor: not-allowed;
                }
            }

            &:hover {
                opacity: 1;
                color: $white;
                background: $c-grey;
            }
        }

        &.dsp2-outline {
            border: 1px solid $c-grey;
            background: $white;
            color: $c-grey-1;
            transition: all 0.1s linear;

            &.disabled {
                opacity: 1;
                border: 1px solid $c-grey-4;
                background: $white;
                color: $c-grey-4;
                cursor: default;

                &:hover {
                    background: $white;
                    border: 1px solid $c-grey-4;
                    color: $c-grey-4;
                    cursor: not-allowed;
                }
            }

            &:hover {
                opacity: 1;
                color: $c-grey;
                border-width: 1.5px;
                border: solid $c-grey;
                background: $white;
            }
        }
    }

    .arrow {
        &-next,
        &-back,
        &-down {
            &:hover {
                opacity: 1;
            }
        }

        &-next {
            margin: 0 12px 0 0;

            &::after {
                content: '';
                @include size(10px 16px);
                display: inline-block;
                background-image: url('../images/svg/icon-arrow.svg');
                background-repeat: no-repeat;
            }
        }

        &-back {
            padding: 0 12px 3px 0;
            background-color: $white;

            &::after {
                content: '';
                @include size(10px 16px);
                display: inline-block;
                background-image: url('../images/svg/icon-arrow.svg');
                transform: rotate(180deg) translateY(-18%);
                background-repeat: no-repeat;
            }
        }

        &-down {
            padding: 0 12px 3px 0;
            background-color: $white;

            &::after {
                content: '';
                @include size(8px 12px);
                display: inline-block;
                background-image: url('../images/svg/icon-arrow.svg');
                transform: rotate(90deg) translateX(20%) translateY(-18%);
                background-repeat: no-repeat;
            }
        }

        &-up {
            padding: 0 12px 3px 0;
            background-color: $white;

            &::after {
                content: '';
                @include size(8px 12px);
                display: inline-block;
                background-image: url('../images/svg/icon-arrow.svg');
                transform: rotate(270deg) translateY(9%);
                background-repeat: no-repeat;
            }
        }
    }

    .icon-cross {
        padding: 0 8px 3px 0;
        background-color: $white;

        &::after {
            content: '';
            @include size(12px 12px);
            display: inline-block;
            background-image: url('../images/svg/icon-cross.svg');
            background-repeat: no-repeat;
        }

        &:hover {
            opacity: 1;
        }
    }

    .icon-info {
        &::after {
            content: '';
            @include size(12px 12px);
            display: inline-block;
            background-image: url('../images/svg/icon-info.svg');
            background-repeat: no-repeat;
            transform: translateY(-0.3em);
        }
    }

    .icon-edit {
        &::after {
            content: '';
            @include size(16px 16px);
            display: inline-block;
            background-image: url('../images/svg/icon-edit.svg');
            background-repeat: no-repeat;
        }
    }

    .icon-delete {
        &::after {
            content: '';
            @include size(16px 16px);
            display: inline-block;
            background-image: url('../images/svg/icon-delete.svg');
            background-repeat: no-repeat;
        }
    }

    .icon-close {
        &-blue {
            &::after {
                content: '';
                @include size(10px 10px);
                display: inline-block;
                background: url('../images/svg/icon-close-blue.svg') center no-repeat;
            }
        }
    }
}

.category-car-finder,
.category-bike-finder,
.checkout-cart-index,
.customer-account-index,
.checkout-onepage-index {
    .icon-cross {
        margin: 0 -4px 0 0;
    }
}
