.cms-index-index {
    .offer {
        background-color: $white;
        min-height: 0;

        .price span,
        .small-prices {
            color: $bmw-blue;
        }

        &.left-text,
        &.right-text {
            .offer-details {
                margin: .2em 5.2em 7.5em;
                opacity: .9;
                padding: 0;

                @include media($medium-screen-down) {
                    width: 100%;
                    margin: 0;
                }
            }
        }

        .background-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;

            @include media($medium-screen-down) {
                background: none !important;
            }
        }

        .image {
            display: none;

            @include media($medium-screen-down) {
                display: block;
                width: 100%;
                min-height: 0;
            }
        }

        .offer-details {
            height: auto;

            @include media($medium-screen-down) {
                width: 100%;
                margin: 0;
            }

            @include media($small-screen-down) {
                float: left;
            }

            @include media($x-large-screen-up) {
                width: calc(100% / 3);
                margin: 3em 10em;
            }

            .top,
            .bottom {
                padding: 1em 1.5em .5em;
            }

            .top {
                background: $white;

                .font-brand {
                    margin: 0;
                    line-height: 1;
                    font-weight: $fw-black;
                    margin-bottom: .2em;
                    font-size: 1.8em;
                }

                .subtitle {
                    font-weight: $fw-black;
                    font-size: .6em;
                    line-height: 1;
                    margin-bottom: 1.4em;
                }

                p {
                    text-transform: uppercase;
                    font-size: .9em;
                    line-height: 1.3em;
                    margin-bottom: 1.2em;
                }

                .button {
                    margin: 0;
                }
            }

            .button-wrapper .button {
                padding: .6em 1.2em .4em;
                background: $black;
                margin-bottom: 1.2em;
            }

            .bottom {
                background: $c-grey-1;

                .large-price {
                    text-transform: uppercase;

                    p {
                        line-height: 1;
                        font-weight: $fw-medium;
                        margin-bottom: 0;
                        font-size: .7em;
                        margin-top: .2em;
                    }

                    .price {
                        display: block;
                        font-weight: $fw-semibold;
                        font-size: 5em;
                        margin-bottom: .1em;
                        line-height: 1.1em;
                        font-family: $bmw-light;
                    }


                }

                .small-prices {
                    @include media($medium-screen-down) {
                        float: left;
                        display: block;
                        margin-right: 0;
                        width: 48.82117%;
                    }

                    @include media($medium-screen-only) {
                        margin-top: 0;
                    }

                    @include media($small-screen-down) {
                        width: 100%;
                        float: none;
                    }

                    p {
                        text-transform: uppercase;
                        font-size: .5em;
                        line-height: 1.3;
                        font-weight: $fw-medium;
                        margin: 0;
                    }

                    .price {
                        font-size: 3em;
                        margin-right: .6em;
                        vertical-align: baseline;
                        margin-bottom: 0;
                        width: auto;
                    }
                }
            }
        }

        &.right-text {
            .offer-details {
                float: right;
            }
        }
    }

    .comment-block {
        .customer-quote {
            &::before {
                color: $bmw-blue;
            }
        }

        .customer-signature {
            &::after {
                color: $bmw-blue;
            }
        }
    }
}
