.dsp2-more-info {
    &.content {
        padding: .5em 0 0;

        p {
            @include media($small-screen-down) {
                font-size: $dsp2-f-size-xs;
            }
        }

        ul {
            list-style: outside;
            padding-left: 16px;
            text-align: left;
            line-height: .8em;

            li {
                color: $c-grey;
                position: relative;
                list-style: none;
                padding: 0 0 0 15px;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    background-image: url('../images/svg/icon-checkmark.svg');
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -17px;
                    top: 6px;
                }
            }
        }
    }
}
