<?xml version="1.0"?>
<!--
/**
 * @category     Peppermint
 * @package      Peppermint\Orderstatus
 * @author       Aleksejs Oboruns <techteam@rockar.com>, Mihai Chezan <mihai.chezan@rockar.com>
 * @copyright    Copyright (c) 2019 Rockar Ltd (http://rockar.com)
 */
-->
<config>
    <modules>
        <Peppermint_Orderstatus>
            <version>0.2.5</version>
        </Peppermint_Orderstatus>
    </modules>

    <global>
        <helpers>
            <peppermint_orderstatus>
                <class>Peppermint_Orderstatus_Helper</class>
            </peppermint_orderstatus>
            <rockar_orderstatus>
                <rewrite>
                    <data>Peppermint_Orderstatus_Helper_Data</data>
                </rewrite>
            </rockar_orderstatus>
        </helpers>
        <blocks>
            <peppermint_orderstatus>
                <class>Peppermint_Orderstatus_Block</class>
            </peppermint_orderstatus>
        </blocks>
        <models>
            <rockar_orderstatus>
                <rewrite>
                    <order>Peppermint_Orderstatus_Model_Order</order>
                    <observer>Peppermint_Orderstatus_Model_Observer</observer>
                </rewrite>
            </rockar_orderstatus>
            <rockar_orderstatus_resource>
                <rewrite>
                    <order_collection>Peppermint_Orderstatus_Model_Resource_Order_Collection</order_collection>
                </rewrite>
            </rockar_orderstatus_resource>
            <peppermint_orderstatus>
                <class>Peppermint_Orderstatus_Model</class>
                <resourceModel>peppermint_orderstatus_resource</resourceModel>
            </peppermint_orderstatus>
            <peppermint_orderstatus_resource>
                <class>Peppermint_Orderstatus_Model_Resource</class>
                <entities>
                    <status_mapping>
                        <table>peppermint_orderstatus_status_mapping</table>
                    </status_mapping>
                </entities>
            </peppermint_orderstatus_resource>
        </models>

        <events>
            <peppermint_sales_order_state_status_changed>
                <observers>
                    <peppermint_orderstatus_model_observer_change_customer_facing_status>
                        <type>singleton</type>
                        <class>peppermint_orderstatus/observer</class>
                        <method>updateCustomerAndAdminOrderStatus</method>
                    </peppermint_orderstatus_model_observer_change_customer_facing_status>
                </observers>
            </peppermint_sales_order_state_status_changed>
            <peppermint_order_amendment_accepted>
                <observers>
                    <peppermint_orderstatus_accepted_amend_change_customer_facing_status>
                        <type>singleton</type>
                        <class>peppermint_orderstatus/observer</class>
                        <method>updateCustomerAndAdminOrderStatus</method>
                    </peppermint_orderstatus_accepted_amend_change_customer_facing_status>
                </observers>
            </peppermint_order_amendment_accepted>
            <sales_order_place_after>
                <observers>
                    <peppermint_orderstatus_adjust_state_when_no_trade_in>
                        <type>singleton</type>
                        <class>peppermint_orderstatus/observer</class>
                        <method>adjustOrderState</method>
                    </peppermint_orderstatus_adjust_state_when_no_trade_in>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_register>
                <observers>
                    <peppermint_sales_order_observer_update_order_status_to_invoice_submitted>
                        <type>singleton</type>
                        <class>peppermint_orderstatus/observer</class>
                        <method>updateOrderStatusInvoiceSubmitted</method>
                    </peppermint_sales_order_observer_update_order_status_to_invoice_submitted>
                </observers>
            </sales_order_invoice_register>
            <order_cancel_after>
                <observers>
                    <rockar_send_order_cancel_notification>
                        <type>disabled</type>
                    </rockar_send_order_cancel_notification>
                </observers>
            </order_cancel_after>
            <peppermint_order_cancelled_success>
                <observers>
                    <peppermint_send_order_cancel_notification>
                        <type>singleton</type>
                        <class>peppermint_orderstatus/observer</class>
                        <method>sendOrderCancelEmail</method>
                    </peppermint_send_order_cancel_notification>
                </observers>
            </peppermint_order_cancelled_success>
            <peppermint_order_preretail_after>
                <observers>
                    <peppermint_orderstatus_update_orderstatus_preretail_after>
                        <type>singleton</type>
                        <class>peppermint_orderstatus/observer</class>
                        <method>updateCustomerAndAdminOrderStatus</method>
                    </peppermint_orderstatus_update_orderstatus_preretail_after>
                </observers>
            </peppermint_order_preretail_after>
        </events>
        <resources>
            <peppermint_orderstatus_setup>
                <setup>
                    <module>Peppermint_Orderstatus</module>
                </setup>
            </peppermint_orderstatus_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_orderstatus before="Mage_Adminhtml">Peppermint_Orderstatus_Adminhtml</peppermint_orderstatus>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <peppermint_orderstatus>
                    <file>peppermint/orderstatus.xml</file>
                </peppermint_orderstatus>
            </updates>
        </layout>
    </adminhtml>
</config>
