.env

.idea
.vscode
.DS_Store
/vendor/
/web/var/
/web/media/
/web/app/etc/local.xml
/web/app/etc/local.xml.phpunit
/web/media
/web/.gitignore
/bin
.sass-cache
node_modules/
npm-debug.log

/web/skin/frontend/rockar/default/css/
/web/skin/frontend/rockar/default2/css/
/web/skin/frontend/rockar/bmw/css/
/web/skin/frontend/rockar/bmw2/css/
/web/skin/frontend/rockar/mini/css/
/web/skin/frontend/rockar/motorrad/css/
/web/skin/frontend/rockar/rockar/css/
/web/skin/frontend/rockar/dsp2/css/
/web/skin/frontend/rockar/mini2/css/
/web/skin/frontend/rockar/motorrad2/css/

/web/skin/frontend/rockar/default/js/
/web/skin/frontend/rockar/default2/js/
/web/skin/frontend/rockar/bmw/js/
/web/skin/frontend/rockar/bmw2/js/
/web/skin/frontend/rockar/mini/js/
/web/skin/frontend/rockar/motorrad/js/
/web/skin/frontend/rockar/rockar/js/
/web/skin/frontend/rockar/dsp2/js/
/web/skin/frontend/rockar/mini2/js/
/web/skin/frontend/rockar/motorrad2/js/

/web/skin/frontend/rockar/default/dist/

/web/skin/frontend/rockar/default/spritesheets/
/web/skin/frontend/rockar/default2/spritesheets/
/web/skin/frontend/rockar/bmw/spritesheets/
/web/skin/frontend/rockar/bmw2/spritesheets/
/web/skin/frontend/rockar/mini/spritesheets/
/web/skin/frontend/rockar/motorrad/spritesheets/
/web/skin/frontend/rockar/rockar/spritesheets/
/web/skin/frontend/rockar/dsp2/spritesheets/
/web/skin/frontend/rockar/mini2/spritesheets/
/web/skin/frontend/rockar/motorrad2/spritesheets/

/web/skin/frontend/rockar/default/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/default2/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/bmw/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/bmw2/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/mini/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/motorrad/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/rockar/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/dsp2/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/mini2/assets/scss/utils/_sprites.scss
/web/skin/frontend/rockar/motorrad2/assets/scss/utils/_sprites.scss

/web/skin/frontend/rockar/reports
/web/skin/frontend/rockar/default/config/tests/coverage

/web/app/etc/local.xml
/web/downloader/.cache
/web/downloader/cache.cfg
/web/downloader/connect.cfg

/web/shell/rockar/db_sanitize/env/*.xml

web/app/design/adminhtml/default/rockar/template/amaudit/tab/view/details.phtml
web/lib/TijsVerkoyen/CssToInlineStyles.php
web/skin/adminhtml/default/rockar/custom.css
web/skin/frontend/rockar/gulpfile.js
web/skin/frontend/rockar/package.json

#node js
web/skin/frontend/rockar/.jshintignore
web/skin/frontend/rockar/.jshintrc

#PHP7 fix
web/app/code/local/Inchoo/PHP7
web/app/etc/modules/Inchoo_PHP7.xml
web/app/code/local/Mage/Core/Model/File/
web/app/code/local/Mage/Core/Model/Resource/

#Calculation export files ignore
/calculation/*

#Added core Magento
web/README.md
/web/api.php
/web/app/.htaccess
/web/app/Mage.php
/web/app/bootstrap.php
/web/app/code/community/Aoe/
/web/app/code/community/Cm/
/web/app/code/community/EcomDev/ComposerAutoload/
/web/app/code/community/EcomDev/ComposerAutoloadTest/
/web/app/code/community/Phoenix/
/web/app/code/core/
/web/app/code/local/Aoe/
/web/app/design/adminhtml/default/default/etc/
/web/app/design/adminhtml/default/default/layout/
/web/app/design/adminhtml/default/default/locale/
/web/app/design/adminhtml/default/default/template/access_denied.phtml
/web/app/design/adminhtml/default/default/template/aoe_scheduler/
/web/app/design/adminhtml/default/default/template/api/
/web/app/design/adminhtml/default/default/template/api2/
/web/app/design/adminhtml/default/default/template/authorizenet/
/web/app/design/adminhtml/default/default/template/backup/
/web/app/design/adminhtml/default/default/template/bundle/
/web/app/design/adminhtml/default/default/template/captcha/
/web/app/design/adminhtml/default/default/template/catalog/
/web/app/design/adminhtml/default/default/template/centinel/
/web/app/design/adminhtml/default/default/template/cms/
/web/app/design/adminhtml/default/default/template/coming.phtml
/web/app/design/adminhtml/default/default/template/compiler/
/web/app/design/adminhtml/default/default/template/connect/
/web/app/design/adminhtml/default/default/template/currencysymbol/
/web/app/design/adminhtml/default/default/template/customer/
/web/app/design/adminhtml/default/default/template/dashboard/
/web/app/design/adminhtml/default/default/template/directory/
/web/app/design/adminhtml/default/default/template/downloadable/
/web/app/design/adminhtml/default/default/template/eav/
/web/app/design/adminhtml/default/default/template/email/
/web/app/design/adminhtml/default/default/template/empty.phtml
/web/app/design/adminhtml/default/default/template/example.phtml
/web/app/design/adminhtml/default/default/template/forgotpassword.phtml
/web/app/design/adminhtml/default/default/template/formkey.phtml
/web/app/design/adminhtml/default/default/template/giftmessage/
/web/app/design/adminhtml/default/default/template/googlebase/
/web/app/design/adminhtml/default/default/template/importexport/
/web/app/design/adminhtml/default/default/template/index/
/web/app/design/adminhtml/default/default/template/login.phtml
/web/app/design/adminhtml/default/default/template/media/
/web/app/design/adminhtml/default/default/template/moneybookers/
/web/app/design/adminhtml/default/default/template/newsletter/
/web/app/design/adminhtml/default/default/template/notification/
/web/app/design/adminhtml/default/default/template/oauth/
/web/app/design/adminhtml/default/default/template/overlay_popup.phtml
/web/app/design/adminhtml/default/default/template/page.phtml
/web/app/design/adminhtml/default/default/template/page/
/web/app/design/adminhtml/default/default/template/pagecache/
/web/app/design/adminhtml/default/default/template/paygate/
/web/app/design/adminhtml/default/default/template/payment/
/web/app/design/adminhtml/default/default/template/paypal/
/web/app/design/adminhtml/default/default/template/permissions/
/web/app/design/adminhtml/default/default/template/poll/
/web/app/design/adminhtml/default/default/template/popup.phtml
/web/app/design/adminhtml/default/default/template/promo/
/web/app/design/adminhtml/default/default/template/rating/
/web/app/design/adminhtml/default/default/template/report/
/web/app/design/adminhtml/default/default/template/resetforgottenpassword.phtml
/web/app/design/adminhtml/default/default/template/review/
/web/app/design/adminhtml/default/default/template/sales/
/web/app/design/adminhtml/default/default/template/store/
/web/app/design/adminhtml/default/default/template/system/
/web/app/design/adminhtml/default/default/template/tag/
/web/app/design/adminhtml/default/default/template/tax/
/web/app/design/adminhtml/default/default/template/urlrewrite/
/web/app/design/adminhtml/default/default/template/usa/
/web/app/design/adminhtml/default/default/template/varnishcache/
/web/app/design/adminhtml/default/default/template/weee/
/web/app/design/adminhtml/default/default/template/widget/
/web/app/design/adminhtml/default/default/template/xmlconnect/
/web/app/design/frontend/base/default/etc/
/web/app/design/frontend/base/default/layout/
/web/app/design/frontend/base/default/template/authorizenet/
/web/app/design/frontend/base/default/template/bundle/
/web/app/design/frontend/base/default/template/callouts/
/web/app/design/frontend/base/default/template/captcha/
/web/app/design/frontend/base/default/template/catalog/
/web/app/design/frontend/base/default/template/cataloginventory/
/web/app/design/frontend/base/default/template/catalogsearch/
/web/app/design/frontend/base/default/template/centinel/
/web/app/design/frontend/base/default/template/checkout/
/web/app/design/frontend/base/default/template/cms/
/web/app/design/frontend/base/default/template/contacts/
/web/app/design/frontend/base/default/template/core/
/web/app/design/frontend/base/default/template/customer/
/web/app/design/frontend/base/default/template/directory/
/web/app/design/frontend/base/default/template/downloadable/
/web/app/design/frontend/base/default/template/email/
/web/app/design/frontend/base/default/template/giftmessage/
/web/app/design/frontend/base/default/template/googleanalytics/
/web/app/design/frontend/base/default/template/moneybookers/
/web/app/design/frontend/base/default/template/newsletter/
/web/app/design/frontend/base/default/template/oauth/
/web/app/design/frontend/base/default/template/page/
/web/app/design/frontend/base/default/template/pagecache/
/web/app/design/frontend/base/default/template/paygate/
/web/app/design/frontend/base/default/template/payment/
/web/app/design/frontend/base/default/template/paypal/
/web/app/design/frontend/base/default/template/persistent/
/web/app/design/frontend/base/default/template/poll/
/web/app/design/frontend/base/default/template/productalert/
/web/app/design/frontend/base/default/template/rating/
/web/app/design/frontend/base/default/template/reports/
/web/app/design/frontend/base/default/template/review/
/web/app/design/frontend/base/default/template/rss/
/web/app/design/frontend/base/default/template/sales/
/web/app/design/frontend/base/default/template/sendfriend/
/web/app/design/frontend/base/default/template/shipping/
/web/app/design/frontend/base/default/template/tag/
/web/app/design/frontend/base/default/template/tax/
/web/app/design/frontend/base/default/template/varnishcache/
/web/app/design/frontend/base/default/template/wishlist/
/web/app/design/frontend/base/default/template/xmlconnect/
/web/app/design/frontend/default/
/web/app/design/frontend/rwd/
/web/app/design/install/
/web/app/etc/config.xml
/web/app/etc/ecomdev_composerautoload.xml
/web/app/etc/local.xml.additional
/web/app/etc/local.xml.template
/web/app/etc/modules/Aoe_DesignFallback.xml
/web/app/etc/modules/Aoe_Scheduler.xml
/web/app/etc/modules/Cm_RedisSession.xml
/web/app/etc/modules/EcomDev_ComposerAutoloadTest.xml
/web/app/etc/modules/Mage_All.xml
/web/app/etc/modules/Mage_Api.xml
/web/app/etc/modules/Mage_Api2.xml
/web/app/etc/modules/Mage_Authorizenet.xml
/web/app/etc/modules/Mage_Bundle.xml
/web/app/etc/modules/Mage_Captcha.xml
/web/app/etc/modules/Mage_Centinel.xml
/web/app/etc/modules/Mage_Compiler.xml
/web/app/etc/modules/Mage_ConfigurableSwatches.xml
/web/app/etc/modules/Mage_Connect.xml
/web/app/etc/modules/Mage_CurrencySymbol.xml
/web/app/etc/modules/Mage_Downloadable.xml
/web/app/etc/modules/Mage_ImportExport.xml
/web/app/etc/modules/Mage_Oauth.xml
/web/app/etc/modules/Mage_PageCache.xml
/web/app/etc/modules/Mage_Persistent.xml
/web/app/etc/modules/Mage_Weee.xml
/web/app/etc/modules/Mage_Widget.xml
/web/app/etc/modules/Mage_XmlConnect.xml
/web/app/etc/modules/Phoenix_Moneybookers.xml
/web/app/etc/modules/Phoenix_VarnishCache.xml
/web/app/etc/varnishcache.xml
/web/app/locale/de_DE/
/web/app/locale/en_US/Mage_AdminNotification.csv
/web/app/locale/en_US/Mage_Adminhtml.csv
/web/app/locale/en_US/Mage_AmazonPayments.csv
/web/app/locale/en_US/Mage_Api.csv
/web/app/locale/en_US/Mage_Api2.csv
/web/app/locale/en_US/Mage_Authorizenet.csv
/web/app/locale/en_US/Mage_Backup.csv
/web/app/locale/en_US/Mage_Bundle.csv
/web/app/locale/en_US/Mage_Captcha.csv
/web/app/locale/en_US/Mage_Catalog.csv
/web/app/locale/en_US/Mage_CatalogInventory.csv
/web/app/locale/en_US/Mage_CatalogRule.csv
/web/app/locale/en_US/Mage_CatalogSearch.csv
/web/app/locale/en_US/Mage_Centinel.csv
/web/app/locale/en_US/Mage_Checkout.csv
/web/app/locale/en_US/Mage_Cms.csv
/web/app/locale/en_US/Mage_Compiler.csv
/web/app/locale/en_US/Mage_ConfigurableSwatches.csv
/web/app/locale/en_US/Mage_Connect.csv
/web/app/locale/en_US/Mage_Contacts.csv
/web/app/locale/en_US/Mage_Core.csv
/web/app/locale/en_US/Mage_Cron.csv
/web/app/locale/en_US/Mage_CurrencySymbol.csv
/web/app/locale/en_US/Mage_Customer.csv
/web/app/locale/en_US/Mage_Dataflow.csv
/web/app/locale/en_US/Mage_Directory.csv
/web/app/locale/en_US/Mage_Downloadable.csv
/web/app/locale/en_US/Mage_Eav.csv
/web/app/locale/en_US/Mage_GiftMessage.csv
/web/app/locale/en_US/Mage_GoogleAnalytics.csv
/web/app/locale/en_US/Mage_GoogleBase.csv
/web/app/locale/en_US/Mage_GoogleCheckout.csv
/web/app/locale/en_US/Mage_ImportExport.csv
/web/app/locale/en_US/Mage_Index.csv
/web/app/locale/en_US/Mage_Install.csv
/web/app/locale/en_US/Mage_Log.csv
/web/app/locale/en_US/Mage_Media.csv
/web/app/locale/en_US/Mage_Newsletter.csv
/web/app/locale/en_US/Mage_Oauth.csv
/web/app/locale/en_US/Mage_Page.csv
/web/app/locale/en_US/Mage_PageCache.csv
/web/app/locale/en_US/Mage_Paygate.csv
/web/app/locale/en_US/Mage_Payment.csv
/web/app/locale/en_US/Mage_Paypal.csv
/web/app/locale/en_US/Mage_PaypalUk.csv
/web/app/locale/en_US/Mage_Persistent.csv
/web/app/locale/en_US/Mage_Poll.csv
/web/app/locale/en_US/Mage_ProductAlert.csv
/web/app/locale/en_US/Mage_Rating.csv
/web/app/locale/en_US/Mage_Reports.csv
/web/app/locale/en_US/Mage_Review.csv
/web/app/locale/en_US/Mage_Rss.csv
/web/app/locale/en_US/Mage_Rule.csv
/web/app/locale/en_US/Mage_Sales.csv
/web/app/locale/en_US/Mage_SalesRule.csv
/web/app/locale/en_US/Mage_Sendfriend.csv
/web/app/locale/en_US/Mage_Shipping.csv
/web/app/locale/en_US/Mage_Sitemap.csv
/web/app/locale/en_US/Mage_Tag.csv
/web/app/locale/en_US/Mage_Tax.csv
/web/app/locale/en_US/Mage_Uploader.csv
/web/app/locale/en_US/Mage_Usa.csv
/web/app/locale/en_US/Mage_Weee.csv
/web/app/locale/en_US/Mage_Widget.csv
/web/app/locale/en_US/Mage_Wishlist.csv
/web/app/locale/en_US/Mage_XmlConnect.csv
/web/app/locale/en_US/Phoenix_Moneybookers.csv
/web/app/locale/en_US/template/email/account_new_confirmation.html
/web/app/locale/en_US/template/email/account_new_confirmed.html
/web/app/locale/en_US/template/email/admin_password_new.html
/web/app/locale/en_US/template/email/admin_password_reset_confirmation.html
/web/app/locale/en_US/template/email/contact_form.html
/web/app/locale/en_US/template/email/currency_update_warning.html
/web/app/locale/en_US/template/email/log_clean_warning.html
/web/app/locale/en_US/template/email/moneybookers_activateemail.html
/web/app/locale/en_US/template/email/newsletter_subscr_confirm.html
/web/app/locale/en_US/template/email/newsletter_subscr_success.html
/web/app/locale/en_US/template/email/newsletter_unsub_success.html
/web/app/locale/en_US/template/email/password_new.html
/web/app/locale/en_US/template/email/password_or_email_changed.html
/web/app/locale/en_US/template/email/payment_failed.html
/web/app/locale/en_US/template/email/product_alert_cron_error.html
/web/app/locale/en_US/template/email/product_price_alert.html
/web/app/locale/en_US/template/email/product_share.html
/web/app/locale/en_US/template/email/product_stock_alert.html
/web/app/locale/en_US/template/email/sales/
/web/app/locale/en_US/template/email/sitemap_generate_warning.html
/web/app/locale/en_US/template/email/token.html
/web/app/locale/en_US/template/email/wishlist_share.html
/web/app/locale/es_ES/
/web/app/locale/fr_FR/
/web/app/locale/nb_NO/
/web/app/locale/sv_SE/
/web/cron.php
/web/cron.sh
/web/dev/
/web/downloader/
/web/get.php
/web/includes/
/web/js/blank.html
/web/js/calendar/
/web/js/extjs/
/web/js/flash/
/web/js/index.php
/web/js/jscolor/
/web/js/lib/
/web/js/mage/
/web/js/prototype/
/web/js/scriptaculous/
/web/js/spacer.gif
/web/js/tiny_mce/
/web/js/varien/
/web/lib/.htaccess
/web/lib/3Dsecure/
/web/lib/Cm/
/web/lib/Credis/
/web/lib/LinLibertineFont/
/web/lib/Mage/
/web/lib/Magento/
/web/lib/Net/
/web/lib/PEAR/
/web/lib/Pelago/
/web/lib/Unserialize/
/web/lib/Varien/
/web/lib/Zend/
/web/lib/flex/
/web/lib/phpseclib/
/web/scheduler_cron.sh
/web/shell/.htaccess
/web/shell/abstract.php
/web/shell/compiler.php
/web/shell/indexer.php
/web/shell/log.php
/web/shell/scheduler.php
/web/skin/adminhtml/default/default/
/web/skin/frontend/base/
/web/skin/frontend/default/
/web/skin/frontend/rwd/
/web/skin/install/
/web/skin/adminhtml/default/rockar/js/
/web/skin/adminhtml/default/rockar/css/styles.css
/web/skin/adminhtml/default/rockar/css/global.css

composer.lock
package-lock.json
/.history/

phpcs-output.txt
/.cache
