.conditions-labels {
    @include display(flex);

    font: {
        size: $f-size-xxxs;
        weight: $fw-bold;
    }
    letter-spacing: 1px;
    width: 120.5%;
    margin-left: -7.7%;
    margin-bottom: 4em;
    margin-top: 18px;

    // Different positioning based on conditions count (default is for 6 conditions)
    &.conditions-5 {
        width: 125%;
        margin-left: -10%;
    }

    li {
        @include flex-grow(1);
        @include flex-basis(0);

        text-align: center;

        span {
            color: $black;
            max-width: 50%;
            width: 50%;
            display: inline-block;
        }

        &:first-of-type {
            text-align: center;

            span {
                text-align: center;
            }
        }
    }
}
