.px-car-info {
    background: $grey-1;
    border: 1px solid $grey-1;
    display: block;
    max-width: 335px;
    padding: 5px;
    color: $black;
    align-items: center;
    margin-left: 0;
    margin-top: 30px;



    @include media($small-screen-down) {
        max-width: $px-vrm-block-max-width-s-screen;
        margin-bottom: 21px;
    }

    &.mileage-error {
        margin-left: 0;

        @include media($small-screen-down) {
            left: initial;
            transform: translateX(0);
            top: 10px;
            width: 100%;
        }
    }

    &::after {
        @include sprite($sprite-dropdown-arrow-down);
        border: 0;
        height: 9px;
        width: 14px;
        right: 112px;
        left: auto;
        transform: rotate(180deg);
        top: -9px;

        @include media($small-screen-down) {
            right: calc(50% - 7px);
        }
    }

    p {
        color: $grey-4;
        font-size: $f-size-l;
    }

    .px-car-name {
        color: $px-vrm-color;
        font-weight: $fw-bold;
        text-transform: none;
    }

    .px-link {
        color: $px-input-color;
        font-size: 12px;
        font-weight: $fw-book;

    }
}
