&-buttons {
    @include display(flex);
    @include justify-content(space-between);
    @include flex-direction(column);
    border: 0;
    right: 0;
    width: auto;
    margin-top: 0;

    .step-back {
        background-color: $bmw-blue;
        color: $white;
        display: block;
        font-size: $dsp2-f-size-xs;
        line-height: 42px;
        height: 42px;
        text-transform: none;
        letter-spacing: 1.2px;
        position: relative;
        padding-left: 12px;
        width: 100%;
        text-align: center;

        @include media($small-screen-down) {
            display: none;
        }

        &.ie-11 {
            line-height: 20px;
        }

        &::before {
            @include pseudo();
            background-image: none;
            top: 5px;
            left: 0;
        }
    }

    &-mobile {
        margin-top: 8px;
        display: none;
        width: 100vw;
        height: 55px;
        position: fixed;
        bottom: 0;

        @include media($small-screen-down) {
            @include display(flex);
            height: $car-finder-sub-nav-buttons-height-mobile;
        }

        .apply {
            box-sizing: border-box;
            width: calc(100% - #{$dsp2-f-size-s-back-width});
            max-width: none;
            color: $white;
            background-color: $bmw-blue;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            text-align: center;
            padding: 0;
            height: 100%;
            margin: 0;

            .title {
                @include v-center-font(Avenir, $dsp2-f-size);
                margin: auto;
            }
        }

        .compare-link-content,
        .button {
            width: 100%;
            border: 0;
            margin-bottom: 7px;
            min-height: 45px;

            &:hover {
                background: $c-grey-1;
                color: $white;
            }
        }

        .step-back {
            display: block;
            font-size: $dsp2-f-size-xs;
            background-color: $white;
            border: 0;
            color: $black;
            width: 55px;
            height: 100%;
            text-transform: none;
            position: relative;
            letter-spacing: 2.5px;

            &::before {
                @include pseudo();
                @include sprite($sprite-nav-actions-back-light);
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        a {
            padding: 10px 0;
            text-align: center;
            line-height: 22px;
        }
    }

    .reset-all-filters {
        cursor: pointer;
        text-align: center;
        position: relative;
        margin: 28px 0 32px;

        p {
            color: $c-grey;
            font-family: $bmw-bold;
            font-size: $dsp2-f-size-s;
            line-height: $dsp2-line-h-20;
            border-bottom: 1px solid $c-grey-3;
            display: inline-block;
            margin: 0;
        }

        &::before {
            @include pseudo();
            background: url('../images/svg/reset-icon.svg') no-repeat center;
            height: 14px;
            width: 14px;
            right: calc(50% + 48px);
            top: 7px;
        }
    }
}
