#you-drive {
    .location-wrapper {
        text-align: center;

        h3 {
            text-transform: uppercase;
        }

        .postcode-input {
            input {
                display: inline-block;
                max-width: 32em;
                margin-top: 10px;
                margin-bottom: 0;
                vertical-align: bottom;

                @include media($small-screen-down) {
                    max-width: 94%;
                }
            }
        }
    }

    .map-ui-wrapper {
        position: relative;

        .dealer-list {
            z-index: 2;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 30%;
            overflow: auto;
            background-color: rgba(255, 255, 255, 0.7);
            border: 0;

            @include media($small-screen-down) {
                position: initial;
                width: 100%;
                height: auto;
                max-height: 350px;
            }

            .dealer-preview-wrapper {
                display: block;
                height: auto;
                width: 100%;
                background-color: $white;
                border: 1px solid $primary-color;

                &.active {
                    background-color: $primary-color;
                }
            }
        }

        .dealers {
            z-index: 2;
            display: block;
            position: absolute;
            left: 30%;
            top: 0;
            margin-top: 0;
            width: 20%;
            overflow: auto;
            max-height: 75%;
            background-color: $white;
            text-align: center;

            @include media($small-screen-down) {
                position: static;
                width: 100%;
                overflow: hidden;
            }

            .you-drive-model {
                &:before {
                    display: none;
                }

                .car-model {
                    margin-top: 0;
                    border: 0;

                    .greyed-out {
                        opacity: 0.6;
                        filter: grayscale(100%);
                    }

                    .model-options,
                    .checkbox-block {
                        margin: 0 auto;
                    }
                }
            }
        }

        .map-wrapper {
            height: 35em;
        }
    }

    .bottom-navigation-wrapper {
        .navigation-buttons-wrapper {
            @include media($small-screen-down) {
                padding: 0;
                border-top: 1px solid $grey-2;
                border-bottom: 1px solid $grey-2;
            }

            button {
                &.disabled {
                    display: block;
                    background-color: $grey-3;
                }

                &.mobile-only {
                    display: none;

                    @include media($small-screen-down) {
                        display: block;
                    }

                    &.step-back {
                        @include media($small-screen-down) {
                            background-color: $primary-color;
                            border-top: 0;
                            border-right: 1px solid $grey-2;
                        }
                    }

                    &.next-step {
                        border: none;
                    }
                }

                &.desktop-tablet-only {
                    display: inline-block;

                    @include media($small-screen-down) {
                        display: none;
                    }
                }
            }
        }
    }
}
