.cms-service-not-chore {
    .wrapper {
        .hero-wrapper {
            .hero-left {
                .hero-inner {
                    .text-upper {
                        p:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6) {
                            font-size: $dsp2-f-size-s;
                            font-family: $avenir;
                        }
                    }
                }
            }
        }
    }
}
