<?xml version="1.0"?>
<!--
/**
 * @category  Peppermint
 * @package   Peppermint_YouDrive
 * @author    Taras Kapushchak <techteam@rockar.com>
 * @copyright Copyright (c) 2020 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <modules>
        <Peppermint_YouDrive>
            <version>0.1.9</version>
        </Peppermint_YouDrive>
    </modules>
    <global>
        <blocks>
            <peppermint_youdrive>
                <class>Peppermint_YouDrive_Block</class>
            </peppermint_youdrive>
            <rockar_youdrive>
                <rewrite>
                    <customer_list>Peppermint_YouDrive_Block_Customer_List</customer_list>
                    <list>Peppermint_YouDrive_Block_List</list>
                    <adminhtml_booking_grid>Peppermint_YouDrive_Block_Adminhtml_Booking_Grid</adminhtml_booking_grid>
                    <adminhtml_booking_item_grid>Peppermint_YouDrive_Block_Adminhtml_Booking_Item_Grid</adminhtml_booking_item_grid>
                    <adminhtml_localstores_edit_tab_cars>Peppermint_YouDrive_Block_Adminhtml_Localstores_Edit_Tab_Cars</adminhtml_localstores_edit_tab_cars>
                    <adminhtml_customer_widget_chooser>Peppermint_YouDrive_Block_Adminhtml_Customer_Widget_Chooser</adminhtml_customer_widget_chooser>
                </rewrite>
            </rockar_youdrive>
        </blocks>
        <resources>
            <peppermint_youdrive_setup>
                <setup>
                    <module>Peppermint_YouDrive</module>
                </setup>
            </peppermint_youdrive_setup>
        </resources>
        <template>
            <email>
                <sales_email_youdrive_request_confirmation_template translate="label" module="rockar_youdrive">
                    <label>You Drive Request Confirmation</label>
                    <file>peppermint/youdrive_request_confirmation.html</file>
                    <type>html</type>
                </sales_email_youdrive_request_confirmation_template>
            </email>
        </template>
        <models>
            <peppermint_youdrive>
                <class>Peppermint_YouDrive_Model</class>
            </peppermint_youdrive>
            <rockar_youdrive>
                <rewrite>
                    <booking>Peppermint_YouDrive_Model_Booking</booking>
                </rewrite>
            </rockar_youdrive>
        </models>
        <helpers>
            <peppermint_youdrive>Peppermint_YouDrive_Helper</peppermint_youdrive>
            <rockar_youdrive>
                <rewrite>
                    <data>Peppermint_YouDrive_Helper_Data</data>
                    <booking_progress>Peppermint_YouDrive_Helper_Booking_Progress</booking_progress>
                    <booking_status>Peppermint_YouDrive_Helper_Booking_Status</booking_status>
                </rewrite>
            </rockar_youdrive>
        </helpers>
        <events>
            <rockar_youdrive_booking_save_before>
                <observers>
                    <peppermint_youdrive_save_booking_item>
                        <type>singleton</type>
                        <class>peppermint_youdrive/observer</class>
                        <method>saveBookingItem</method>
                    </peppermint_youdrive_save_booking_item>
                </observers>
            </rockar_youdrive_booking_save_before>
            <peppermint_import_products_after>
                <observers>
                    <peppermint_youdrive_create_imported_vehicles>
                        <class>peppermint_youdrive/observer</class>
                        <method>createImportedYoudriveVehicles</method>
                    </peppermint_youdrive_create_imported_vehicles>
                </observers>
            </peppermint_import_products_after>
            <rockar_youdrive_email_configuration>
                <observers>
                    <peppermint_youdrive_add_email_configuration>
                        <class>peppermint_youdrive/observer</class>
                        <method>extendEmailConfiguration</method>
                    </peppermint_youdrive_add_email_configuration>
                </observers>
            </rockar_youdrive_email_configuration>
        </events>
    </global>
    <adminhtml>
        <events>
            <rockar_youdrive_booking_grid_prepare_massaction>
                <observers>
                    <peppermint_youdrive_bookings_grid_remove_delete_action>
                        <class>peppermint_youdrive/adminhtml_observer</class>
                        <method>removeBookingsGridDeleteAction</method>
                    </peppermint_youdrive_bookings_grid_remove_delete_action>
                </observers>
            </rockar_youdrive_booking_grid_prepare_massaction>
            <rockar_youdrive_booking_grid_prepare_collection>
                <observers>
                    <peppermint_youdrive_bookings_filter>
                        <class>peppermint_youdrive/adminhtml_observer</class>
                        <method>addBookingsFilterByUserLocalStores</method>
                    </peppermint_youdrive_bookings_filter>
                </observers>
            </rockar_youdrive_booking_grid_prepare_collection>
            <rockar_youdrive_booking_item_grid_prepare_collection>
                <observers>
                    <peppermint_youdrive_bookings_filter>
                        <class>peppermint_youdrive/adminhtml_observer</class>
                        <method>addBookingsFilterByUserLocalStores</method>
                    </peppermint_youdrive_bookings_filter>
                </observers>
            </rockar_youdrive_booking_item_grid_prepare_collection>
            <controller_action_predispatch_adminhtml_youdrive_booking_edit>
                <observers>
                    <peppermint_youdrive_booking_edit>
                        <class>peppermint_youdrive/adminhtml_observer</class>
                        <method>restrictBookingEditByUserLocalStores</method>
                    </peppermint_youdrive_booking_edit>
                </observers>
            </controller_action_predispatch_adminhtml_youdrive_booking_edit>
            <rockar_youdrive_booking_item_grid_prepare_columns>
                <observers>
                    <peppermint_youdrive_remove_model_booking_item_grid>
                        <class>peppermint_youdrive/adminhtml_observer</class>
                        <method>removeModelColumn</method>
                    </peppermint_youdrive_remove_model_booking_item_grid>
                </observers>
            </rockar_youdrive_booking_item_grid_prepare_columns>
            <rockar_youdrive_booking_edit_form_prepare>
                <observers>
                    <peppermint_youdrive_edit_fields_booking_edit_form>
                        <class>peppermint_youdrive/adminhtml_observer</class>
                        <method>editBookingFields</method>
                    </peppermint_youdrive_edit_fields_booking_edit_form>
                    <peppermint_youdrive_add_fields_booking_edit_form>
                        <class>peppermint_youdrive/adminhtml_observer</class>
                        <method>addCustomerPhoneField</method>
                    </peppermint_youdrive_add_fields_booking_edit_form>
                </observers>
            </rockar_youdrive_booking_edit_form_prepare>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <peppermint_youdrive>
                <use>standard</use>
                <args>
                    <module>Peppermint_YouDrive</module>
                    <frontName>peppermint_testdrive</frontName>
                </args>
            </peppermint_youdrive>
            <rockar_youdrive>
                <args>
                    <modules>
                        <peppermint_youdrive before="Rockar_YouDrive">Peppermint_YouDrive</peppermint_youdrive>
                    </modules>
                </args>
            </rockar_youdrive>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_youdrive before="Rockar_YouDrive_Adminhtml">Peppermint_YouDrive_Adminhtml</peppermint_youdrive>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <rokcar_youdrive_booking_notifications>
                <schedule>
                    <cron_expr></cron_expr>
                </schedule>
            </rokcar_youdrive_booking_notifications>
        </jobs>
    </crontab>
    <stores>
        <bmw_store_view>
            <rockar_youdrive>
                <youdrive_general>
                    <email_change_info>If you would like to update your email address, please contact BMW Customer Service on 080 060 0555.</email_change_info>
                </youdrive_general>
            </rockar_youdrive>
        </bmw_store_view>
        <mini_store_view>
            <rockar_youdrive>
                <youdrive_general>
                    <email_change_info>If you would like to update your email address, please call 080 0600.</email_change_info>
                </youdrive_general>
            </rockar_youdrive>
        </mini_store_view>
        <motorrad_store_view>
            <rockar_youdrive>
                <youdrive_general>
                    <email_change_info>If you would like to update your email address, please contact BMW Customer Service on 080 060 0555.</email_change_info>
                </youdrive_general>
            </rockar_youdrive>
        </motorrad_store_view>
    </stores>
    <default>
        <sales_email>
            <youdrive_booking>
                <send_copy_to_dealer>1</send_copy_to_dealer>
            </youdrive_booking>
            <youdrive_request>
                <send_copy_to_dealer>1</send_copy_to_dealer>
            </youdrive_request>
        </sales_email>
        <trans_email>
            <ident_youdrive_request>
                <name>YouDrive Request</name>
                <email>peppermint@rockar.com</email>
            </ident_youdrive_request>
        </trans_email>
    </default>
</config>
