&-list {
    @include media($small-screen-down) {
        max-height: calc(100vh - 224px);
    }

    @include media($small-screen-down) {
        overflow: auto;
    }

    @include media($medium-screen-up) {
        top: 130px;
        zoom: 1;
        padding-bottom: 5px;
    }

    .car-filter-buttons {
        a {
            &.step-back {
                line-height: initial;
                padding-top: 15px;
                height: 50px;

                &::before {
                    top: 2px;
                }

                &.ie-11 {
                    padding-top: 5%;
                }
            }
        }
    }

    .filters-list-inner-container {
        @include media($medium-screen-up) {
            height: inherit;
        }
    }
}
