<?xml version="1.0"?>
<!--
/**
 * @category  Peppermint
 * @package   Peppermint_Admin
 * @author    Lilian Codreanu <lilian.codraenu@rockar.com>
 * @copyright Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <sections>
        <peppermint_sgate translate="label">
            <label>S-Gate</label>
            <tab>rockar</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general>
                    <label>S-Gate Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <base_url translate="label">
                            <label>S-Gate Base Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </base_url>
                    </fields>
                </general>
            </groups>
        </peppermint_sgate>
    </sections>
</config>
