<?xml version="1.0"?>
<!--
/**
 * @category     Peppermint
 * @package      Peppermint\Sales
 * @author       Catalin Lungu <catalin.lungu@rockar.com>
 * @copyright    Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <modules>
        <Peppermint_Sales>
            <version>0.1.15</version>
        </Peppermint_Sales>
    </modules>
    <global>
        <blocks>
            <peppermint_sales>
                <class>Peppermint_Sales_Block</class>
            </peppermint_sales>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Peppermint_Sales_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_items_column_name>Peppermint_Sales_Block_Adminhtml_Sales_Items_Column_Name</sales_items_column_name>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <peppermint_sales>
                <class>Peppermint_Sales_Helper</class>
            </peppermint_sales>
        </helpers>
        <models>
            <peppermint_sales>
                <class>Peppermint_Sales_Model</class>
                <resourceModel>peppermint_sales_resource</resourceModel>
            </peppermint_sales>
            <sales>
                <rewrite>
                    <order>Peppermint_Sales_Model_Order</order>
                    <order_status_history>Peppermint_Sales_Model_Order_Status_History</order_status_history>
                    <order_item>Peppermint_Sales_Model_Order_Item</order_item>
                </rewrite>
            </sales>
            <peppermint_sales_resource>
                <class>Peppermint_Sales_Model_Resource</class>
                <entities>
                    <additional_data>
                        <table>peppermint_sales_additional_data</table>
                    </additional_data>
                    <sap_fail>
                        <table>peppermint_sales_sap_fail</table>
                    </sap_fail>
                    <order_document>
                        <table>peppermint_sales_order_document</table>
                    </order_document>
                </entities>
            </peppermint_sales_resource>
        </models>
        <events>
            <sales_order_save_before>
                <observers>
                    <peppermint_orderstatus_remember_previous_state_status>
                        <type>singleton</type>
                        <class>peppermint_sales/status_observer</class>
                        <method>rememberPreviousStateAndStatus</method>
                    </peppermint_orderstatus_remember_previous_state_status>
                    <peppermint_orderstatus_set_complete_date>
                        <type>singleton</type>
                        <class>peppermint_sales/status_observer</class>
                        <method>setCompletedOnDate</method>
                    </peppermint_orderstatus_set_complete_date>
                    <peppermint_add_vin_to_order_on_save>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>addVinNumberToOrder</method>
                    </peppermint_add_vin_to_order_on_save>
                </observers>
            </sales_order_save_before>
            <sales_order_place_after>
                <observers>
                    <peppermint_add_prices_to_items_on_save>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>setItemPrices</method>
                    </peppermint_add_prices_to_items_on_save>
                    <peppermint_add_published_to_ds_date_on_save>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>setPublishedToDsDate</method>
                    </peppermint_add_published_to_ds_date_on_save>
                </observers>
            </sales_order_place_after>
            <sales_order_grid_prepare_columns>
                <observers>
                    <peppermint_sales_grid_add_columns>
                        <class>peppermint_sales/observer</class>
                        <method>salesOrderGridPrepareColumns</method>
                    </peppermint_sales_grid_add_columns>
                </observers>
            </sales_order_grid_prepare_columns>
            <checkout_submit_all_after>
                <observers>
                    <peppermint_sales_order_placed>
                        <class>peppermint_sales/observer</class>
                        <method>onOrderPlacedOtp</method>
                        <type>singleton</type>
                    </peppermint_sales_order_placed>
                </observers>
            </checkout_submit_all_after>
            <sales_order_prepare_invoice_register>
               <observers>
                    <peppermint_sales_order_observer_push_invoice_order_details_to_ds_on_prepare_invoice>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>sendInvoiceOrderDetailsToDsOnPrepareInvoice</method>
                    </peppermint_sales_order_observer_push_invoice_order_details_to_ds_on_prepare_invoice>
                    <peppermint_sales_lock_order_amend_prepare_invoice>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>lockOrderAmend</method>
                    </peppermint_sales_lock_order_amend_prepare_invoice>
                </observers>
            </sales_order_prepare_invoice_register>
            <sales_order_creditmemo_save_commit_after>
               <observers>
                    <peppermint_sales_order_push_creditmemo_refund_to_ds>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>pushRefundOrderDetailsToDs</method>
                    </peppermint_sales_order_push_creditmemo_refund_to_ds>
                </observers>
            </sales_order_creditmemo_save_commit_after>
            <peppermint_order_amendment_accepted>
                <observers>
                    <peppermint_sales_order_push_amend_accepted_to_ds>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>pushOrderAmendmentDetailsToDs</method>
                    </peppermint_sales_order_push_amend_accepted_to_ds>
                    <peppermint_sales_order_amend_accepted>
                        <class>peppermint_sales/observer</class>
                        <method>onMyAccountOrderAcceptedOtp</method>
                        <type>singleton</type>
                    </peppermint_sales_order_amend_accepted>
                </observers>
            </peppermint_order_amendment_accepted>
            <peppermint_order_tracking_arrived>
                <observers>
                    <peppermint_sales_order_push_arrived_to_ds>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>pushTrackingOrderArrivedDetailsToDs</method>
                    </peppermint_sales_order_push_arrived_to_ds>
                </observers>
            </peppermint_order_tracking_arrived>
            <peppermint_order_preretail_after>
                <observers>
                    <peppermint_sales_order_ship_push_in_transit_to_ds>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>pushOrderPreretailDetailsToDs</method>
                    </peppermint_sales_order_ship_push_in_transit_to_ds>
                </observers>
            </peppermint_order_preretail_after>
            <order_cancel_after>
                <observers>
                    <peppermint_orderstatus_model_observer_cancelled_order_status>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>pushOrderCanceledDetailsToDs</method>
                    </peppermint_orderstatus_model_observer_cancelled_order_status>
                    <peppermint_sales_unlock_order_amend_cancel_after>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>unlockOrderAmend</method>
                    </peppermint_sales_unlock_order_amend_cancel_after>
                </observers>
            </order_cancel_after>
            <rockar_order_email_prepare_variables>
                <observers>
                    <peppermint_sales_add_email_variables>
                        <class>peppermint_sales/observer_email</class>
                        <method>addEmailVariables</method>
                    </peppermint_sales_add_email_variables>
                </observers>
            </rockar_order_email_prepare_variables>
            <sales_order_status_history_save_before>
                <observers>
                    <rockar_sales>
                        <type>disabled</type>
                    </rockar_sales>
                    <peppermint_sales_add_admin_username_status_history>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>addAdminUserNameToHistory</method>
                    </peppermint_sales_add_admin_username_status_history>
                    <peppermint_sales_order_status_history_sanitize>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>sanitizeOrderStatus</method>
                    </peppermint_sales_order_status_history_sanitize>
                </observers>
            </sales_order_status_history_save_before>
            <peppermint_order_amendment_rejected>
                <observers>
                    <peppermint_push_order_amendment_details_to_ds>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>pushOrderAmendmentDetailsToDs</method>
                    </peppermint_push_order_amendment_details_to_ds>
                    <peppermint_sales_lock_order_amend_rejection>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>lockOrderAmendAfterAmendReject</method>
                    </peppermint_sales_lock_order_amend_rejection>
                </observers>
            </peppermint_order_amendment_rejected>
            <sales_quote_item_set_product>
                <observers>
                    <peppermint_sales_additional_attributes>
                        <class>peppermint_sales/observer</class>
                        <method>salesQuoteItemSetAdditionalAttributes</method>
                    </peppermint_sales_additional_attributes>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <resources>
            <peppermint_sales_setup>
                <setup>
                    <module>Peppermint_Sales</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </peppermint_sales_setup>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <additional_attributes/>
                        <fuel_type/>
                        <km/>
                        <transmission/>
                    </product_attributes>
                </item>
            </quote>
            <order>
                <states>
                    <closed translate="label">
                        <visible_on_front>0</visible_on_front>
                    </closed>
                </states>
            </order>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <additional_attributes>
                    <to_order_item>*</to_order_item>
                </additional_attributes>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <additional_attributes>
                    <to_quote_item>*</to_quote_item>
                </additional_attributes>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <events>
            <peppermint_checkout_controller_success_after>
                <observers>
                    <peppermint_checkout_push_order_details_to_ds>
                        <type>singleton</type>
                        <class>peppermint_sales/observer</class>
                        <method>pushOrderDetailsToDs</method>
                    </peppermint_checkout_push_order_details_to_ds>
                </observers>
            </peppermint_checkout_controller_success_after>
            <checkout_submit_all_after>
                <observers>
                    <peppermint_orderstatus_check_state_status_change>
                        <type>singleton</type>
                        <class>peppermint_sales/status_observer</class>
                        <method>checkStateAndStatusChanged</method>
                    </peppermint_orderstatus_check_state_status_change>
                </observers>
            </checkout_submit_all_after>
        </events>
        <layout>
            <updates>
                <peppermint_sales>
                    <file>peppermint/sales.xml</file>
                </peppermint_sales>
            </updates>
        </layout>
        <routers>
            <sales>
                <args>
                    <modules>
                        <peppermint_sales before="Rockar_Sales">Peppermint_Sales_Frontend</peppermint_sales>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_sales before="Mage_Adminhtml">Peppermint_Sales_Adminhtml</peppermint_sales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <peppermint_sales>
                    <file>peppermint/sales.xml</file>
                </peppermint_sales>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <peppermint_update_sales_order_grid>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_sales/cron::run</model>
                </run>
            </peppermint_update_sales_order_grid>
            <peppermint_sales_sap_resend>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_sales/cron::sapResend</model>
                </run>
            </peppermint_sales_sap_resend>
        </jobs>
    </crontab>
</config>
