#finance-filter {
    .finance-filter-wrapper {
        .title-wrapper {
            .filter-title {
                font-family: $mini-serif-bold;
                font-size: $mini-f-size-22;
                text-transform: uppercase;
            }
        }
    }
}