<?xml version="1.0"?>
<!--
/**
 * @category     Peppermint
 * @package      Peppermint\LeadTime
 * @author       Dumitru Mocanu <dumitru.mocanu@rockar.com>
 * @copyright    Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
*/
-->
<config>
    <modules>
        <Peppermint_LeadTime>
            <version>0.1.4</version>
        </Peppermint_LeadTime>
    </modules>
    <global>
        <models>
            <peppermint_leadtime>
                <class>Peppermint_LeadTime_Model</class>
                <resourceModel>peppermint_leadtime_resource</resourceModel>
            </peppermint_leadtime>
            <rockar_lead_time>
                <rewrite>
                    <lead_time>Peppermint_LeadTime_Model_Lead_Time</lead_time>
                    <observer_product>Peppermint_LeadTime_Model_Observer_Product</observer_product>
                </rewrite>
            </rockar_lead_time>
            <peppermint_leadtime_resource>
                <class>Peppermint_LeadTime_Model_Resource</class>
                <entities>
                    <reservation>
                        <table>peppermint_leadtime_reservation</table>
                    </reservation>
                </entities>
            </peppermint_leadtime_resource>
        </models>
        <resources>
            <peppermint_leadtime_setup>
                <setup>
                    <module>Peppermint_LeadTime</module>
                </setup>
            </peppermint_leadtime_setup>
        </resources>
        <helpers>
            <peppermint_leadtime>
                <class>Peppermint_LeadTime_Helper</class>
            </peppermint_leadtime>
            <rockar_lead_time>
                <rewrite>
                    <data>Peppermint_LeadTime_Helper_Data</data>
                </rewrite>
            </rockar_lead_time>
        </helpers>
        <events>
            <peppermint_import_products_after>
                <observers>
                    <peppermint_import_products_update_product_status>
                        <type>singleton</type>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>updateProductStatusesAfterProductSave</method>
                    </peppermint_import_products_update_product_status>
                </observers>
            </peppermint_import_products_after>
            <peppermint_order_expired_import_after>
                <observers>
                    <peppermint_order_expired_import_after_update_product_status>
                        <type>singleton</type>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>updateProductStatusesAfterLeadTimeSave</method>
                    </peppermint_order_expired_import_after_update_product_status>
                    <peppermint_import_availability_index_product_attribute>
                        <type>singleton</type>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>indexProductAttributesAfterLeadTimeImport</method>
                    </peppermint_import_availability_index_product_attribute>
                </observers>
            </peppermint_order_expired_import_after>
            <peppermint_import_availability_after>
                <observers>
                    <peppermint_import_availability_update_product_status>
                        <type>singleton</type>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>updateProductStatusesAfterLeadTimeSave</method>
                    </peppermint_import_availability_update_product_status>
                    <peppermint_import_availability_index_product_attribute>
                        <type>singleton</type>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>indexProductAttributesAfterLeadTimeImport</method>
                    </peppermint_import_availability_index_product_attribute>
                </observers>
            </peppermint_import_availability_after>
            <peppermint_order_deleted_after>
                <observers>
                    <peppermint_order_deleted_update_product_status>
                        <type>singleton</type>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>updateProductStatusesAfterLeadTimeSave</method>
                    </peppermint_order_deleted_update_product_status>
                    <peppermint_order_deleted_index_product_attribute>
                        <type>singleton</type>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>indexProductAttributesAfterLeadTimeImport</method>
                    </peppermint_order_deleted_index_product_attribute>
                </observers>
            </peppermint_order_deleted_after>
            <order_cancel_after>
                <observers>
                    <peppermint_order_cancelled_increase_amount>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>increaseLeadTimeAmountOrderCancel</method>
                    </peppermint_order_cancelled_increase_amount>
                    <peppermint_order_cancelled_remove_reservation>
                        <class>peppermint_leadtime/observer_reservation</class>
                        <method>removeCustomerReservation</method>
                    </peppermint_order_cancelled_remove_reservation>
                </observers>
            </order_cancel_after>
            <sales_order_creditmemo_save_commit_after>
               <observers>
                    <peppermint_order_creditmemo_increase_amount>
                        <type>singleton</type>
                        <class>peppermint_leadtime/observer_product</class>
                        <method>increaseLeadTimeAmountOrderRefund</method>
                    </peppermint_order_creditmemo_increase_amount>
                </observers>
            </sales_order_creditmemo_save_commit_after>
            <sales_order_place_after>
                <observers>
                    <peppermint_order_saved_remove_reservation>
                        <class>peppermint_leadtime/observer_reservation</class>
                        <method>removeCustomerReservation</method>
                    </peppermint_order_saved_remove_reservation>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <clean_old_vin_reservations>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_leadtime/observer_reservation::cleanupVinReservation</model>
                </run>
            </clean_old_vin_reservations>
        </jobs>
    </crontab>
</config>
