.my-test-drives {
    .test-drive-location-picker {
        background: transparent;
        height: 88px;
    }

    .popup {
        &.confirmation-popup {
            .popup-content {
                .content-wrapper {
                    div {
                        button {
                            &.button-narrow {
                                background: $call-to-action-btn-color;
                                border: 1px solid $call-to-action-btn-color;

                                span {
                                    span {
                                        color: $white;
                                    }
                                }

                                &:hover {
                                    background: $white;
                                    border: 1px solid $black;

                                    span {
                                        span {
                                            color: $black;
                                        }
                                    }
                                }

                                &.button-empty-blue-lagoon {
                                    background-color: transparent;
                                    border: 1px solid $black;
                                    height: unset;
                                    width: 100%;

                                    span {
                                        color: $black;
                                    }

                                    &:hover {
                                        background-color: $black;

                                        span {
                                            color: $white;
                                        }
                                    }

                                    &.popup-cancel {
                                        height: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & &-mobile {
        button {
            max-width: unset;
            &.button-edit {
                margin-bottom: 10px;

                &::after {
                    content: none
                }
            }

            &.button-narrow {
                background-color: transparent;
                border: 1px solid $black;
                color: $black;
                height: unset;
                width: 100%;

                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }

    .two-buttons {
        .button-edit {
            &::after {
                content: none
            }
        }

        .button-empty {
            background-color: transparent;
            border: 1px solid $cool-grey;
            color: $black;

            &:hover {
                background-color: $black;
                color: $white;
            }
        }

        .popup-container {
            button {
                &.button-narrow {
                    &.button-empty-blue-lagoon {
                        &.popup-cancel {
                            @include confirmation-modal-btn;
                        }
                    }
                }

                &.button-default {
                    &.button-narrow {
                        &.button-blue-lagoon {
                            &.popup-confirm {
                                @include confirmation-modal-btn;
                            }
                        }
                    }
                }
            }
        }
    }

    .align-right-tablet {
        float: right;

        .button-rebook {
            width: 100%;
        }
    }

    & .upcoming-test-drive {
        .car-extras {
            p {
                display: inline;
            }
        }

        .button-empty {
            background-color: transparent;
            border: 1px solid $cool-grey;
            color: $black;

            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }

    & .test-drive-requests {
        padding: 0 0 1.9em;
        margin-bottom: 1.9em;
        border-bottom: 1px solid $my-account-horizontal-break-color;

        & .upcoming-test-drive {
            padding-top: 1.9em;
            margin-top: 1.9em;
            border-top: 1px solid $my-account-horizontal-break-color;

            &:first-of-type {
                padding-top: 0;
                border: 0;
            }
        }
    }

    &-mobile {
        .hero-buttons {
            .popup-container {
                button {
                    &.button-narrow {
                        &.button-empty-blue-lagoon {
                            &.popup-cancel {
                                span span {
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
