$button-height-padding: 1.45em;
$button-width-padding: 1.55em;
$expand-collapse-border-color: 1px solid $c-grey-3;
$expand-collapse-border-color-hover: 1px solid $c-grey-4;
$button-narrow-height-padding: .6625em;
$button-narrow-bottom-height-padding: .5625em;
$button-back-narrow-height-padding: 1.1em;
$button-order-confirm-height-padding: 1.15em;
$heading-font-weight: 400;

//////Paragraph variables //////
$base-letter-spacing: 0;

////// Set Your Budget //////
$input-field-height: 50px;
$input-field-width: 200px;
$max-input-field-width: 100%;

////// Set Your Budget //////
$max-button-width: 285px;
$finance-selection-range-sliders-height: $input-field-height;
$bmw-active-nav: solid 4px $bmw-blue;
$bmw-nav: solid 4px $white;

// Navigation //
$navigation-desktop-height: 426px;
$navigation-on-light-desktop-height: 160px;
$navigation-mobile-height: 120px;
$navigation-on-light-mobile-height: 60px;
$navigation-link-height: 118px;
