&-step {
    @include flex(1);
    counter-increment: navigation-steps -1;
    text-align: center;
    position: relative;
    font-family: $brand-specific-font;

    &:last-child {
        &::after {
            display: none;
        }
    }

    &::after {
        @include pseudo;

        right: calc(50% + #{$ns-step-number-size-l-screen});
        height: 0;
        width: calc(100% - #{$ns-step-number-size-l-screen * 2});
        top: $ns-step-number-size-l-screen / 2;
        border-top: {
            width: 1px;
            style: $ns-active-step-line-bs;
            color: $ns-active-step-line-bc;
        }

        @include media($small-screen-down) {
            right: calc(50% + #{($ns-step-number-size-s-screen * 1.5) / 2});
            width: calc(100% - #{$ns-step-number-size-s-screen * 1.5});
            top: $ns-step-number-size-s-screen / 2;
        }
    }

    &.current {
        &::after {
            border-top: {
                style: $ns-passed-step-line-bs;
                color: $ns-passed-step-line-bc;
            }
        }

        .number {
            color: $ns-active-step-number-c;
            font-size: $ns-active-navigation-steps-font-size-l-screen;

            @include media($small-screen-down) {
                font-size: $ns-active-navigation-steps-font-size-s-screen;
            }
        }

        .description {
            color: $ns-active-step-description-c;
        }
    }

    &.current ~ .navigation-step,
    &.checked {
        cursor: pointer;
        padding-top: 4px;

        &::after {
            border-top: {
                style: $ns-passed-step-line-bs;
                color: $ns-passed-step-line-bc;
            }
        }

        .number {
            position: relative;
            border-radius: 50%;
            background-color: $grey-2;
            width: $ns-passed-step-number-size-l-screen;
            height: $ns-passed-step-number-size-l-screen;
            font-family: $brand-specific-font;
            margin: 14px auto 4px;

            @include media($small-screen-down) {
                width: $ns-passed-step-number-size-s-screen;
                height: $ns-passed-step-number-size-s-screen;
            }

            &::before {
                @include pseudo;

                top: 3px;
                left: 0;
                right: 0;
                margin: auto;
                width: 9px;
                height: 16px;
                border: solid $ns-passed-step-number-c;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);

                @include media($small-screen-down) {
                    top: 5px;
                    border-width: 0 2px 2px 0;
                    width: 7px;
                    height: 12px;
                }
            }
        }

        .description {
            margin-top: 0;
        }
    }

    p {
        margin: 0;
    }

    .number {
        display: inline-block;
        height: $ns-step-number-size-l-screen;
        width: $ns-step-number-size-l-screen;
        font: {
            family: $ns-description-font;
            size: $ns-inactive-navigation-steps-font-size-l-screen;
            weight: $fw-semibold;
            style: italic;
        }
        color: $ns-future-step-number-c;
        line-height: $ns-step-number-size-l-screen;

        @include media($small-screen-down) {
            height: $ns-step-number-size-s-screen;
            width: $ns-step-number-size-s-screen;
            font-size: $ns-inactive-navigation-steps-font-size-s-screen;
            line-height: $ns-step-number-size-s-screen;
        }

        &::before {
            content: counter(navigation-steps);
        }
    }

    .description {
        color: $ns-future-step-description-c;
        margin: 2px 5px 0;
        text-transform: none;
        letter-spacing: $ns-description-letter-spacing-l-screen;
        font: {
            family: $ns-description-font;
            weight: $motorrad-fw-normal;
            size: $ns-description-font-size;
        }

        @include media($small-screen-down) {
            margin: 2px 3px 0;
            letter-spacing: $ns-description-letter-spacing-s-screen;
            font-size: $f-size-5xs;
        }
    }
}
