<?xml version="1.0"?>
<!--
/**
 * @category     Peppermint
 * @package      Peppermint_PartExchange
 * @author       Cosmin Chidovat <chidovat.cosmin@rockar.com>, Razvan Zofota <razvan.zofota@rockar.com>, Lucian Mesaros <lucian.mesaros@rockar.com>
 * @copyright    Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
*/
-->
<config>
    <modules>
        <Peppermint_PartExchange>
            <version>0.1.13</version>
        </Peppermint_PartExchange>
    </modules>
    <global>
        <blocks>
            <peppermint_partexchange>
               <class>Peppermint_PartExchange_Block</class>
            </peppermint_partexchange>
            <rockar_partexchange>
                <rewrite>
                    <adminhtml_reports>Peppermint_PartExchange_Block_Adminhtml_Reports</adminhtml_reports>
                    <adminhtml_reports_view_form>Peppermint_PartExchange_Block_Adminhtml_Reports_View_Form</adminhtml_reports_view_form>
                    <adminhtml_conditions_edit>Peppermint_PartExchange_Block_Adminhtml_Conditions_Edit</adminhtml_conditions_edit>
                    <adminhtml_conditions_edit_tabs>Peppermint_PartExchange_Block_Adminhtml_Conditions_Edit_Tabs</adminhtml_conditions_edit_tabs>
                    <adminhtml_order_view_partExchange>Peppermint_PartExchange_Block_Adminhtml_Order_View_PartExchange</adminhtml_order_view_partExchange>
                    <adminhtml_promotions_rule_grid>Peppermint_PartExchange_Block_Adminhtml_Promotions_Rule_Grid</adminhtml_promotions_rule_grid>
                    <adminhtml_promotions_rule_edit>Peppermint_PartExchange_Block_Adminhtml_Promotions_Rule_Edit</adminhtml_promotions_rule_edit>
                    <adminhtml_promotions_rule>Peppermint_PartExchange_Block_Adminhtml_Promotions_Rule</adminhtml_promotions_rule>
                    <filters>Peppermint_PartExchange_Block_Filters</filters>
                    <checkout>Peppermint_PartExchange_Block_Checkout</checkout>
                </rewrite>
           </rockar_partexchange>
        </blocks>
        <models>
            <peppermint_partexchange>
                <class>Peppermint_PartExchange_Model</class>
                <resourceModel>peppermint_partexchange_resource</resourceModel>
            </peppermint_partexchange>
            <rockar_partexchange>
                <rewrite>
                    <observer>Peppermint_PartExchange_Model_Observer</observer>
                    <promotions_validator>Peppermint_PartExchange_Model_Promotions_Validator</promotions_validator>
                    <promotions_rule>Peppermint_PartExchange_Model_Promotions_Rule</promotions_rule>
                </rewrite>
            </rockar_partexchange>
            <rockar_partexchange_resource>
                <rewrite>
                    <promotions_rule>Peppermint_PartExchange_Model_Resource_Promotions_Rule</promotions_rule>
                </rewrite>
            </rockar_partexchange_resource>
            <peppermint_partexchange_resource>
                <class>Peppermint_PartExchange_Model_Resource</class>
                <entities>
                    <promotions_pending>
                        <table>peppermint_partexchange_promotions_pending</table>
                    </promotions_pending>
                </entities>
            </peppermint_partexchange_resource>
        </models>
        <helpers>
            <peppermint_partexchange>
                <class>Peppermint_PartExchange_Helper</class>
            </peppermint_partexchange>
            <rockar_partexchange>
                <rewrite>
                    <data>Peppermint_PartExchange_Helper_Data</data>
                </rewrite>
            </rockar_partexchange>
        </helpers>
        <resources>
            <peppermint_partexchange_setup>
                <setup>
                    <module>Peppermint_PartExchange</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </peppermint_partexchange_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <rockar_partexchange>
               <args>
                   <modules>
                       <peppermint_partexchange before="Rockar2_PartExchange">Peppermint_PartExchange</peppermint_partexchange>
                   </modules>
               </args>
           </rockar_partexchange>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_partexchange before="Rockar_PartExchange_Adminhtml">Peppermint_PartExchange_Adminhtml</peppermint_partexchange>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <rockar_partexchange_reports_grid_prepare_columns>
                <observers>
                    <peppermint_partexchange_reports_grid_prepare_before>
                        <class>peppermint_partexchange/observer</class>
                        <method>setCustomHeader</method>
                    </peppermint_partexchange_reports_grid_prepare_before>
                </observers>
            </rockar_partexchange_reports_grid_prepare_columns>
            <rockar_partexchange_conditions_checkboxes_save_before>
                <observers>
                    <peppermint_partexchange_conditions_checkboxes_sanitize>
                        <type>singleton</type>
                        <class>peppermint_partexchange/observer</class>
                        <method>sanitizePartexchangeCheckboxes</method>
                    </peppermint_partexchange_conditions_checkboxes_sanitize>
                </observers>
            </rockar_partexchange_conditions_checkboxes_save_before>
            <rockar_partexchange_conditions_slider_save_before>
                <observers>
                    <peppermint_partexchange_conditions_slider_sanitize>
                        <type>singleton</type>
                        <class>peppermint_partexchange/observer</class>
                        <method>sanitizePartexchangeSlider</method>
                    </peppermint_partexchange_conditions_slider_sanitize>
                </observers>
            </rockar_partexchange_conditions_slider_save_before>
        </events>
        <menu>
            <promo>
                <children>
                    <rockar_partexchange>
                        <disabled>1</disabled>
                    </rockar_partexchange>
                </children>
            </promo>
        </menu>
   </adminhtml>
    <crontab>
        <jobs>
            <partexchange_promotions_apply_all>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_partexchange/promotions_cron::dailyPxPromptionsUpdate</model>
                </run>
            </partexchange_promotions_apply_all>
        </jobs>
    </crontab>
</config>
