&-steps-block {
    @include media($small-screen-down) {
        padding: 10px 0;
        border-bottom: 1px solid $grey-2;
    }

    &-wrapper {
        @include media($small-screen-down) {
            margin-left: 30%;
        }
    }
}
