.vrm-confirmation-popup {
    .content-wrapper {
        .values {
            font-size: $f-size;
            margin: 20px 0;

            .main {
                font-weight: $fw-bold;
            }
        }
    }
}
