<div id="terms-conditions">
    <p>This offer to purchase (“<b>Offer</b>”) is made by BMW (South Africa) (Pty) Ltd (“<b>BMW</b>”) to the Customer (as identified on the previous page) subject to the following terms and conditions (“<b>OTP</b>”):</p>
    <ol>
        <li><span class="terms-conditions-titles">Registration and use of the BMW’s Digital Sales Platform (the “DSP”)</span>
            <ol>
                <li>Only registered Customers may accept the Offer on the DSP.</li>
                <li>To register as a Customer, the Customer must provide a unique username and password and provide certain information and personal details to BMW through the use of the DSP. You, as the Customer, will need to use your unique username and password to access the DSP in order to accept the Offer as it relates to the purchasing of the vehicle.</li>
                <li>The Customer agrees and warrants that its username and password shall:
                    <ol>
                        <li>be used for the Customer’s personal use only; and</li>
                        <li>not be disclosed by the Customer to any third party.</li>
                    </ol>
                </li>
                <li>For security and safety purposes, the Customer agrees to enter the correct username and password whenever the Customer intends to order a vehicle via the DSP and accept the Offer as it pertains to the ordered vehicle, failing which the Customer will be denied access to the DSP. <b>The Customer agrees that, once the correct username and password relating to the Customer’s account have been entered, irrespective of whether the use of the username and password is unauthorised or fraudulent, the Customer will be liable for payment of such Offer once accepted via the DSP, save where the Offer is cancelled by the Customer in terms of this OTP.</b></li>
                <li>The Customer undertakes and agrees to notify BMW immediately upon becoming aware of, or reasonably suspecting, any unauthorised access to or use of the Customer’s username and password and to take steps to mitigate any resultant loss or harm therefrom.</li>
                <li><b>By using the DSP the Customer hereby warrants that the Customer is (i) not under the age of 18 (eighteen) years and (ii) of full legal capacity and/or duly authorised in the context of representing a juristic person. If the Customer is under the age of 18 (eighteen) or is not legally permitted to enter into a binding agreement, then in such an event the Customer may use the DSP only with the involvement and supervision of the Customer’s parent or legal guardian. If the Customer’s parent or legal guardian supervises the said Customer and gives his/her consent, then such person agrees to be bound to this OTP and to be liable and responsible for the concerned Customer and assumes, for and on behalf of such a Customer, all the obligations under the terms and conditions of this OTP.</b></li>
                <li><b>In the event that the Customer is a juristic person, the authorised representative of such a Customer hereby confirms and warrants that  s/he is duly authorised and empowered to act on behalf of the said juristic person with regard to the subject-matter contained herein (including inter alia to register an account on the DSP, acceptance of the Offer as well as binding the juristic person to the terms of this OTP). Upon BMW’s request, the authorised person shall provide the necessary and relevant documentary proof within 2 (two) business days of the said request which evinces that s/he is duly authorised as aforesaid.</b></li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Offer:</span>
            <ol>
                <li>By accepting this Offer on the DSP (ie upon clicking on the “Place Order” button), the Customer hereby accepts:
                    <ol>
                        <li>the purchase of the vehicle (including accessories, where applicable) in cash from BMW (acting through the customer’s preferred or chosen BMW Approved Agent); or</li>
                        <li>at the Customer's election, to procure the purchase of the vehicle (including accessories, where applicable) by a finance company from BMW (acting through the customer’s preferred or chosen BMW Approved Agent) for the Customer’s benefit and/or use.</li>
                    </ol>
                </li>
                <li>The Customer acknowledges that this Offer arises from the Customer having visited or approaching BMW Approved Agent (acting on behalf of BMW) and specially ordering the vehicle (including accessories, where applicable) through the DSP.</li>
                <li>In the event that this Offer arises in respect of a vehicle which the Customer has selected on BMW’s premises (or any other premises utilised by BMW from time to time to sell such vehicle which may also include that of a BMW Approved Agent) then the Customer confirms that the Customer has inspected the vehicle (including accessories, where applicable) displayed on the said premises and found it to be fit and suitable for the Customer's purposes.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Acceptance:</span>
            <p>Subject at all times to the provisions of clause 18.7 below, -</p>
            <ol>
                <li>the Offer made by BMW is open to acceptance by the Customer and once accepted as contemplated in clause 3.2 below, may not be withdrawn by the Customer.</li>
                <li>the Customer hereby, upon clicking on the “Place Order” button, accepts this Offer. A valid and binding agreement shall only come into effect once this Offer has been accepted by the Customer in the DSP as aforesaid. As such, BMW does not bind itself to any Offer unless it has been duly accepted by the Customer on the DSP.</li>
                <li><b>The Customer acknowledges that the availability of all vehicles (including accessories, where applicable) on offer may be limited and that pricing may change at any time without notice to the Customer as such pricing may also be dependent on fluctuations in the financial markets that cannot be controlled by BMW as the supplier.</b></li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Finance:</span>
            <ol>
                <li>Where the Customer elects to finance the vehicle (including accessories, where applicable) through a finance company and the finance company approves the transaction, then the BMW Authorised Agent (acting on behalf of BMW) agrees to sell the vehicle (including accessories, where applicable) to the finance company on the terms and conditions set out herein, and the references to "Customer" in this OTP shall, where appropriate, refer to such finance company.</li>
                <li>In the event of the Customer electing to have a vehicle (including accessories, where applicable) financed by a finance company, the Customer undertakes to take all steps necessary to conclude the necessary agreements with the finance company but in any case no later than 5 (five) days after having accepted this Offer (failing which the Offer shall be cancelled at the sole discretion of BMW).</li>
                <li>Without in any way detracting from the Customer's obligations, the BMW Authorised Agent (acting on behalf of BMW) may provide administrative assistance to the Customer in procuring finance for the vehicle (including accessories, where applicable) through a finance company and/or insurance for the Customer. <b>In such an event, the Customer waives all rights which it may have to take action against, and indemnifies and holds harmless BMW (including directors, employees and agents) against any and all claims, losses and damages of whatsoever nature arising, directly or indirectly, from such assistance or the failure to provide such assistance. Without limitation, this includes losses which may be suffered by the Customer as a result of the Customer being able to obtain lower finance rates from another finance company or lower insurance premiums.</b></li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Price:</span>
            <ol>
                <li>Subject to the provisions of clause 5.2 below, the price payable by the Customer for the vehicle shall be the price for the vehicle as stipulated in the Offer. The Customer agrees to pay any Valued Added Tax (or other tax levies that may be payable on the purchase price or the taxable component thereof).</li>
                <li><b>The Customer hereby confirms and agrees that s/he (or it) has been informed that the vehicle is subject to periodic price increases by the manufacturer/importer as a result of inflationary increases or exchange rate fluctuations. In such an event, the Customer undertakes and agrees that s/he (or it) will not be entitled to cancel this Offer for the said reason and further agrees to be bound to the applicable price increase which will be communicated to the Customer as soon as it is practicably possible but in any case no later than 3 (three) business days of the Customer having accepted the Offer.</b></li>
                <li>In respect of any other price increase, other than that is specified in 5.2, the Customer has the right to cancel this Offer subject to 7.2 or 7.3 as the case may be.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Errors:</span>
            <ol>
                <li><b>BMW shall take all reasonable efforts to accurately reflect the description, availability, purchase price and delivery charges (if any) of vehicle that is purchased under the terms of this OTP on the DSP. However, should there be any errors of whatsoever nature on the DSP (which are not due to BMW’s negligence), BMW shall not be liable for any loss, claim or expense relating to a transaction based on any error, save – in the case of any incorrect purchase price – to the extent of refunding the Customer for any amount already paid, or otherwise as may be governed by any applicable legislation.</b></li>
                <li><b>BMW shall not be bound by any incorrect information regarding the vehicles (including accessories, where applicable) displayed on any third party websites.</b></li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Deposit:</span>
            <ol>
                <li>In the event that the Customer has paid a deposit to a BMW Authorised Agent, then such an agent will hold this deposit in a separate non-interest bearing account for and on behalf of BMW.</li>
                <li>The deposit will be deducted from the balance of the purchase price or in the event that the Customer is in breach of this Offer or if the Customer is thereafter entitled to cancel this Offer then BMW may retain the deposit amount and deduct a reasonable cancellation fee from the deposit amount. The BMW Approved Agent (acting on behalf of BMW) will refund the balance, if any, to the Customer.</li>
                <li>Where an ordered vehicle that is subject to the terms of this OTP and has been specially manufactured in accordance with the Customer’s specifications or personal preferences then in such an event the Customer is required to pay an amount (prescribed by BMW in its sole discretion) as a deposit towards the purchase price of the vehicle. Such an amount shall not be refundable to the Customer in the event that this Offer is cancelled for whatever reason which may be permitted in law.</li>
                <li>The Customer will still remain liable to BMW for the balance of any amount owing to BMW in the event that the deposit amount is insufficient to cover the reasonable cancellation costs of BMW.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Delivery:</span>
            <ol>
                <li>While every effort will be made by BMW (including through the BMW Approved Agents or other service providers) to ensure delivery of the vehicle (including accessories, where applicable) to the Customer by the date requested, BMW undertakes to notify the customer in the event the vehicle (including accessories, where applicable) will not be delivered by the requested date. Subject to the availability of the vehicle, registration of the vehicle and delivery will be given to the Customer as soon as the purchase price is paid in full by the Customer to BMW.</li>
                <li>Where the Customer prefers to have his/her vehicle (together with any purchased accessories, where applicable) to be delivered at his/her residential place or any other nominated address (“<b>Home Delivery</b>”), he must click the appropriate button on the DSP.</li>
                <li>The arrangements pertaining to the Home Delivery must be arranged with the relevant Agent.</li>
                <li>The Home Delivery, as an “add-on service”, will be undertaken by the relevant Agent at no additional cost to the Customer. The Customer shall not be charged for any transport and logistic insurance which may be associated with the Home Delivery.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Risk and Ownership:</span>
            <ol>
                <li><b>Risk in the vehicle (including accessories, where applicable) shall pass to the Customer upon delivery.</b></li>
                <li><b>Ownership in the vehicle (including accessories, where applicable) shall pass to the Customer upon payment of the purchase price by the Customer and receipt thereof by BMW (or the relevant BMW Approved Agent).</b></li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Warranty and Motorplan:</span>
            <ol>
                <li>If the vehicle is a new vehicle, the vehicle is sold subject to the warranty given by BMW in the Customer Service booklet/Owner's handbook.</li>
                <li>In the event of the vehicle being a used vehicle, the warranty given by BMW to the Customer, if any, will be that contained in the written warranty booklet issued by BMW to the Customer at the time of delivery of the vehicle.</li>
                <li>Save as set out above, the vehicle is sold in the condition in which it is and no representations, warranties or other promises have been made or given by or on behalf of BMW concerning the state or condition of the vehicle.</li>
                <li>In the event that the vehicle is present on BMW’s premises (or any other premises that may be utilised by BMW from time to time to sell such vehicle) at the time of this Offer then in such an event the Customer agrees to purchase the vehicle in its current condition.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Use of the vehicle:</span>
            <p><b>The Customer is aware that the vehicle, and it various parts, are goods that could be dangerous and hazardous, and that if used contrary to specifications and/or instructions and/or applicable laws (if any), or if used incorrectly, or inappropriately, or in a manner or for a purpose for which these type of goods were not designed, or if the Customer abuses or misuses the goods then the goods could cause damage and harm to the Customer and others.</b></p>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Non-Rejection:</span>
            <p>If the vehicle is new, the Customer shall not be entitled to reject it merely because:</p>
            <ol>
                <li>the specifications or equipment of the vehicle have been changed by the manufacturer, unless the change substantially alters the nature of the vehicle; or</li>
                <li>the vehicle has been driven under its own power, with or without mileage being recorded on the speedometer, for the purposes of delivering the vehicle from the assembly plant or other point to BMW for delivery; or</li>
                <li>the vehicle has sustained minor damage while being delivered or tested in the manner set out in 12.2 above, provided that the vehicle has been reinstated to its former condition.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Fitment of certain Accessories::</span>
            <ol>
                <li>The BMW Approved Agent will, in its own name and for its own account, be entitled to charge labour costs in the event the accessories purchased by the Customer requires technical installation.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Cancellation:</span>
            <ol>
                <li>Where applicable and considering that the Offer constitutes an “electronic transaction”, the Customer’s right to cancel this OTP is only limited to the right expressly provided for in terms of chapter VII of the Electronic Communications and Transactions Act No. 25 of 2002 (as amended).</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Trade-In:</span>
            <ol>
                <li>Where the Customer wishes to trade-in a vehicle, the Customer hereby sells the trade-in vehicle identified overleaf to the BMW Approved Agent and the concerned BMW Approved Agent offers to purchase the trade-in vehicle from the Customer as an integral part of this transaction. For the avoidance of doubt, the trade-in vehicle will not be bought by BMW but by the concerned BMW Approved Agent on the terms and subject to the conditions agreed to by both the BMW Approved Agent and the Customer.</li>
                <li>The Customer hereby warrants in respect of the trade-in vehicle that:
                    <ol>
                        <li>the Customer is the owner of the trade-in vehicle;</li>
                        <li>the trade-in vehicle has never been stolen or reported as stolen or been subject to a hijacking;</li>
                        <li>no person other than the Customer has any interest of whatsoever nature in the trade-in vehicle;</li>
                        <li>the trade-in vehicle is fully paid for and is not subject to any encumbrance of whatsoever nature including, without limitation, that the vehicle is not subject to any instalment sale or lease agreement save as is otherwise expressly recorded in writing overleaf;</li>
                        <li>all the details given to the BMW Approved Agent (acting on its own behalf and account) by the Customer in regard to the trade-in vehicle, such as, but not limited to, the year of first registration and the mileage travelled by the vehicle traded in are correct and complete; and</li>
                        <li>the Customer has made full disclosure to the BMW Approved Agent (acting on its own behalf and account) in writing of all material information pertaining to the trade-in vehicle including, without limitation, details of all (if any) previous collisions which the vehicle has been involved in, whether or not such collisions occurred while the Customer was the owner or driver of the vehicle;</li>
                        <li>the Customer is not aware of any defects in the trade-in vehicle; and</li>
                        <li>neither the BMW Approved Agent (acting on its own behalf and account) nor any person to whom the trade-in vehicle may be sold, will be evicted or deprived of the peaceful possession of the trade-in vehicle.</li>
                    </ol>
                </li>
                <li>The Customer agrees that the BMW Approved Agent (acting on its own behalf and account) may reduce the value of the vehicle traded-in, if in the opinion of the BMW Approved Agent (acting on its own behalf and account) the vehicle traded-in is not in the same condition on date of delivery as it was when the BMW Approved Agent (acting on its own behalf and account) valued the trade-in vehicle, or if the year of manufacture and/or date of registration or any other information supplied in respect of the trade-in vehicle is incorrect.</li>
                <li><b>The Customer acknowledges that the Customer is liable to BMW Approved Agent (acting on its own behalf and account) for the trade-in surplus amount, where applicable, as specified in the overleaf, in the event of a breach by the Customer.</b></li>
                <li>In addition to any clause in this Offer which is expressly identified as a stipulatio alteri, the provisions in this OTP which are expressed in favour of the BMW Approved Agent (acting on its own behalf and account), shall constitute a stipulatio alteri in favour of the said BMW Approved Agent which is not a party hereto, and capable of acceptance at any time without notice to any party hereto.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Breach:</span>
            <p>Where either party commits any breach and fails to remedy such breach within 7 days of receiving a written notice from the aggrieved party to remedy such breach, then the aggrieved party shall be entitled to:</p>
            <ol>
                <li>claim specific performance; or</li>
                <li>cancel this Offer and, where such breach relates to the trade-in vehicle, to recover from the Customer all payments made by the BMW Approved Agent (acting on its own behalf and account) in respect of the trade-in vehicle, in either case without limitation on the right of BMW or of the BMW Approved Agent (acting on its own behalf and account) to claim damages, including, without limitation, all legal costs on an attorney-client scale, from the Customer or to take other legal action against the Customer; or</li>
                <li>claim any other relief.</li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Signature of Documents:</span>
            <p>The parties undertake to sign, execute and deliver to each other and/or to any other authority, all documents necessary to give effect to the provisions of this Offer. This will include the appropriate registration papers and other material relating to the vehicle as may be specified by the BMW Approved Agent (acting on behalf of BMW).</p>
        </li>
        <br>
        <li><span class="terms-conditions-titles">Limitation of liability</span>
            <ol>
                <li>BMW does not accept liability and cannot be held liable for any inaccurate information published on the DSP and/or any incorrect prices displayed on the DSP, save where such liability arises from the gross negligence or wilful misconduct of BMW, its employees, agents or authorised representatives. The Customer are encouraged to contact BMW to report any possible malfunctions or errors.</li>
                <li><b>BMW shall not be liable for any direct, indirect, incidental, special or consequential loss or damages which might arise from the Customer’s use of, or reliance upon, the DSP or the content contained in the DSP; or the Customer’s inability to use the DSP, and/or unlawful activity on the DSP and/or any linked third party website.</b></li>
                <li><b>The Customer hereby indemnifies BMW against any loss, claim or damage which may be suffered by the Customer or any third party arising in any way from the Customer’s use of the DSP and/or any linked third party website.</b></li>
                <li><b>BMW’s liability, if any, under the terms of this Offer shall be limited to the value of the amount that may have been received by it from the Customer.</b></li>
            </ol>
        </li>
        <br>
        <li><span class="terms-conditions-titles">General:</span>
            <ol>
                <li>No variation of the provisions of this Offer, including this clause, shall be of any force unless reduced to writing and signed by all the parties. This Offer supersedes and replaces all prior commitments, undertakings or representations, whether oral or written, between the parties in respect of the subject matter hereof, including any prior agreement that may have been concluded between the parties in relation to the subject matter hereof</li>
                <li>No latitude, extension or other indulgence which may have been given or allowed by either party ("<b>the grantor</b>") to the other in respect of any obligation hereunder shall under any circumstances operate as a waiver or novation of, or otherwise affect, any of the grantor's rights in terms hereof or arising herefrom, or preclude the grantor from enforcing at any time and without notice, strict and punctual compliance with each and every provision or term hereof.</li>
                <li>This Offer (including its validity, existence and implementation, the interpretation and application of its provisions, the respective rights and obligations of the parties in terms of and arising out of the conclusion, breach and termination of the provisions of this Offer) shall be interpreted and governed in all respects by the laws of the Republic of South Africa.</li>
                <li>The Customer chooses as the Customer's service address for all notices and legal process, the address set out on the previous page.</li>
                <li>Notwithstanding anything else contained herein to the contrary, BMW shall have the right at any time prior to delivery of the vehicle, to cancel this Offer provided that written reason/s for such cancellation and reasonable notice is provided by BMW to the Customer. This Offer will be cancelled on the date on which the Customer receives the said notice. In this event the liability towards the Customer shall be limited to a refund of any amount paid by the Customer to the BMW Approved Agent (acting on behalf of BMW).</li>
                <li>If any provision of this Offer is or becomes invalid or unenforceable, such provision shall be considered severable and be regarded as pro non scripto, and the remainder of this Offer shall be regarded as valid and binding.</li>
                <li>BMW reserves the right to terminate or cancel this Offer (notwithstanding its acceptance by the Customer) for any reason whatsoever (which may include but is not limited to the Customer’s name appearing on any of the globally recognised Sanctioned Parties List) without attracting or incurring any liability whatsoever to the Customer.</li>
            </ol>
        </li>
    </ol>

    <p style="color: red;"><b>By proceeding to accept this offer (i.e. upon clicking on the “Place Order” button) I, the Customer, hereby confirm and warrant that (i) I have the necessary legal authority to accept the offer and I am bound by the terms of this Offer To Purchase; (ii) I have read and understood the provisions of this offer and; (iii) the bolded clauses have been drawn to my attention and are duly accepted.</b></p>
</div>
</div>
</body>
</html>
