&-steps-block {
    @include media($small-screen-down) {
        padding: 10px 0 0 0;
        border-bottom: 1px solid $c-grey-5;
    }

    &-wrapper {
        @include display(flex);
        margin-left: auto;
        margin-right: auto;
    }
}
