<?xml version="1.0"?>
<!--
/**
 * @category     Peppermint
 * @package      Peppermint_Catalog
 * @author       Dominic Sutton <dominic.sutton@rockar.com>
 * @copyright    Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <modules>
        <Peppermint_Catalog>
            <version>0.1.6</version>
        </Peppermint_Catalog>
    </modules>
    <global>
        <resources>
            <peppermint_catalog_setup>
                <setup>
                    <module>Peppermint_Catalog</module>
                </setup>
            </peppermint_catalog_setup>
        </resources>
        <helpers>
            <peppermint_catalog>
                <class>Peppermint_Catalog_Helper</class>
            </peppermint_catalog>
            <rockar_catalog>
                <rewrite>
                    <attributes>Peppermint_Catalog_Helper_Attributes</attributes>
                    <images>Peppermint_Catalog_Helper_Images</images>
                    <vehicle>Peppermint_Catalog_Helper_Vehicle</vehicle>
                </rewrite>
            </rockar_catalog>
            <rockar2_catalog>
                <rewrite>
                    <collection_sort>Peppermint_Catalog_Helper_Collection_Sort</collection_sort>
                    <filter>Peppermint_Catalog_Helper_Filter</filter>
                </rewrite>
            </rockar2_catalog>
        </helpers>
        <models>
            <peppermint_catalog>
                <class>Peppermint_Catalog_Model</class>
                <resourceModel>peppermint_catalog_resource</resourceModel>
            </peppermint_catalog>
            <rockar_catalog>
                <rewrite>
                    <observer_vehicle>Peppermint_Catalog_Model_Observer_Vehicle</observer_vehicle>
                    <catalog_product_update_configurable>Peppermint_Catalog_Model_Catalog_Product_Update_Configurable</catalog_product_update_configurable>
                </rewrite>
            </rockar_catalog>
            <rockar2_catalog>
                <rewrite>
                    <observer>Peppermint_Catalog_Model_Observer</observer>
                    <adminhtml_catalog_source_frontendType>Peppermint_Catalog_Model_Adminhtml_Catalog_Source_FrontendType</adminhtml_catalog_source_frontendType>
                </rewrite>
            </rockar2_catalog>
            <catalog>
                <rewrite>
                    <product>Peppermint_Catalog_Model_Product</product>
                    <layer>Peppermint_Catalog_Model_Layer</layer>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_indexer_price>Peppermint_Catalog_Model_Resource_Product_Indexer_Price</product_indexer_price>
                    <layer_filter_attribute>Peppermint_Catalog_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
            <peppermint_catalog_resource>
                <class>Peppermint_Catalog_Model_Resource</class>
                <entities>
                    <matrix_mapping>
                        <table>peppermint_catalog_matrix_mapping</table>
                    </matrix_mapping>
                </entities>
            </peppermint_catalog_resource>
        </models>
        <blocks>
            <peppermint_catalog>
                <class>Peppermint_Catalog_Block</class>
            </peppermint_catalog>
            <catalog>
                <rewrite>
                    <product_view>Peppermint_Catalog_Block_Product_View</product_view>
                    <product_list>Peppermint_Catalog_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <rockar_catalog>
                <rewrite>
                    <product_standardFeatures>Peppermint_Catalog_Block_Product_StandardFeatures</product_standardFeatures>
                </rewrite>
            </rockar_catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Peppermint_Catalog_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                    <catalog_product_edit_tab_options_type_select>Peppermint_Catalog_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Type_Select</catalog_product_edit_tab_options_type_select>
                    <catalog_product_edit_tab_super_config_grid>Peppermint_Catalog_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <peppermint_import_delete_products_after>
                <observers>
                    <peppermint_delete_products_after_import>
                        <type>singleton</type>
                        <class>peppermint_catalog/observer_product</class>
                        <method>syncEntityAndFlat</method>
                    </peppermint_delete_products_after_import>
                </observers>
            </peppermint_import_delete_products_after>
            <rockar_financing_options_product_collection_add_monthly_price_before>
                <observers>
                    <peppermint_catalog_remove_model_matrix_attribute_value>
                        <type>singleton</type>
                        <class>peppermint_catalog/observer</class>
                        <method>removeModelMatrixValueFromJoinClause</method>
                    </peppermint_catalog_remove_model_matrix_attribute_value>
                </observers>
            </rockar_financing_options_product_collection_add_monthly_price_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <peppermint_catalog>
                    <file>peppermint_catalog.xml</file>
                </peppermint_catalog>
            </updates>
        </layout>
        <events>
            <catalog_product_save_before>
                <observers>
                    <peppermint_partexchange_conditions_slider_sanitize>
                        <type>singleton</type>
                        <class>peppermint_catalog/observer_product</class>
                        <method>sanitizeProductData</method>
                    </peppermint_partexchange_conditions_slider_sanitize>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <rockar_catalog>
                <use>standard</use>
                <args>
                    <modules>
                        <peppermint_catalog before="Rockar2_Catalog">Peppermint_Catalog</peppermint_catalog>
                    </modules>
                </args>
            </rockar_catalog>
        </routers>
        <events>
            <rockar_catalog_product_list_prepare_options>
                <observers>
                    <peppermint_catalog_add_options>
                        <type>singleton</type>
                        <class>peppermint_catalog/observer</class>
                        <method>addOptionsData</method>
                    </peppermint_catalog_add_options>
                </observers>
            </rockar_catalog_product_list_prepare_options>
            <rockar_catalog_product_list_data_prepare>
                <observers>
                    <peppermint_catalog_product_list_data_prepare>
                        <class>peppermint_catalog/observer</class>
                        <method>updateProductList</method>
                    </peppermint_catalog_product_list_data_prepare>
                </observers>
            </rockar_catalog_product_list_data_prepare>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_catalog before="Rockar_Catalog">Peppermint_Catalog_Adminhtml</peppermint_catalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <rockar_catalog>
            <general>
                <exterior_images_indexes>0,6,15,24,33</exterior_images_indexes>
            </general>
        </rockar_catalog>
    </default>
    <crontab>
        <jobs>
            <peppermint_group_price_recompile>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_catalog/cron::run</model>
                </run>
            </peppermint_group_price_recompile>
            <peppermint_configurable_clean_up>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_catalog/cron::deleteEmptyConfigurable</model>
                </run>
            </peppermint_configurable_clean_up>
            <peppermint_flat_indexer_sync>
                <schedule>
                    <cron_expr>30 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_catalog/cron::flatTablesSync</model>
                </run>
            </peppermint_flat_indexer_sync>
        </jobs>
    </crontab>
</config>
