@import 'part-exchange/px-checkout';
@import 'part-exchange/px-saved';
@import 'part-exchange/px-my-account';

.part-exchange {
    @import './part-exchange/px-confirmation-popup';

    // Fix for NUK keyboard to not skip PX
    .nuc-hidden-button {
        opacity: 0;
        border: 0;
        margin: 0;
        padding: 0;
    }

    .part-exchange-negative-equity {
        @import './part-exchange/_px-negative-equity';
    }

    .px-additional-info-block {
        @import './part-exchange/px-additional-info-checkbox';

        input[type='checkbox'] + label {
            padding-top: em(10);
            margin-top: em(4);
            align-self: flex-start;
        }

        .px-additional-info-list {
            @include display(flex);
            width: 100%;
            flex-direction: row;
            align-items: center;

            p {
                flex: 1 100%;
            }

            .info-label-wrap {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    .mobile-divider {
        width: 94vw;

        @include media($medium-screen-up) {
            display: none;
        }

        hr {
            margin: 0 0 1em;
        }
    }

    .part-exchange-regular {
        .select-condition {
            @import './part-exchange/button-wrapper';
            @import './part-exchange/condition-info';

            .part-exchange-conditions {
                @include media($small-screen-down) {
                    display: none;
                }
            }
        }

        &.substep-2 {
            @include media($small-screen-down) {
                padding: 0 1em 1em;
            }
        }

        .condition-more-info {
            .more-info {
                @include media($small-screen-down) {
                    display: inline-block;
                }

                &.content {
                    display: block;

                    p {
                        margin: .1em 0;

                        &:first-of-type {
                            margin: 0 0 .1em;
                        }
                    }

                }

                ul {
                    @include media($small-screen-down) {
                        color: $black;
                        line-height: 1.7;
                    }

                    li {
                        list-style: inherit;
                        font-size: $dsp2-f-size;
                        line-height: normal;

                        @include media($small-screen-down) {
                            list-style-position: inside;
                        }
                    }
                }
            }
        }

        .divider {
            display: inline-block;

            @include media($small-screen-down) {
                display: none;
            }
        }
    }

    .tooltip-wrapper {
        display: inline-block;
        margin-bottom: em(6);
        margin-left: em(8);

        p {
            font-size: $dsp2-f-size-s;
        }
    }

    .part-exchange-custom {
        font-size: 1rem;

        @include media($small-screen-down) {
            padding-top: $dsp2-padding-20;
        }

        .skip-button {
            width: 285px;
            height: $input-field-height;
            background: transparent;
            border: solid 1px $c-grey-5;
            font-family: $bmw-bold;
            color: $c-grey;
            font-size: $dsp2-f-size-s;
            padding: 0;
            letter-spacing: $px-input-letter-spacing;
            margin-top: 0;

            @include media($small-screen-down) {
                color: $c-grey;
                background: transparent;
                height: $input-field-height;
                letter-spacing: 0;
                width: $px-vrm-block-max-width-s-screen;
                border: solid 1px $c-grey-2;
                max-width: 100%;
            }
        }

        .px-selects {
            input[type='text'] {
                height: 46px;
                padding: 0 1.4em;
                text-align: left;
                text-transform: none;

                @include media($small-screen-down) {
                    width: 100%;
                }

                &::placeholder {
                    color: $input-color;
                }
            }

            .selectbox {
                @include media($small-screen-down) {
                    max-width: 100%;
                }

                .selectbox-select {
                    font-weight: $fw-book;
                    overflow: hidden;
                    text-align: left;
                    text-transform: none;
                    white-space: nowrap;
                }
            }
        }

        p {
            font-weight: $fw-book;

            &.reg-date-hint {
                max-width: 365px;
                margin-top: 20px;
            }

            &.custom-car-error {
                color: $c-red-2;
            }
        }

        .px-custom-actions {
            max-width: 365px;

            @include media($small-screen-down) {
                max-width: 100%;
            }
        }
    }

    .px-input {
        color: $px-input-text-color;
        font-family: $bmw-bold;
        font-size: $dsp2-f-size-xl;
        text-transform: inherit;

        @include placeholder {
            color: $c-grey;
        }

        &::-ms-clear {
            display: none;
        }
    }

    .keyboard-numbers {
        text-align: center;
    }

    .part-exchange-wrapper {
        @include display(flex);
        @include media($small-screen-down) {
            display: block;
        }
    }

    .part-exchange-left,
    .part-exchange-right {
        width: calc(50% - 37.5px);

        @include media($small-screen-down) {
            padding: 0;
            width: 100%;
        }
    }

    .part-exchange-or {
        position: relative;
        width: 75px;
        height: 260px;
        margin: auto;

        @include media($small-screen-down) {
            height: 56px;
            width: 80%;
        }

        .or {
            display: block;
            text-align: center;
            font-family: $bmw-light;
            font-weight: $fw-black;
            color: $black;
            background: $c-grey-5;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: $px-divider-circle-size;
            height: $px-divider-circle-size;
            line-height: $px-divider-circle-size + 4px;
            font-size: $dsp2-f-size-l;
        }

        .hr {
            border-left: 1px solid $c-grey-5;
            height: 100%;
            width: calc(50% - 1px);
            margin-left: auto;

            @include media($small-screen-down) {
                border: {
                    left: none;
                    top: 1px solid $c-grey-5;
                }
                bottom: 0;
                height: calc(50% - 1px);
                margin-left: 0;
                position: absolute;
                width: 100%;
            }
        }
    }

    .part-exchange-skip-wrapper {
        text-align: left;
        padding-left: 15%;

        @include media($small-screen-down) {
            margin-top: 16px;
            padding-left: 0;
        }

        .skip-button {
            width: 285px;
            height: $input-field-height;
            background: $transparent;
            border: solid 1px $c-grey-5;
            font-family: $bmw-bold;
            color: $c-grey;
            font-size: $dsp2-f-size-s;
            padding: 0;
            letter-spacing: $px-input-letter-spacing;
            margin-top: 0;

            @include media($small-screen-down) {
                color: $c-grey;
                background: transparent;
                height: $input-field-height;
                letter-spacing: 0px;
                width: $px-vrm-block-max-width-s-screen;
                border: solid 1px $c-grey-2;
                max-width: 100%;
            }
        }
    }

    .px-mileage-block {
        margin-top: 45px;

        @import 'part-exchange/px-car-info';

        @include media($small-screen-down) {
            margin-top: 0;
        }

        .px-car-info {
            margin-left: 75px;
            position: relative;

            p {
                padding: 8px;
            }

            &::after {
                position: absolute;
                content: '';
            }

            &.wide-info {
                margin: 20px 0 30px;
                max-width: calc(100% - 1px);
                width: 100%;

                &::after {
                    right: 153px;
                }
            }
        }
    }

    .part-exchange-valuation {
        .px-car-worth {
            .px-bold-heading {
                margin-bottom: 1em;
            }

            .h1 {
                font-family: $bmw-light;
                font-weight: $fw-semibold;
                padding: 10px 0;
                color: $px-valuation-heading-color;
                border: 2px solid $px-valuation-heading-color;
            }
        }

        .px-outstanding-finance {
            .px-bold-heading {
                margin-top: 1em;
                text-align: center;

                @include media($medium-screen-up) {
                    margin-top: 0;
                    text-align: left;
                }
            }

            .keyboard-numbers {
                @include media($medium-screen-only) {
                    padding: 10px 5px;
                }
            }

            .px-how-much {
                color: $c-grey;
                line-height: 1;

                @include media($medium-screen-up) {
                    line-height: 52px;
                }
            }
        }

        .px-result-actions {
            button {
                font-size: 16px;
                font-weight: $fw-light;
                text-align: center;
                width: 100% !important; // Important, because need override !important styles :(
                margin: 0 0 10px !important;

                @include media($medium-screen-only) {
                    font-size: em(17);
                    padding: 1.05em 0;
                }
            }
        }
    }

    .part-exchange-middle {
        .px-condition-block {
            .px-light-text {
                color: $px-dark-color;
                padding-top: em(2);

                p {
                    color: $px-dark-color;
                }
            }

            .px-condition-title {
                color: $c-grey-3;
                font-size: $dsp2-f-size;
                font-weight: $fw-semibold;
                text-transform: inherit;
            }
        }
    }

    .part-exchange-left {
        .part-exchange-vrm-wrapper {
            @include media($small-screen-down) {
                margin-top: 24px;
            }

            .px-vrm-block {
                @import './part-exchange/px-car-info';
                @import './part-exchange/px-vrm-block-input';

                .px-regular-heading {
                    @include media($small-screen-down) {
                        text-align: center;
                        margin-bottom: em(15px);
                    }
                }
            }
        }

        .px-vrm-block.inside-popup,
        .px-vrm-block.inside-accordion {
            @import './part-exchange/px-popup-vrm-block-input';
            @import './part-exchange/px-car-info';

            .px-car-info {
                max-width: calc(100% - 1px);

                @include media($small-screen-down) {
                    margin-top: 20px;
                    width: 100%;
                }

                &::after {
                    right: calc(50% - 7px);
                }
            }
        }
    }

    &.compact-px {
        .part-exchange-left,
        .part-exchange-right {
            @include media($medium-screen-up) {
                flex: 1 0 0;
            }
        }
    }

    .skip-heading {
        margin-top: 26px;
    }

    .current-car {
        background-color: $white;
        padding: 10px 0;
        text-align: left;
        text-transform: none;
        font-family: $bmw-light;
        margin-bottom: 1em;

        @include media($small-screen-down) {
            margin-top: 10px;
            padding: 10px 15px;
            background-color: $white;
            margin-bottom: 0;
        }

        .col-12 {
            @include media($small-screen-down) {
                padding-bottom: 0;
            }
        }

        .prop {
            font-weight: $fw-normal;
            font-size: 12px;
            color: $c-grey;
            vertical-align: top;
            margin-right: 5px;

            @include media($small-screen-down) {
                display: block;
                font-size: 14px;
            }

            @include media($large-screen-up) {
                display: inline-block;
            }
        }

        .values {
            color: $black;
            display: inline-block;
            font-size: $dsp2-f-size;
            vertical-align: top;
            font-weight: $fw-book;

            @include media($small-screen-down) {
                display: block;
                font-size: 14px;
            }

            @include media($large-screen-up) {
                display: inline-block;
            }

            .main {
                font-size: $dsp2-f-size-xxl;
            }
        }

        .px-not-your-car {
            background: $base-background-color;
            border: 0;
            color: $black;
            font: {
                size: $px-not-your-car-button-font-size;
                weight: $fw-black;
            }
            position: relative;
            padding: 1.4em 1em 1.2em 3em;
            float: right;
            margin-top: $px-not-your-car-margin-top;

            @include media($small-screen-down) {
                float: none;
                margin-top: 2em;
            }

            .question-icon {
                &::before {
                    @include sprite($sprite-question);
                    content: '';
                    display: inline-block;
                    transform: scale(.4);
                    position: absolute;
                    top: -7px;
                    left: -7px;
                }
            }
        }
    }

    .px-outstanding-finance {
        .col-6 {
            .px-regular-heading {
                line-height: 53px;
            }
        }
    }

    .px-regular-heading {
        color: $c-grey;
        text-transform: none;
        font-size: $dsp2-f-size-s;
        font-weight: normal;
        font-family: $bmw-bold;
        letter-spacing: 0px;
        margin: 0 0 16px;
        text-align: left;
    }

    .part-exchange-right {
        .px-submit-block {
            button {
                font-weight: $fw-light;
                padding: .845em 1.5em;
                width: 100% !important; // Important, because need override !important styles :(
                margin-left: 0 !important;
            }
        }

        .px-terms-conditions {
            text-align: left;

            a {
                color: $bmw-blue;
            }
        }
    }

    .accordion {
        ul.submenu {
            @include media($small-screen-down) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .substep-3 {
        hr {
            @include media($small-screen-down) {
                margin: 0;
            }
        }
    }

    &.px-popup {
        .px-regular-heading {
            font-size: $dsp2-f-size-s;
            font-family: $bmw-light;
            text-align: left;
            letter-spacing: 0;
            display: block;
            margin: 0;
            line-height: 1.45;
            text-transform: none;
        }

        .px-light-text {
            margin: 1.273em 0 1.455em;
            font-size: $dsp2-f-size-s;
            letter-spacing: 0;
            font-family: $bmw-light;
        }

        .px-mileage-block {
            margin: 0;

            input {
                width: 100%;
            }
        }

        .px-mileage-block.px-light-text {
            font-family: $bmw-bold;
        }

        .px-input {
            color: $c-grey;
            font-family: $bmw-bold;
            font-size: $dsp2-f-size-s;
            text-transform: none;
            text-align: center;
            font-weight: $fw-black;
            letter-spacing: 0;
            margin-bottom: 1.636em;
            height: $input-field-height;

            @include placeholder {
                color: $black;
            }

            &::-ms-clear {
                display: none;
            }
        }

        .button-wrap {
            button {
                width: 100%;
                height: $input-field-height;
                font-size: $dsp2-f-size-s;
                line-height: 0;
                letter-spacing: .1em;
                font-weight: $fw-black;
                border: 0;
                max-width: none;

                &:hover {
                    color: $white;
                    background-color: $c-blue-1;
                }
            }
        }

        .px-condition-block {
            max-width: 100%;

            .px-condition-title {
                font-size: $dsp2-f-size-l;
                font-weight: $fw-black;
                line-height: 1.05;
                letter-spacing: 0;
                padding-bottom: .833em;
                border-bottom: 1px solid $c-grey-5;
            }

            .px-light-text:first-of-type {
                font-weight: $fw-semibold;
                margin: 2.091em 0 1.455em;
            }

            .px-light-text {
                p {
                    font-size: $dsp2-f-size;
                    line-height: 1.4;
                    letter-spacing: 0;
                    margin: 3em 0;
                }
            }

            .range-slider {
                margin: .313em 0 1.938em;

                .ui-slider-range {
                    outline: 4px solid $c-grey-5;
                }
            }
        }

        .px-additional-info-block {
            margin-bottom: 2.087em;

            .px-additional-info-checkbox {
                @include display(flex);
                flex-wrap: wrap;

                p {
                    font-size: $dsp2-f-size-xxs;
                }

                .info-label-wrap {
                    padding-right: 0;
                    display: flex;
                    width: calc(100% - 51px);
                    align-items: center;

                    .px-light-text {
                        font-size: $dsp2-f-size-s;
                        margin: 0;
                        width: calc(100% - 15px);
                        font-family: $bmw-light;
                    }
                }
            }
        }

        .part-exchange-left {
            @include media($small-screen-down) {
                .button-wrap > button,
                .px-input {
                    max-width: 100%;
                }
            }

            @include media($large-screen-up) {
                padding: 0 5em 0 2em;
                margin: 0 0 0 2.4em;
                border-right: solid 1px $c-grey-5;
            }

            @include media($large-screen-down) {
                padding-left: 2em;
            }

            @include media($small-screen-down) {
                padding-left: 0;
            }

            .px-vrm-block {
                .px-vrm-block-input {
                    max-width: 100%;
                    display: flex;

                    @include media($small-screen-down) {
                        .px-input {
                            padding: 0;
                            max-width: 100%;
                        }
                    }

                    .px-input {
                        margin-right: 0;

                        &.col-10 {
                            width: 100%;
                            min-width: 75%;
                        }
                    }

                    .cancel-current-car {
                        background: $c-grey-5;
                        width: 50px;
                        height: $input-field-height;
                        opacity: 0.5;

                        span {
                            @include sprite($sprite-close-dark-small);
                            display: inline-block;
                            margin: 20px 20px;
                        }
                    }

                    .selectbox {
                        max-width: 100%;

                        .selectbox-select {
                            color: $black;
                            background: $c-grey-5;
                            padding: .5em 1.2em;
                            line-height: inherit;
                            min-height: initial;
                        }

                        ul {
                            li {
                                height: initial !important; //need !important to overwrite inline styling
                                line-height: 1.5 !important; //need !important to overwrite inline styling
                                padding: .5em 1.2em;
                                font-size: $dsp2-f-size;
                                color: $black;
                                font-family: $bmw-light;
                                font-weight: $fw-black;
                            }
                        }
                    }
                }
            }

            .px-car-info {
                max-width: 100%;
                margin: auto;
                background: $white;
                padding: .625em;

                @include media($small-screen-down) {
                    max-width: 100%;
                }

                p {
                    font-size: $dsp2-f-size-s;
                    line-height: 1.67;
                    letter-spacing: .044em;
                }

                .px-car-name {
                    font-size: $dsp2-f-size;
                    font-weight: $fw-black;
                    line-height: 1.36;
                    letter-spacing: .091em;
                }
            }
        }

        .part-exchange-right {
            @include media($large-screen-up) {
                padding-left: 5em;
            }

            @include media($large-screen-down) {
                margin-left: 2em;
                padding-left: 2em;
            }

            @include media($small-screen-down) {
                padding-left: 0;
                margin-left: 0;
            }

            .px-submit-block {
                button:first-of-type {
                    margin-bottom: 1em;
                    background: $bmw-blue;
                    color: $white;
                }

                button {
                    max-width: 285px;
                    font-size: $dsp2-f-size-s;
                    font-weight: $fw-black;
                    letter-spacing: 0;
                    height: $input-field-height;

                    @include media($medium-screen-down) {
                        font-size: $dsp2-f-size-s;
                        height: 50px;
                        max-width: 100%;
                    }

                    @include media($small-screen-down) {
                        font-size: $dsp2-f-size-s;
                        max-width: 100%;
                        height: 50px;

                    }

                    &.button-disabled {
                        opacity: .5 !important;

                        ~ .button-empty {
                            opacity: 1;
                        }
                    }
                }

                .button-empty {
                    background: $c-grey-1;
                    color: $white;
                    border: 0;
                }
            }

            .part-exchange-valuation {
                .px-car-worth {
                    .px-bold-heading {
                        font-size: $dsp2-f-size-s;
                        text-align: center;
                        text-transform: none;
                        font-weight: $fw-black;
                        letter-spacing: 0;
                        max-width: 30.182em;
                        border-top: 1px solid $c-grey-5;
                        padding-top: 1.167em;

                        @include media($small-screen-down) {
                            max-width: 100%;
                        }
                    }

                    .h1 {
                        font-family: $bmw-light;
                        font-size: $dsp2-f-size;
                        max-width: 100%;
                        text-align: center;
                        color: $black;
                        font-weight: $fw-black;
                        letter-spacing: .091em;
                        background: $c-grey-5;
                        border: 0;
                        padding: .9em 1.2em;
                        height: 50px;

                        @include media($small-screen-down) {
                            max-width: 100%;
                        }
                    }
                }

                .px-outstanding-finance {
                    .px-outstanding-finance-title {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }

                    .px-light-text {
                        text-align: center;
                        max-width: 35.182em;

                        @include media($small-screen-down) {
                            max-width: 100%;
                        }
                    }

                    .px-input {
                        border: 1px solid $c-grey-5;
                        max-width: 100%;
                        width: 100%;
                    }
                }

                .px-result-actions {
                    button {
                        font-size: $dsp2-f-size-s;
                        font-weight: $fw-black;
                        line-height: 0;
                        letter-spacing: 0;
                        height: $input-field-height;
                        max-width: 33.182em;
                        color: $white;
                        background: $bmw-blue;
                        border: 1px solid $bmw-blue;

                        &:hover {
                            background-color: $c-blue-1;
                        }

                        @include media($medium-screen-down) {
                            font-size: $dsp2-f-size-s;
                            height: $dsp2-f-size-s-height;
                            max-width: 100%;
                        }

                        @include media($small-screen-down) {
                            font-size: $dsp2-f-size-s;
                            max-width: 100%;
                            height: $dsp2-f-size-s-height;
                        }

                        &.button-empty {
                            background: $c-grey-1;
                            border: 0;
                            color: $white;

                            &:hover {
                                background-color: $c-grey;
                            }
                        }
                    }

                    span {
                        display: block;
                        font-size: $dsp2-f-size-s;
                        text-align: center;
                        max-width: 33.182em;
                    }
                }
            }
        }
    }
}

.car-finder-px-modal {
    .px-input {
        height: 2.3em;
    }

    .part-exchange {
        .px-additional-info-checkbox {
            @include display(flex);
        }

        .part-exchange-valuation {
            .px-car-worth {
                .h1 {
                    padding: 10px 0 0 30px;
                }
            }
        }
    }

    .range-slider-wrapper {
        .ui-slider.show-steps {
            .ui-slider-range {
                outline: 4px solid $c-grey-5;
            }
        }
    }
}
