.category-products {
    overflow-x: hidden;

    @include media($medium-screen-up) {
        margin-top: 0;
        display: block;
    }

    @include media($small-screen-down) {
        margin-left: 0;
    }

    .note-msg {
        @include media($small-screen-down) {
            margin: 185px 30px 0;
        }
    }

    &-list {
        width: 100%;

        @include media($small-screen-down) {
            margin-top: 9em;
        }

        @import './product-pods/product-pod';

        .category-products-list-item {
            background: $pod-background;
            border: 0;
            box-shadow: 0 15px 20px -12px rgba(0, 0, 0, .15);
            position: relative;
            margin: 1em 0;

            @include media($small-screen-down) {
                padding: 0;
            }

            @include ie-only {
                padding: 1px; //fixes IE zoom issue with disappearing borders
            }

            @include edge-only {
                padding: 1px; //the same for Edge
            }

            &.widget-pod {
                @import './product-pods/widget-pod';
            }

            &:first-of-type {
                @include media($small-screen-down) {
                    margin-top: .5em;
                }
            }

            &::after {
                @include clearfix2;
            }
        }
    }
}
