.customer-account-login {
    .store-switcher {
        margin: 0;
    }

    .customer-group {
        .ps > .ps__scrollbar-y-rail {
            display: block;
        }
    }

    .account-login-header {
        h1 {
            margin: 0;
            text-transform: uppercase;
            font-size: $f-size-xxxl;
            font-weight: $fw-bold;
        }

        .h5 {
            font-weight: $fw-normal;
            color: $simple-gray-1;
        }
    }

    .accordion {
        margin: 0 0 20px;

        .js-accordion-trigger {
            display: block;
            padding: 15px 20% 15px 20px;
            background: $account-login-header-trigger-background;
            color: $account-login-header-trigger-color;
            text-transform: uppercase;
            font-size: $f-size-s;
        }
    }

    .color-link {
        font-size: $f-size-s;
    }

    .login-wrapper {
        padding: 0 25px;

        .section-title {
            font-size: $f-size-l;
            font-weight: $motorrad-fw-normal;
            text-transform: none;
        }

        form {
            padding: 0 2em;

            .row {
                .action-badge {
                    &.side-badge {
                        @include media($small-screen-down) {
                            margin: 0 0 0.5em 0.5em;
                        }
                    }
                }
            }

            .disclaimer-content {
                p {
                    font-size: $f-size-xs;
                }

                a {
                    color: $action-color;
                }

                .scrollbox {
                    max-width: 365px;
                    width: auto !important; // this overwrites perfect scrollbar inline styling

                    .scrollbox-content {
                        padding: 1.5em 0;
                    }
                }

                &.desktop {
                    @include media($medium-screen-down) {
                        display: none;
                    }
                }

                &.mobile {
                    @include media($large-screen-up) {
                        display: none;
                    }
                }
            }
        }

        input {
            @include media($small-screen-down) {
                width: 100%;
            }
        }

        button {
            @include media($small-screen-down) {
                max-width: 100%;
            }
        }

        .selectbox {
            @include media($small-screen-down) {
                max-width: 100%;
            }
        }
    }

    .account-login {
        .buttons-set {
            .button {
                background: $button-login-background-color;
                border-color: $button-login-background-color;
            }

            button {
                @include media($small-screen-down) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

        .checkbox-row {
            .col-9 {
                .input-box {
                    @include media($large-screen-up) {
                        label[for='is_checked_emails_newsletter'] {
                            margin-bottom: 7%;
                        }

                        label[for='is_checked_emails_contact'] {
                            margin-bottom: 11%;
                        }
                    }

                    @include media($x-large-screen-up) {
                        label[for='is_checked_emails_newsletter'],
                        label[for='is_checked_emails_contact'] {
                            margin-bottom: 2%;
                        }
                    }
                }
            }
        }
    }
}

.checkout-onepage-index {
    .customer-account-login {
        .login-wrapper {
            padding: 0;
        }
    }
}
