a {
    &.view-more,
    &.back-to-top {
        color: $back-to-top-color;
    }
}

.view-more,
.back-to-top {
    $button-spacing: 2em;

    background-color: $grey-2;
    color: $back-to-top-color;
    text-transform: uppercase;
    padding: $button-spacing / 2 $button-spacing;
    border-radius: 50px;
    font-family: $primary-font-family;
    font-size: $f-size-xxs;
    font-weight: $fw-heavy;
    letter-spacing: .2em;
    display: inline-block;
    margin-bottom: 1em;

    &::after {
        @include sprite($sprite-back-to-top-arrow);
        content: '';
        display: inline-block;
        margin-left: $button-spacing / 2;
    }

    &:hover {
        color: darken($back-to-top-color, 15%);
    }
}

.view-more {
    &::after {
        @include sprite($sprite-view-more-arrow);
    }
}

.expand-collapse {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 44px;
    text-indent: -9999px;
    border: $expand-collapse-border-color;

    &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 12px;
        top: 50%;
        margin-top: -6px;
        left: 50%;
        margin-left: -11px;
    }

    &.expand::after {
        @include sprite($sprite-action-expand-dark);
    }

    &.collapse::after {
        @include sprite($sprite-action-collapse-dark);
    }

    &:hover {
        border: $expand-collapse-border-color-hover;
        background: $expand-collapse-background-hover;

        &.expand::after {
            @include sprite($sprite-action-expand-light);
        }

        &.collapse::after {
            @include sprite($sprite-action-collapse-light);
        }
    }
}

.nav-actions {
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    width: 25px;
    height: 25px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
    }

    &.nav-actions--light {

        &.back {

            &::after {
                @include sprite($sprite-nav-actions-back-light);
                left: 0;
            }
        }

        &.next {

            &::after {
                @include sprite($sprite-nav-actions-next-light);
                left: 0;
            }
        }
    }

    &.nav-actions--dark {
        background: $call-to-action-background-color;
        border-radius: 25px;

        &.back::after {
            @include sprite($sprite-nav-actions-back-dark);
            left: -1px;
        }

        &.next::after {
            @include sprite($sprite-nav-actions-next-dark);
            left: 2px;
        }
    }
}

input[type=button],
button,
.button,
.call-to-action {
    width: 100%;
    max-width: 320px;
    height: $motorrad-input-height;
    box-sizing: border-box;
    display: inline-block;
    font-family: $motorrad;
    font-weight: $motorrad-fw-normal;
    letter-spacing: normal;
    border: 0;
    border-left: 1px solid $white;
    margin-top: 10px;
    border-radius: 0;
    // padding: $button-narrow-height-padding $button-width-padding $button-narrow-bottom-height-padding;
    padding: 0px;
    text-transform: uppercase;
    font-size: $motorrad-button-font-size;
    color: $call-to-action-color;
    background: $call-to-action-background-color2;
    vertical-align: bottom;
    line-height: 1;

    @include media($small-screen-down) {
        width: 100%;
        max-width: 100%;
    }

    &:disabled {
        opacity: 1 !important;
    }

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    &:focus {
        color: $call-to-action-color;
        background: $call-to-action-background-color;
    }

    &:active,
    &:hover {
        opacity: 1;
        color: $call-to-action-color;
        background: $call-to-action-background-color;
    }

    // Redundant but often used
    // Should be removed
    &.button-dark {
        color: $call-to-action-color;
        background: $call-to-action-background-color2;
    }

    // LATEST BUTTONS

    &.button-white {
        color: $motorrad-white;
        background: $motorrad-dark-grey;
        border: none;

        &:hover {
            background: $motorrad-hover-grey;
        }
    }

    &.button-grey {
        color: $button-grey-color;
        background: $button-grey-background-color;
        border: 1px solid $button-grey-background-color;
    }

    &.button-default {
        color: $call-to-action-color;
        background: $call-to-action-background-color2;
        border: 1px solid $call-to-action-background-color2;
    }

    &.button-disabled {
        color: $motorrad-white;
        background: $button-disabled-background-color;
        border: none;
    }

    &.button-black {
        color: $button-black-color;
        background: $button-black-background-color;
        border: 1px solid $button-black-background-color;
    }

    &.button-gray-light {
        color: $button-grey-light-color;
        background: $button-grey-light-background-color;
        border: 1px solid $button-grey-light-background-color;
    }

    &.button-gray-light-2 {
        color: $motorrad-dark-grey;
        background: $motorrad-dark-grey;
        border: 2px solid $motorrad-dark-grey;

        &:hover {
            color: $motorrad-dark-grey;
            background: $motorrad-hover-grey;
            border: 1px solid $motorrad-hover-grey;
            opacity: 1;
        }
    }

    &.button-gray {
        color: $button-grey-color;
        background: $button-grey-background-color;
        border: 1px solid $button-grey-background-color;
    }

    &.button-gray-dark {
        color: $button-grey-dark-color;
        background: $button-grey-dark-background-color;
        border: 1px solid $button-grey-dark-background-color;
    }

    &.button-empty {
        color: $button-empty-color;
        background: transparent;
        border: 1px solid $button-empty-color;
    }

    &.button-empty-light {
        color: $button-empty-light-color;
        background: transparent;
        border: 1px solid $button-empty-light-border-color;
    }

    &.button-empty-white-color {
        color: $button-empty-white-color;
        background: transparent;
        border: 1px solid $button-empty-white-color;
    }

    &.button-narrow {
        padding: $button-narrow-height-padding 1.55em $button-narrow-bottom-height-padding;

        &.popup-yes {
            margin-top: 15px;
        }
    }

    &.wide {
        padding: 1.45em 6em;
    }

    &.full-width {
        float: none;
        display: block;
        width: 100%;
        max-width: 100%;

        @include media($medium-screen-up) {
            max-width: $input-field-width;
        }
    }

    &.cms-full-width {
        width: 100%;
        max-width: 100%;
        margin: 0 0 1em;
        text-align: center;
        display: table;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &.button-edit {
        &::after {
            @include sprite($sprite-pencil-icon);
            content: '';
            display: inline-block;
            vertical-align: baseline;
            margin-left: .25em;
        }
    }

    &.button-cancel {
        color: $button-cancel-color;
        background: $button-cancel-background-color;
        border: 1px solid $button-cancel-background-color;
        font-size: $f-size-xxxs;
        padding: 1em 1.55em;
        font-weight: $fw-normal;
        font-family: $secondary-font-family;
    }

    &.button-red {
        color: $button-red-color;
        background: $button-red-background-color;
        border: 1px solid $button-red-background-color;
    }

    &.button-medium {
        padding: 1em 2.55em;
    }

    &.regular-size {
        padding: $button-height-padding $button-width-padding;
        font-size: $button-font-size;
    }

    .mobile-hide,
    &.mobile-hide {
        display: none;

        @include media($medium-screen-up) {
            display: inline-block;
        }
    }
}

.btn-mobile-large {
    @include media($small-screen-down) {
        width: 100%;
        height: 73px;
        line-height: 60px;
        font-size: $f-size-xxxl;
        padding: .39em 1.16em;
    }
}

.input-wrapper {
    max-width: $input-field-width;
}
