.accordion-content {
    .checkout-summary {
        .car-image {
            margin-bottom: 1em;
        }

        .deposit {
            margin: 20px 0;

            button {
                margin: 0 0 20px;
            }

            .deposit-title {
                font-family: $helper-font-family;
                font-size: $f-size-xxxl;
            }
        }

        .deliver {
            background-color: $checkout-summary-delivery-background;
            margin-bottom: 10px;
            padding: 1em;

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        p.accept-terms-statement {
            padding-top: initial;
            vertical-align: top;
        }

        a.terms-conditions {
            color: $motorrad-blue;
            text-decoration: none;
            padding-bottom: 7px;
            font-weight: $motorrad-fw-bold;
            font-size: $f-size-xs;
        }

        .car-detail {
            margin-bottom: 1em;

            .car-title {
                line-height: 1.2em;
                text-transform: none;
                font-weight: $motorrad-fw-normal;
                font-family: $motorrad;
                font-size: $f-size-l;
            }
        }

        .place-order {
            display: block;
            width: 100%;

            &.long-text {
                font-size: $f-size-xs;
            }

            @include media($small-screen-down) {
                width: 100%;
            }
        }

        .payment-icons {
            .visa-icon,
            .mastercard-icon {
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
            }

            .visa-icon {
                background-image: url('../images/svg/visa.svg');
                height: 2.875em;
                width: 3.438em;
            }

            .mastercard-icon {
                background-image: url('../images/svg/mastercard.svg');
                height: 2.5em;
                margin-left: 1.25em;
                width: 3.063em;
            }
        }

        input[type='radio'].radio-checkbox + label span,
        input[type='checkbox'] + label span {
            margin-top: 2px;
        }
    }
}
