.vehicle-options {
    th {
        border: 0;
        padding: .2em 0;
    }

    td {
        padding: 0;
    }

    .option-label {
        font-weight: $fw-bold;
        text-transform: uppercase;

        span {
            font-weight: $fw-normal;
            text-transform: none;
            color: $motorrad-text-color;
        }
    }
}

.choose-vehicle-list {
    margin-bottom: 1em;

    .slides {
        .slides-wrapper {
            transition: left .3s;
        }
    }

    .choose-vehicle {
        padding: 6px 7px;
        margin: 0 20px 20px;

        .choose-vehicle-cover {
            border: 1px solid transparent;
            margin-bottom: 13px;

            img {
                vertical-align: middle;
            }
        }

        .choose-vehicle-info {
            @include clearfix;

            p {
                font-size: $f-size;
                line-height: $f-size;

                &.h-common {
                    color: $choose-vechicle-info-color;
                    text-transform: none;

                    @include media($small-screen-down) {
                        font-size: $f-size-xs;
                    }
                }

                &.payment-amount {
                    color: $choose-vechicle-payment-amount-color;
                    font-weight: $fw-bold;

                    @include media($small-screen-down) {
                        display: none;
                    }
                }
            }
        }

        &.active {
            background: $white;

            .choose-vehicle-cover {
                border-color: $primary-color;
                position: relative;
                z-index: 0;

                &::after {
                    @include position(absolute, null 0 0 null);
                    @include size(20px);
                    content: '';
                    background: url('../images/svg/checked.svg') no-repeat center;
                    background-size: 100%;
                }
            }
        }
    }
}
