.customer-account-forgotpassword {
    h1 {
        letter-spacing: $letter-spacing;
        font-size: 2.375em;
    }

    .side-label,
    .side-label::after {
        font-family: $side-label-font-family;
        color: $side-label-font-color;
    }

    .two-in-row {
        margin-bottom: $padding-spacing;
    }

    .button {
        background: $motorrad-blue;
        border-color: $motorrad-blue;
    }

    .row-element {
        a {
            color: $cool-grey;
            border-color: $black;
            background-color: $base-background-color;
            padding-top: 1em;
        }
    }
}
