.dashboard {
    .welcome-msg {
        .col-5 {
            text-align: right;

            span {
                font-size: $f-size;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.my-account {
    .my-account-header {
        margin: 0 0 20px;
    }

    .part-exchange {
        .accordion {
            ul {
                &.submenu {
                    padding: 0;
                }
            }
        }
    }

    .my-account-subheading,
    .my-account-heading {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 0;
        line-height: 1;
    }

    .my-account-subheading {
        font-size: $f-size-s;
        margin-left: 1em;
        color: $my-account-subheading-color;

        @include media($small-screen-down) {
            margin: .5em 0;
            width: 100%;
        }
    }

    .block-title {
        font-family: $secondary-font-family;
        font-weight: $my-account-block-title-fw;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }

    .car-cover {
        @include media($medium-screen-up) {
            padding-right: 0.25em;
        }
    }

    .car-plate {
        @include word-wrap();
        background: $motorrad-white;
        padding: 0.725em;
        margin-bottom: 0.5em;
        text-align: center;
        color: $motorrad-dark-grey;
        font-family: $motorrad-dark-grey;
        font-weight: $fw-bold;
        text-transform: uppercase;
        font-size: $f-size-xxxl;
        width: 100%;
    }

    button.button-empty-light {
        background-color: transparent;
        border: 1px solid $motorrad-dark-grey;
    }

}

.accordion ul.submenu > li:focus,
.accordion ul.submenu > li:hover,
.accordion ul.submenu > li:first-child:focus,
.accordion ul.submenu > li:first-child:hover {
    background-color: $base-background-color;
}

.accordion {
    .accordion-content {
        padding: 2.5em;

        @include media($small-screen-down) {
            padding: 1em;
        }
    }
}

.customer-account-index {
    .dashboard > .page-title > h1 {
        font-family: $basic-store-font;
    }

    .details-block,
    .contact-block {
        div.content-wrapper {
            padding: 0 2.25em;
            padding-left: 0em;
        }
    }

    .accordion:last-child {
        border: 0;
    }

    .popup {
        .popup-button-close {
            @include sprite($sprite-close-dark-small);
            padding-bottom: 0;
        }

        .popup-overlay {
            background-color: $black;
            opacity: 0.67;
        }

        .popup-content {
            font-size: 16px;
            background: $white;

            @include media($small-screen-down) {
                width: 100% !important;
            }

            @include media($large-screen-down) {
                width: 100% !important; //Need to overwrite inline styling
                max-width: 1000px;
            }

            .button {
                font-size: 0.8125em;
            }

            .my-account-preferences {
                .title {
                    font-weight: $motorrad-fw-bold;
                    font-size: 0.875em;
                }

                .subtitle {
                    font-weight: $motorrad-fw-normal;
                    font-size: 0.875em;
                    text-transform: none;
                }
            }

            .compact-px {
                .button {
                    font-size: $f-size-xxs;
                }

                .part-exchange-left {
                    @include media($large-screen-up) {
                        padding: 0 4em 0 0;
                    }

                    .px-condition-block {
                        .range-slider {
                            .ui-slider-range {
                                outline: 4px solid $white;
                            }
                        }
                    }
                }

                .part-exchange-right {
                    margin-left: 0;

                    @include media($large-screen-up) {
                        padding-left: 4em;
                    }

                    @include media($medium-screen-down) {
                        padding-left: 2em;
                    }

                    @include media($small-screen-down) {
                        width: initial;
                        padding-left: 0;
                    }

                    .px-additional-info-checkbox {
                        p {
                            margin-top: 1em;
                        }
                    }
                }
            }
        }
    }

    .customer-documents {
        .confirmation-popup {
            .popup-container {
                .popup-content {
                    .content-wrapper {
                        button.button-narrow {
                            width: auto;
                            padding: 1.45em 1.55em;
                        }

                        button.button-empty-blue-lagoon {
                            background-color: transparent;
                            border-color: $grey-3;

                            span {
                                color: $cool-grey;

                            }
                        }
                    }
                }
            }
        }

        .popup {
            .popup-content {
                @include media($large-screen-up) {
                    width: 50%;
                }

                .modal-header {
                    p {
                        font-family: $basic-store-font;
                    }

                    p:nth-child(2) {
                        text-transform: none;
                    }
                }

                .modal-body {
                    .document-upload {
                        .button {
                            padding: $button-narrow-height-padding $button-width-padding;
                        }
                    }

                    .buttons-set {
                        button.upload-form {
                            padding: $button-narrow-height-padding $button-width-padding;
                        }
                    }
                }

                label.side-label {
                    color: $black;
                }
            }
        }

        div.my-documents {
            .my-account-content,
            .my-documents-table {
                table.table {
                    td {
                        background-color: transparent;
                    }

                    thead:nth-child(1n),
                    tr {
                        th {
                            font-family: $primary-font-family;
                        }
                    }

                    tbody:nth-child(1n) {
                        tr:nth-child(odd) {
                            background-color: $base-background-color;
                        }

                        tr:nth-child(even) {
                            background-color: $grey-2;
                        }
                    }
                }
            }
        }
    }

    .my-orders > .my-orders-wrapper {
        .my-orders-heading {
            letter-spacing: $base-letter-spacing;
        }

        .my-orders-tabs-section .my-orders-tabs-content table th {
            text-transform: none;
        }

        .my-orders-tabs-content {
            border: 1px solid $motorrad-light-grey;
            background: $motorrad-light-grey;
        }

        .my-orders-tabs-list {
            .my-orders-tab-title {
                background: $motorrad-white;
                border: 1px solid $motorrad-light-grey;
            }

            div.active {
                background-color: $motorrad-light-grey;
                border: none;
            }
        }

        .my-orders-document-label {
            padding-top: 1.5em;
        }

        .my-orders-bordered {
            .my-orders-status-text {
                background-color: $motorrad-light-grey;
            }
        }

        .my-orders-steps-block {
            tr > td {
                span > .tooltip-wrapper {
                    display: inline-block;
                }

                .table-zebra tr:nth-child(e) td:first-child {
                    background: $motorrad-light-grey;
                }

                .table-zebra tr:nth-child(odd) td:first-child {
                    background: transparent;
                }
            }
        }
    }

    .my-orders-mobile {
        .my-orders-subheading {
            letter-spacing: 0;
        }
    }
}

.info-label-wrap {
    &.edit-profile {
        position: absolute;
        padding: 0.6em 10%;

        @include media($medium-screen-down) {
            margin-top: -0.5em;
            padding: 0 1em;
            right: 0;
        }
    }
}
