// Passed steps
$ns-passed-step-line-bs: solid !default;
$ns-passed-step-line-bc: $grey-2 !default;
$ns-passed-step-number-bg: $white !default;
$ns-passed-step-number-bc: $grey-2 !default;
$ns-passed-step-number-c: $white !default;
$ns-passed-step-number-size-l-screen: 26px !default;
$ns-passed-step-number-size-s-screen: 25px !default;

// Active Steps
$ns-active-step-number-c: $black !default;
$ns-active-step-description-c: $black !default;
$ns-active-step-line-bs: solid !default;
$ns-active-step-line-bc: $grey-2 !default;
$ns-active-step-number-size-l-screen: 35px !default;
$ns-active-step-number-size-s-screen: 33px !default;

// Future Steps
$ns-future-step-number-c: $grey-2 !default;
$ns-future-step-description-c: $grey-2 !default;
$ns-step-number-size-l-screen: $ns-passed-step-number-size-l-screen + 6px !default;
$ns-step-number-size-s-screen: $ns-passed-step-number-size-s-screen + 6px !default;
$ns-summary-step-number-c: $bmw-blue !default;
$ns-summary-step-description-c: $bmw-blue !default;

// Steps configuration
$ns-description-letter-spacing-l-screen: em(1.2) !default;
$ns-description-letter-spacing-s-screen: em(.8) !default;

// Steps navigation buttons
$nv-bc: $grey-2 !default;

.navigation {
    @import './navigation-steps/steps-block';
    @import './navigation-steps/steps';
    @import './navigation-steps/steps-wrapper';
    @import './navigation-steps/step';
    @import './navigation-steps/buttons-wrapper';
    @import './navigation-steps/learn-more';
}

.learn-more-popup {
    h3 {
        font-weight: $fw-book;
        text-align: center;
        font-size: $f-size-5xl;
        margin-top: 20px;
    }

    .reasons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 30px;
        align-items: baseline;

        .reason-block {
            flex: 0 1 100%;
            padding: 20px;

            @include media($medium-screen-only) {
                flex: 0 1 50%;
            }

            @include media($large-screen-up) {
                flex: 0 1 calc(100% / 3);
            }

            img {
                margin: auto;
            }

            .text {
                margin-top: 20px;

                .title {
                    margin-bottom: 13px;
                    font-weight: $fw-medium;
                }

                .content {
                    font-size: $f-size-s;
                    line-height: $heading-line-height;
                    letter-spacing: 0;
                }
            }
        }
    }
}
