<?xml version="1.0"?>
<!--
/**
 * @category  Peppermint
 * @package   Peppermint_Importer
 * @author    Adrian Grigorita <adrian.grigorita@rockar.com>
 * @copyright Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <sections>
        <peppermint_import translate="label">
            <label>Data Import from RabbitMQ</label>
            <tab>rockar</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general>
                    <label>RabbitMq Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <rmq_host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_host>
                        <rmq_port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry validate-number</validate>
                        </rmq_port>
                        <rmq_user translate="label">
                            <label>User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_user>
                        <rmq_password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_password>
                        <rmq_vhost translate="label">
                            <label>Vhost</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_vhost>
                        <rmq_products_queue translate="label">
                            <label>Products queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_products_queue>
                        <rmq_products_delete_queue translate="label">
                            <label>Products delete queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_products_delete_queue>
                        <rmq_attributes_queue translate="label">
                            <label>Attributes queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_attributes_queue>
                        <rmq_dealer_queue translate="label">
                            <label>Dealer queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_dealer_queue>
                        <rmq_order_push_queue translate="label">
                            <label>Order push queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_order_push_queue>
                        <rmq_order_queue translate="label">
                            <label>Order queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_order_queue>
                        <rmq_sales_data_queue translate="label">
                            <label>Sales Data queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_sales_data_queue>
                        <rmq_matrix_mapping_queue translate="label">
                            <label>Model Matrix Mapping queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_matrix_mapping_queue>
                        <rmq_accessories_queue translate="label">
                            <label>Accessories queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_accessories_queue>
                        <rmq_accessories_mapping_queue translate="label">
                            <label>Accessories Mapping queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>165</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_accessories_mapping_queue>
                        <rmq_credit_app_queue translate="label">
                            <label>Credit Application queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_credit_app_queue>
                        <rmq_consumer_tag translate="label">
                            <label>Consumer tag</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_consumer_tag>
                        <rmq_login_method translate="label">
                            <label>Login Method</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_login_method>
                        <rmq_locale translate="label">
                            <label>Locale</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </rmq_locale>
                        <rmq_connection_timeout translate="label">
                            <label>Connection Timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry validate-number</validate>
                        </rmq_connection_timeout>
                        <rmq_read_write_timeout translate="label">
                            <label>Read Write Timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry validate-number</validate>
                        </rmq_read_write_timeout>
                        <rmq_heartbeat translate="label">
                            <label>Heartbeat</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry validate-number</validate>
                        </rmq_heartbeat>
                        <sleep_time translate="label">
                            <label>Sleep time (mirco seconds)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>260</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry validate-number</validate>
                            <comment>All fields above are required.</comment>
                        </sleep_time>
                    </fields>
                </general>
                <sap_log translate="label">
                    <label>Sap Cron</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cron_retry_limit translate="label">
                            <label>Maximum Retry Attempts</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                        </cron_retry_limit>
                    </fields>
                </sap_log>
                <product_fail translate="label">
                    <label>Product Queue Fail Cron</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cron_retry_limit translate="label">
                            <label>Maximum Retry Attempts</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                        </cron_retry_limit>
                    </fields>
                </product_fail>
            </groups>
        </peppermint_import>
    </sections>
</config>
