button {
    width: 100%;
    margin: 0;
    border: 0;
    background: $finance-selection-group-default-color;
    color: $bmw-dark-grey;
    padding: .5em 1.55em;
    min-width: 285px;
    height: 50px;
    font-family: $bmw-bold;
    font-size: $bmw-rem;
    border-left: $bmw-nav;

    &:hover,
    &.selected {
        background: $finance-selection-group-active-color;
        color: $bmw-dark-grey;
        border-left: $bmw-active-nav;
    }
}
