.accordion-group {
    .accordion {
        margin: 0;
        border-bottom: 0;

        &.accordion-blank {
            border-bottom: 1px solid $accordion-last-child-border-color;
        }

        &:last-child {
            border-bottom: 1px solid $accordion-last-child-border-color;
        }

        .js-accordion-trigger {
            font-size: $f-size-s;
            padding: 18px 20% 18px 20px;
        }
    }
}

.accordion {
    background-color: $white;
    font-family: $primary-font-family;
    position: relative;

    &.disabled {
        opacity: .3;
        cursor: not-allowed;
    }

    li {
        > a {
            color: $accordion-menu-color;
            text-transform: none;
            letter-spacing: 1.1px;
            position: relative;
            padding-right: 20px;
            padding-left: 25px;

            @include media($small-screen-down) {
                font-size: $accordion-a-font-size;
            }

            &::after {
                @include position(absolute, 25% 5% null null);
            }
        }

        &:focus,
        &:hover {
            background-color: $accordion-menu-hover;
        }
    }

    ul.submenu {
        li,
        li:first-child,
        li:hover {
            box-shadow: none;
            border-bottom: 0;
            border-top: 0;
            background-color: transparent;
        }

        > li,
        > li:first-child {
            background-color: $white;

            &:focus,
            &:hover {
                background-color: $white;
            }
        }
    }

    .submenu {
        a::after {
            content: '';
        }
    }

    // Right/Down expander type
    &.type-right-down {
        > li {
            > a {
                &::after {
                    @include size(12px);
                    content: '';
                    display: block;
                    border-right: 3px solid $grey-3;
                    border-top: 3px solid $grey-3;
                    transform: rotate(45deg) translateY(-50%);
                    transform-origin: 50% 50%;
                    background-image: none;
                    margin-top: 0;
                    right: 15px;
                    top: 50%;
                    opacity: 0.7;
                }

                &:hover:after {
                    @include size(12px);
                    border-right: 3px solid $bmw-blue;
                    border-top: 3px solid $bmw-blue;
                }

                &:focus:after {
                    border-right: 2px solid $grey-4;
                    border-top: 2px solid $grey-4;
                }
            }

            &.is-expanded {
                > a {
                    &::after {
                        transform: rotate(135deg);
                        right: 15px;
                        top: 20px;
                    }
                }
            }
        }
    }

    &.type-left-down {
        > li {
            > a {
                &::after {
                    display: none;
                }

                &::before {
                    content: '';
                    display: block;
                    float: left;
                    border-right: 1px solid $black;
                    border-top: 1px solid $black;
                    transform: rotate(45deg);
                    width: 8px;
                    height: 8px;
                    transform-origin: 50% 50%;
                    background-image: none;
                    margin-top: 0;
                    position: relative;
                    top: 23px;
                }
            }

            &.is-expanded {
                > a {
                    &::before {
                        transform: rotate(135deg);
                    }
                }
            }
        }
    }

    // Edit/Close expander type
    &.type-edit-close {
        .js-accordion-trigger {
            @include media($small-screen-down) {
                padding-right: 50px;
            }
        }

        > li > a::before {
            @include position(absolute, 13px 10px null null);
            width: 112px;
            height: 30px;
            content: 'EDIT';
            border: 1px solid $black;
            text-align: center;
            padding-right: .85em;
            font-size: $f-size-s;
            line-height: 30px;

            @include media($small-screen-down) {
                top: 10px;
                width: 30px;
                content: '';
            }
        }

        > li > a::after {
            @include sprite($sprite-pencil-icon-white);
            content: '';
            right: 42px;
            top: 22px;

            @include media($small-screen-down) {
                top: 20px;
                right: 20px;
            }
        }

        .is-expanded {
            display: block;
            padding-bottom: 0;

            > ul.submenu {
                display: block;
            }

            > a::before {
                content: 'CLOSE';
                border: 1px solid $white;

                @include media($small-screen-down) {
                    content: '';
                }
            }

            > a::after {
                @include sprite($sprite-close-light-small);
                right: 34px;

                @include media($small-screen-down) {
                    right: 20px;
                }
            }
        }
    }

    // Blank accordion with content
    &.accordion-blank {
        background-color: transparent;
        border: 0;

        .is-expanded {
            .js-accordion-trigger {
                background: $accordion-blank-title-expanded-background;
                color: $accordion-blank-expander-color;
            }

            ul.submenu {
                display: block;
            }
        }

        .js-accordion-trigger {
            font-family: $accordion-title-font;
            color: $accordion-title-color;
            background: $accordion-blank-title-background;
        }

        li {
            &:hover {
                background-color: transparent;

                > a.js-accordion-trigger {
                    background-color: $accordion-blank-title-expanded-background;
                    color: $white;

                    &::before {
                        border: 1px solid $white;
                    }
                }
            }
        }

        ul.submenu {
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }

            > li {
                box-shadow: none;
                border: 0;
            }
        }
    }

    // Light accordion with content
    &.accordion-light {
        background-color: transparent;
        border: 0;
        margin-bottom: 1px;

        &.scroll .accordionSlide-transition {
            height: 200px;
        }

        .accordionSlide-transition {
            margin-bottom: 10px;
            box-sizing: border-box;

            .gm-scrollbar.-vertical {
                width: 10px;
            }

            .gm-scroll-view {
                overflow-x: hidden;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        li {
            > a.js-accordion-trigger {
                color: $grey-4;
                font-family: $accordion-title-font;
                font-size: $bmw-button;
                padding: 18px 17px 15px 23px;
                background-color: $white;
                border-bottom: solid 1px $grey-2;
            }

            &:hover {
                background-color: transparent;

                > a.js-accordion-trigger {
                    background-color: $white;
                }
            }
        }

        .is-expanded {
            a.js-accordion-trigger {
                background-color: $white;
            }
        }

        ul.submenu {
            > li {
                background-color: transparent;
                box-shadow: none;
                border: 0;
            }
        }

        &.accordion-transparent {
            li {
                > a.js-accordion-trigger {
                    color: $accordion-transparent-color;
                    background: $white;

                    &::after {
                        border-right: 1px solid $accordion-transparent-color;
                        border-top: 1px solid $accordion-transparent-color;
                    }
                }

                &:hover {
                    > a.js-accordion-trigger {
                        background: transparent;
                    }
                }

                &.is-expanded {
                    > a.js-accordion-trigger {
                        background: transparent;
                    }
                }
            }
        }
    }

    .accordion-content {
        position: relative;
        padding: 1.5em;
        background: $accordion-content-background;
    }
}
