#car-finder {
    @include clearfix;

    > .car-finder-filters {
        @include clearfix;
        margin-top: 56px;

        @include media($small-screen-down) {
            margin: 0;
        }

        .car-filter-step {
            .car-compare {
                .compare-content-link {
                    text-decoration: underline;
                }
            }
        }

        .substep-1 {
            margin-bottom: 110px;

            @include media($small-screen-down) {
                margin-bottom: initial;
            }
        }

        div.substep-2-main {
            margin-bottom: 32px;

            @include media($small-screen-down) {
                margin-bottom: initial;
            }
        }
    }

    .navigation-buttons-wrapper {
        width: 100vw;
        position: sticky;
        position: -webkit-sticky;
        margin-left: calc(-50vw + 50%);
        bottom: 0;
        background: $base-background-color;
        z-index: 10;

        &.footer-margin {
            margin-top: 150px;
        }

        &.js-is-sticky {
            left: calc(-50vw + 50%);
        }

        .navigation-outer-container {
            max-width: 75em;
            margin-left: auto;
            margin-right: auto;
        }

        &.px-second-step {
            @include media($small-screen-down) {
                bottom: auto;
            }
        }
    }
}
