.id-document-type {
    .selectbox-dropdown {
        height: auto !important; //Used to overwrite inline style applied to dropdown
    }
}

.selectbox {
    position: relative;
    font-family: $primary-font-bold;
    font-weight: $fw-semibold;
    width: 100%;
    max-width: 100%;
    margin-bottom: .8em;
    font-size: $input-field-font-size;
    border: solid 1px $grey-2;

    .select-1 & {
        max-width: 445px;
    }

    .select-2 & {
        max-width: 175px;
    }

    .select-3 & {
        max-width: 130px;
    }

    &.open {
        .selectbox-select {
            background: transparent;

            .dropdown-caret {
                &::after {
                    @include size(12px);
                    content: '';
                    display: block;
                    border-right: 3px solid $grey-3;
                    border-top: 3px solid $grey-3;
                    transform: rotate(315deg) translateY(0%);
                    transform-origin: 50% 50%;
                    background-image: none;
                    margin-top: 0;
                    right: 15px;
                    top: 50%;
                    opacity: 1;
                    }
                }
            }
        }

    &.disabled {
        opacity: .5 !important;

        .selectbox-select {
            cursor: not-allowed;
            border: 1px solid $selectbox-disabled-border;
            border-left: $bmw-nav;
        }
    }

    &.grey-dropdown {
        .selectbox-select {
            text-align: left;

            .dropdown-caret {
                background: transparent;
                border-left: 1px solid $selectbox-grey-dropdown-caret-border-color;

                &::after {
                    @include sprite($sprite-arrow-down-dark);

                    @include media($small-screen-down) {
                        background-image: none;
                        background-position: unset;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }

        &.open {
            .selectbox-select {
                background: $white;

                .dropdown-caret {
                    &::after {
                        @include transform(rotate(180deg));

                        @include media($small-screen-down) {
                            transform: rotate(315deg) translateY(0%);
                        }
                    }
                }
            }
        }

        &.selected {
            .selectbox-wrapper {
                border-left: $bmw-active-nav;
            }
        }
    }

    .selectbox-select {
        position: relative;
        background: transparent;
        border: none;
        color: $grey-4;
        line-height: 15px;
        cursor: pointer;
        padding: 17px 59px 14px 19px;
        min-height: 48px;
        border-left: $bmw-nav;

        &:hover {
            background: $white;
            border-left: $bmw-active-nav;
        }

        &:active {
            border-left: $bmw-active-nav;
        }

        &:focus {
            border-left: $bmw-active-nav;
        }

        .dropdown-caret {
            @include position(absolute, 0px 0 null null);
            width: 40px;
            height: 100%;
            background: transparent;

            &::after {
                @include size(12px);
                content: '';
                display: block;
                border-right: 3px solid $grey-3;
                border-top: 3px solid $grey-3;
                transform: rotate(135deg) translateY(-50%);
                transform-origin: 50% 0%;
                background-image: none;
                margin-top: 0;
                right: 15px;
                top: 50%;
                opacity: 0.7;

                &:hover {
                    @include size(12px);
                    content: '';
                    display: block;
                    border-right: 3px solid $bmw-blue;
                    border-top: 3px solid $bmw-blue;
                    transform: rotate(135deg) translateY(-50%);
                    transform-origin: 50% 0%;
                    background-image: none;
                    margin-top: 0;
                    right: 15px;
                    top: 50%;
                    opacity: 0.7;
                }

                &:focus {
                    border-right: 2px solid $grey-4;
                    border-top: 2px solid $grey-4;
                    transform: rotate(45deg) translateY(-50%);
                    transform-origin: 50% 50%;
                }
            }
        }
    }

    .selectbox-dropdown {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background: $selectbox-list-background;
        z-index: 999;
        overflow-y: scroll;
        border: solid 2px #e6e6e6;

        .dropdown-item {
            color: $selectbox-item-text-color;
            padding: 10px 19px;
            line-height: 25px;
            border: 1px solid $selectbox-item-border-color;
            cursor: pointer;

            &:nth-child(3n) {
                background: transparent;
                border-left: 4px solid $white;
            }

            &:nth-child(3n+1) {
                background: transparent;
                border-left: 4px solid $white;
            }

            &:nth-child(3n+2) {
                background: transparent;
                border-left: 4px solid $white;
            }

            &.selected {
                background: transparent;
                border-left: $bmw-active-nav;
            }

            &:hover {
                background: transparent;
                border-left: $bmw-active-nav;
            }
        }

        // Styles if custom scrollbar added BEGIN
        .ps {
            .ps__scrollbar-y-rail {
                background: $white;

                .ps__scrollbar-y {
                    background: $selectbox-scrollbar-thumb-color;
                }
            }
        }
        // Custom scrollbar styles END
    }
}

.selectbox-wrapper {
    .selectbox-dropdown {
        display: none;
    }
}
