<?xml version="1.0"?>
<!--
/**
 * @category    Peppermint
 * @package     Peppermint\Orderamend
 * @author      Adrian Grigorita <adrian.grigorita@rockar.com>
 * @copyright   Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <modules>
        <Peppermint_Orderamend>
            <version>0.1.6</version>
        </Peppermint_Orderamend>
    </modules>
    <global>
        <blocks>
            <peppermint_orderamend>
                <class>Peppermint_Orderamend_Block</class>
            </peppermint_orderamend>
            <rockar_orderamend>
                <rewrite>
                    <adminhtml_orderamend>Peppermint_Orderamend_Block_Adminhtml_Orderamend</adminhtml_orderamend>
                </rewrite>
            </rockar_orderamend>
        </blocks>
        <helpers>
            <peppermint_orderamend>
                <class>Peppermint_Orderamend_Helper</class>
            </peppermint_orderamend>
            <rockar_orderamend>
                <rewrite>
                    <data>Peppermint_Orderamend_Helper_Data</data>
                    <order>Peppermint_Orderamend_Helper_Order</order>
                    <grid_productSwap>Peppermint_Orderamend_Helper_Grid_ProductSwap</grid_productSwap>
                    <finance_filters>Peppermint_Orderamend_Helper_Finance_Filters</finance_filters>
                    <finance_data>Peppermint_Orderamend_Helper_Finance_Data</finance_data>
                    <finance_reorder>Peppermint_Orderamend_Helper_Finance_Reorder</finance_reorder>
                    <salesrule>Peppermint_Orderamend_Helper_Salesrule</salesrule>
                    <accessories_data>Peppermint_Orderamend_Helper_Accessories_Data</accessories_data>
                </rewrite>
            </rockar_orderamend>
        </helpers>
        <resources>
            <peppermint_orderamend_setup>
                <setup>
                    <module>Peppermint_Orderamend</module>
                </setup>
            </peppermint_orderamend_setup>
        </resources>
        <models>
            <peppermint_orderamend>
                <class>Peppermint_Orderamend_Model</class>
            </peppermint_orderamend>
            <rockar_orderamend>
                <rewrite>
                    <finance_options>Peppermint_Orderamend_Model_Finance_Options</finance_options>
                    <observer>Peppermint_Orderamend_Model_Observer</observer>
                    <catalogRule_observer>Peppermint_Orderamend_Model_CatalogRule_Observer</catalogRule_observer>
                    <finance_observer>Peppermint_Orderamend_Model_Finance_Observer</finance_observer>
                </rewrite>
            </rockar_orderamend>
        </models>
    </global>
    <adminhtml>
        <events>
            <rockar_lead_time_admin_quote_add_lead_time_after>
                <observers>
                    <pep_orderamend>
                        <class>peppermint_orderamend/observer</class>
                        <method>updateConfigurableProductLeadTime</method>
                    </pep_orderamend>
                </observers>
            </rockar_lead_time_admin_quote_add_lead_time_after>
            <sales_convert_order_item_to_quote_item>
                <observers>
                    <pep_convert_order_item_to_quote_item>
                        <class>peppermint_orderamend/observer</class>
                        <method>convertOrderItemToQuoteItem</method>
                    </pep_convert_order_item_to_quote_item>
                </observers>
            </sales_convert_order_item_to_quote_item>
             <rockar_orderamend_create_before>
                <observers>
                    <peppermint_orderamend_validateProduct>
                        <class>peppermint_orderamend/observer</class>
                        <method>validateOrderProduct</method>
                    </peppermint_orderamend_validateProduct>
                </observers>
            </rockar_orderamend_create_before>
            <reorder_submit_after>
                <observers>
                    <credit_app_save>
                        <class>peppermint_orderamend/observer</class>
                        <method>saveCreditAppToChildOrder</method>
                    </credit_app_save>
                </observers>
            </reorder_submit_after>
        </events>
        <layout>
            <updates>
                <peppermint_orderamend>
                    <file>peppermint/amend.xml</file>
                </peppermint_orderamend>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_orderamend before="Rockar_Orderamend">Peppermint_Orderamend_Adminhtml</peppermint_orderamend>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <order_amend>
            <general>
                <can_unlock_amendment>0</can_unlock_amendment>
            </general>
        </order_amend>
    </default>
</config>
