<?xml version="1.0"?>
<config>
    <modules>
        <Peppermint_CatalogRule>
            <version>1.0.4</version>
        </Peppermint_CatalogRule>
    </modules>
    <global>
        <models>
            <peppermint_catalogrule>
                <class>Peppermint_CatalogRule_Model</class>
                <resourceModel>peppermint_catalogrule_resource</resourceModel>
            </peppermint_catalogrule>
            <peppermint_catalogrule_resource>
                <class>Peppermint_CatalogRule_Model_Resource</class>
                <entities>
                    <rules_log>
                        <table>peppermint_rules_log</table>
                    </rules_log>
                    <catalogrule_pending>
                        <table>peppermint_catalogrule_pending</table>
                    </catalogrule_pending>
                </entities>
            </peppermint_catalogrule_resource>
            <catalogrule>
                <rewrite>
                    <observer>Peppermint_CatalogRule_Model_Observer</observer>
                    <rule>Peppermint_CatalogRule_Model_Rule</rule>
                    <rule_condition_combine>Peppermint_CatalogRule_Model_Rule_Condition_Combine</rule_condition_combine>
                    <action_index_refresh>Peppermint_CatalogRule_Model_Action_Index_Refresh</action_index_refresh>
                    <action_index_refresh_row>Peppermint_CatalogRule_Model_Action_Index_Refresh_Row</action_index_refresh_row>
                </rewrite>
            </catalogrule>
            <catalogrule_resource>
                <rewrite>
                    <rule>Peppermint_CatalogRule_Model_Resource_Rule</rule>
                </rewrite>
            </catalogrule_resource>
        </models>
        <helpers>
            <peppermint_catalogrule>
                <class>Peppermint_CatalogRule_Helper</class>
            </peppermint_catalogrule>
        </helpers>
        <blocks>
            <peppermint_catalogrule>
                <class>Peppermint_CatalogRule_Block</class>
            </peppermint_catalogrule>
            <adminhtml>
                <rewrite>
                    <promo_catalog>Peppermint_CatalogRule_Block_Adminhtml_Promo_Catalog</promo_catalog>
                    <promo_catalog_edit>Peppermint_CatalogRule_Block_Adminhtml_Promo_Catalog_Edit</promo_catalog_edit>
                    <promo_catalog_grid>Peppermint_CatalogRule_Block_Adminhtml_Promo_Catalog_Grid</promo_catalog_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <peppermint_import_products_after>
                <observers>
                    <peppermint_catalogrule_apply_all_rules_to_products>
                        <class>peppermint_catalogrule/observer</class>
                        <method>applyAllRulesToProducts</method>
                    </peppermint_catalogrule_apply_all_rules_to_products>
                </observers>
            </peppermint_import_products_after>
            <sales_order_place_after>
                <observers>
                    <pep_add_pricing_rules_on_save>
                        <type>singleton</type>
                        <class>peppermint_catalogrule/observer</class>
                        <method>setPricingRules</method>
                    </pep_add_pricing_rules_on_save>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <peppermint_catalogrule_setup>
                <setup>
                    <module>Peppermint_CatalogRule</module>
                </setup>
            </peppermint_catalogrule_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <adminhtml_promo_catalog_edit_tab_main_prepare_form>
                <observers>
                    <peppermint_catalogrule_edit_tab_main_prepare_form>
                        <type>singleton</type>
                        <class>peppermint_catalogrule/observer</class>
                        <method>prepareMainEditForm</method>
                    </peppermint_catalogrule_edit_tab_main_prepare_form>
                </observers>
            </adminhtml_promo_catalog_edit_tab_main_prepare_form>
        </events>
        <layout>
            <updates>
                <peppermint_catalogrule>
                    <file>peppermint_catalogrules.xml</file>
                </peppermint_catalogrule>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_catalogrule before="Mage_Adminhtml">Peppermint_CatalogRule_Adminhtml</peppermint_catalogrule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <peppermint_attribute_reindex>
                <schedule>
                    <cron_expr>*/20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_catalogrule/cron::run</model>
                </run>
            </peppermint_attribute_reindex>
        </jobs>
    </crontab>
</config>
