<?xml version="1.0"?>
<!--
/**
 * @category     Peppermint
 * @package      Peppermint_Checkout
 * @author       Dominic Sutton <dominic.sutton@rockar.com>, Razvan Zofota <razvan.zofota@rockar.com>
 * @copyright    Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
*/
-->
<config>
    <modules>
        <Peppermint_Checkout>
            <version>0.2.8</version>
        </Peppermint_Checkout>
    </modules>
    <global>
        <helpers>
            <peppermint_checkout>
                <class>Peppermint_Checkout_Helper</class>
            </peppermint_checkout>
            <rockar_checkout>
                <rewrite>
                    <confirmation>Peppermint_Checkout_Helper_Confirmation</confirmation>
                    <data>Peppermint_Checkout_Helper_Data</data>
                    <delivery>Peppermint_Checkout_Helper_Delivery</delivery>
                </rewrite>
            </rockar_checkout>
        </helpers>
        <models>
            <peppermint_checkout>
                <class>Peppermint_Checkout_Model</class>
            </peppermint_checkout>
            <rockar_checkout>
                <rewrite>
                    <quote_additional>Peppermint_Checkout_Model_Quote_Additional</quote_additional>
                    <observer>Peppermint_Checkout_Model_Observer</observer>
                </rewrite>
            </rockar_checkout>
        </models>
        <blocks>
            <peppermint_checkout>
                <class>Peppermint_Checkout_Block</class>
            </peppermint_checkout>
            <rockar_checkout>
                <rewrite>
                    <checkout_steps_address>Peppermint_Checkout_Block_Checkout_Steps_Address</checkout_steps_address>
                    <checkout_steps_details>Peppermint_Checkout_Block_Checkout_Steps_Details</checkout_steps_details>
                    <adminhtml_order_view_customer_additional>Peppermint_Checkout_Block_Adminhtml_Order_View_Customer_Additional</adminhtml_order_view_customer_additional>
                    <checkout_steps_summary>Peppermint_Checkout_Block_Checkout_Steps_Summary</checkout_steps_summary>
                </rewrite>
            </rockar_checkout>
            <checkout>
                <rewrite>
                    <onepage>Peppermint_Checkout_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <peppermint_checkout_setup>
                <setup>
                    <module>Peppermint_Checkout</module>
                </setup>
            </peppermint_checkout_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <deposit_source>
                    <to_order_item>*</to_order_item>
                </deposit_source>
                <deposit_other_description>
                    <to_order_item>*</to_order_item>
                </deposit_other_description>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <deposit_source>
                    <to_quote_item>*</to_quote_item>
                </deposit_source>
                <deposit_other_description>
                    <to_quote_item>*</to_quote_item>
                </deposit_other_description>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <events>
            <checkout_controller_onepage_save_shipping_method_after>
                <observers>
                    <peppermint_controller_action_predispatch_checkout_onepage_index>
                        <type>singleton</type>
                        <class>peppermint_checkout/observer</class>
                        <method>validateAndReplaceOutOfStockProduct</method>
                    </peppermint_controller_action_predispatch_checkout_onepage_index>
                </observers>
            </checkout_controller_onepage_save_shipping_method_after>
            <checkout_controller_onepage_place_order_vin_reserved>
                <observers>
                    <peppermint_replace_reserved_product>
                        <type>singleton</type>
                        <class>peppermint_checkout/observer</class>
                        <method>validateAndReplaceOutOfStockProduct</method>
                    </peppermint_replace_reserved_product>
                </observers>
            </checkout_controller_onepage_place_order_vin_reserved>
            <checkout_cart_add_product_complete>
                <observers>
                    <peppermint_product_add_to_cart>
                        <class>peppermint_checkout/observer</class>
                        <method>processAddToCart</method>
                    </peppermint_product_add_to_cart>
                </observers>
            </checkout_cart_add_product_complete>
            <peppermint_checkout_controller_success_after>
                <observers>
                    <peppermint_checkout_check_gcid>
                        <class>peppermint_checkout/observer</class>
                        <method>gcidSplCheck</method>
                    </peppermint_checkout_check_gcid>
                </observers>
            </peppermint_checkout_controller_success_after>
            <peppermint_checkout_onepage_controller_before_index_action>
                <observers>
                    <peppermint_controller_action_predispatch_checkout_onepage_index>
                        <type>singleton</type>
                        <class>peppermint_checkout/observer</class>
                        <method>validateAndReplaceOutOfStockProduct</method>
                    </peppermint_controller_action_predispatch_checkout_onepage_index>
                </observers>
            </peppermint_checkout_onepage_controller_before_index_action>
        </events>
        <routers>
            <peppermint_checkout>
                <use>standard</use>
                <args>
                    <module>Peppermint_Checkout</module>
                    <frontName>pdf</frontName>
                </args>
            </peppermint_checkout>
            <checkout>
                <args>
                    <modules>
                        <peppermint_checkout before="Rockar2_Checkout">Peppermint_Checkout</peppermint_checkout>
                    </modules>
                </args>
            </checkout>
            <rockar_configurator>
                <args>
                    <modules>
                        <peppermint_checkout before="Rockar_Configurator">Peppermint_Checkout</peppermint_checkout>
                    </modules>
                </args>
            </rockar_configurator>
        </routers>
        <layout>
            <updates>
                <peppermint_checkout>
                    <file>peppermint/checkout.xml</file>
                </peppermint_checkout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <peppermint_checkout>
                    <file>checkout.xml</file>
                </peppermint_checkout>
            </updates>
        </layout>
    </adminhtml>
</config>
