<?xml version="1.0"?>
<!--
/**
 * @category  Peppermint
 * @package   Peppermint_Checkout
 * @author    Ausma Smite <techteam@rockar.com>
 * @copyright Copyright (c) 2020 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <sections>
        <spl_check translate="label" module="peppermint_checkout">
            <label>SPL Check</label>
            <tab>rockar</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <url translate="label">
                            <label>Service URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry validate-url</validate>
                        </url>
                        <user translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </user>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </password>
                    </fields>
                </general>
            </groups>
        </spl_check>
    </sections>
</config>