.px-additional-info-checkbox {
    margin-bottom: em(10);

    p {
        color: $error-color;
    }

    label {
        span {
            &::before {
                top: -3px;
                right: -2px;
            }
        }
    }

    .info-label-wrap {
        position: relative;
        display: inline-block;

        @include media($small-screen-down) {
            padding-right: 35px;
        }

        .px-light-text {

            @include media($medium-screen-up) {
                font-size: $f-size-xs;
            }

            @include media($small-screen-down) {
                font-size: $f-size-xs;
            }
        }

        .action-badge {
            @include media($small-screen-down) {
                padding-left: 5px;
                bottom: 0;
                top: auto;
                right: 0;
                position: relative;
            }
        }
    }

    .warning,
    p {
        @include media($medium-screen-up) {
            font-size: 12px;
            font-weight: $fw-normal;
        }
    }
}
