[mysqld]
connect_timeout = 60
wait_timeout = 600

default_storage_engine          = InnoDB
innodb_buffer_pool_instances    = 2
innodb_buffer_pool_size         = 512M
innodb_file_per_table           = 1
