.finance-quote-wrapper {
    padding: 0 4px;

    @include media($medium-screen-down) {
        padding: 0;
    }

    .popup {
        letter-spacing: initial;
    }

    .finance-quote-sticky {
        position: relative;
        top: -10px;
    }

    .finance-delivery {
        margin: 0;

        .lead-time {
            text-transform: none;
            margin: 6px 6px 0;
            text-align: center;
            letter-spacing: .8px;
            font: {
                size: $finance-quote-lead-time-font-size;
                weight: $fw-bold;
                family: $finance-quote-lead-time-font;
            }

            @include media($large-screen-up) {
                margin: 0;
            }
        }
    }

    .payment-amount {
        font: {
            size: $f-size-xl;
            weight: $fw-bold;
            family: $finance-quote-payment-amount-font;
        }
    }

    .payment-label {
        text-transform: none;

        @include media($medium-screen-down) {
            font-size: $f-size-xxxxs;
            letter-spacing: 1.7px;
        }
    }

    &:not(.mobile-only) {
        @include media($large-screen-up) {
            display: block;
        }

        .fq-button-wrapper {
            &:first-of-type {
                @include media($large-screen-up) {
                    max-width: 241px;
                }
            }
        }
    }

    &.mobile-only {
        display: none;
        margin: {
            top: 15px;
            bottom: 15px;
        };

        @include media($medium-screen-down) {
            display: none; //Just hidden for M Fest
        }

        .payment-amount {
            color: $black;
        }

        .finance-quote-actions-wrapper {
            margin-top: 6px;
            border-top: 1px solid $finance-quote-border-color;

            button {
                border: 1px solid $finance-quote-border-color;
                color: $black;
                margin: 12px 0;
                font-weight: $fw-bold;
            }
        }

        .finance-payments {
            @include display(flex);
            @include justify-content(center);
            padding: 0 13px;

            @include media($medium-screen-up) {
                width: 35%;
                margin: auto;
            }

            .payment {
                &:not(:last-child) {
                    padding-right: 13px;
                    border-right: 1px solid $finance-quote-border-color;
                }

                &:not(:first-child) {
                    padding-left: 13px;
                }
            }
        }
    }

    .finance-overlay {
        td {
            font-size: $f-size;
        }
    }
}

.finance-quote-configurator {
    border: 1px solid $finance-quote-border-color;
    width: 100%;
    font-size: $bmw-button;
    color: $grey-4;
    padding: 0 4px;

    @include media($large-screen-down) {
        padding: 0 11px;
    }

    .finance-quote-header {
        @include display(flex);
    }

    .fq-button-wrapper {
        display: none;

        @include media($medium-screen-down) {
            display: block;
        }

        @include media($large-screen-down) {
            width: 50%;
        }
    }

    .fq-heading {
        font-weight: $fw-black;
        letter-spacing: 0px;
        font-size: $bmw-h3;

        @include media($medium-screen-down) {
            width: 100%;
        }

        @include media($large-screen-up) {
            margin: auto;
        }
    }

    .variable-title {
        text-transform: none;
        font-size: 14px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .car-data-label {
        border-bottom: 1px solid $finance-quote-border-color;
        padding-bottom: 2px;
        margin-bottom: 10px;
        text-transform: none;
        font-weight: $fw-black;
        letter-spacing: 0px;
        padding-bottom: 10px;
    }

    .car-road-value {
        text-transform: none;
        letter-spacing: 0px;
        padding-bottom: 10px;

        @include media($small-screen-down) {
            font-size: $f-size;
        }
    }

    td {
        font-size: $bmw-offer-button;

        @include media($small-screen-down) {
            font-size: $f-size-xs;
        }
    }

    .fq-edit {
        text-transform: lowercase;
        font-weight: $fw-black;
        font-size: $bmw-button;

        .fq-edit-delimitor {
            padding: 0 em(2.5);
        }
    }

    .car-data-value {
        @include display(flex);
        @include justify-content(space-between);
        font-weight: $fw-bold;
        font-size: $bmw-offer-button;
        letter-spacing: 0px;
    }

    .minor-car-data {
        @include display(flex);
        @include justify-content(space-between);
        font-weight: $fw-light;
        font-size: $bmw-offer-button;
        letter-spacing: 0px;

        .right {
            font-weight: $fw-bold;
        }
    }

    .finance-quote-scroll {
        position: relative;

        .table-right {
            font-weight: $fw-bold;
            text-align: right;
            font-size: 14px;

            @include media($small-screen-down) {
                font-size: $f-size;
            }
        }

        td {
            letter-spacing: 0px;
        }

        a {
            transition: none;
            margin-right: 5px;
        }
    }

    .overview {
        .finance-quote-content {
            border-top: 1px solid $finance-quote-border-color;
            border-bottom: 1px solid $finance-quote-border-color;
            padding-top: 10px;
            letter-spacing: 0px;
            font-size: $f-size-xxxxs;

            @include media($large-screen-down) {
                border-bottom: 0;
            }

            tr {
                &:not(:last-child) {
                    border-bottom: 1px solid $grey-1;
                }
            }
        }
    }

    .group-block {
        .collapse,
        .expand {
            margin-left: 10px;
            margin-top: 7px;
        }
    }

    .group-title {
        font-weight: $fw-bold;
        letter-spacing: 0px;
        text-transform: none;
    }

    .finance-payments {
        @include display(flex);

        .payment {
            @include flex(1);
            padding: 0 10px;

            &:not(:last-child) {
                border-right: 1px solid $finance-quote-border-color;
            }

            .payment-label {
                font-size: $bmw-offer-p;
                padding-top: 10px;
                text-transform: none;
            }

            .payment-amount {
                font-size: $bmw-offer-h3;
                color: $black;

                @include media($small-screen-down) {
                    font-size: $f-size-xxxl;
                }
            }
        }
    }

    .finance-quote-buttons {
        @include media($small-screen-down) {
            display: none;
            padding-top: 0;
        }

        .btn-checkout {
            font-size: $bmw-offer-button;
            font-weight: $fw-black;
            height: 50px;
            padding: $button-narrow-height-padding $button-width-padding;
            background: $bmw-blue;
            border: 0;
            max-width: 285px;
            width: 100%;
            columns: $white;
            font-family: $primary-font-bold;
        }
    }
}

.link-edit-finance {
    text-transform: none;
    font-size: $f-size-5xs;
    font-weight: $fw-black;
    letter-spacing: 1px;
    max-width: 62px;

    @include media($large-screen-down) {
        max-width: 80px;
    }

    &.bottom {
        @include media($large-screen-down) {
            @include display(flex);
            @include flex-direction(column);
            @include align-items(center);
            float: right;
        }

        @include media($large-screen-up) {
            display: none;
        }
    }

    .finance-calculator-icon {
        @include size(25px 29px);
        display: block;
        background-image: url('../images/svg/finance-calculator.svg');
        margin: 0 auto 3px;
    }
}
