/**
Here we add variables that are unique to MINI. If a variable is not here but is on the Style guide,
we can use the variable from Style guide - it is already included in the dsp2 theme
 */

////// Interface Colors //////
$c-mini-grey: #f1f1f1;
$c-mini-grey-1: #e5e5e5;
$c-mini-grey-2: #333333;
$c-mini-grey-3: #4a4a4a;
$c-mini-blue: #0085ac;
$c-mini-orange: #ed9300;

////// Signal Colors //////
$c-mini-red-1: #cc0000;

////// Additional Greys //////
$c-grey-13: #7c7c7c;
$c-grey-14: #999999;

