.selectbox {
    font-family: $motorrad-regular;
    font-size: $dsp2-f-size-sl;
    border: solid 2px $c-motorrad-grey-2;

    &.disabled {
        opacity: 1 !important; // Discard default2 style

        .selectbox-select {
            border: 2px solid $c-motorrad-grey-2;
        }
    }
}

.category-car-finder,
.category-bike-finder,
.checkout-cart-index,
.customer-account-index,
.checkout-onepage-index,
.styleguide-page {
    .selectbox-wrapper {
        .selectbox-label {
            font-family: $motorrad-regular;
            text-transform: uppercase;
        }
    }

    .selectbox {
        &.open {
            .selectbox-select {
                .dropdown-caret {
                    &::after {
                        border-right: 1px solid $black;
                        border-top: 1px solid $black;
                    }
                }
            }
        }

        &.disabled {
            border: none;

            .selectbox-select {
                background: $c-motorrad-grey-3;
                border: solid 2px $c-motorrad-grey-2;
                padding: 11px 59px 11px 18px;

                &.selectbox-title {
                    color: $c-motorrad-grey-1;
                }

                .dropdown-caret {
                    &::after {
                        border-right: 1px solid $c-motorrad-grey-1;
                        border-top: 1px solid $c-motorrad-grey-1;
                    }
                }

                &:hover {
                    border: 2px solid $c-motorrad-grey-2;
                    padding: 11px 59px 11px 18px;
                    line-height: 24px;
                }

                &:focus {
                    border: 2px solid $c-motorrad-grey-2;
                    padding: 11px 59px 11px 18px;
                    line-height: 24px;
                }
            }
        }

        .selectbox-select {
            color: $black;
            font-family: $motorrad-regular;
            line-height: 24px;
            padding: 11px 59px 11px 18px;
            min-height: 50px;
            border: 2px solid $c-motorrad-grey-2;

            &.selectbox-title {
                color: $black;
                font-family: $motorrad-regular;
            }

            &:hover,
            &:active,
            &:focus {
                border: 2px solid $black;
                padding: 11px 59px 11px 18px;
                line-height: 24px;
            }

            .dropdown-caret {
                &::after {
                    &,
                    &:focus {
                        border-right: 1px solid $black;
                        border-top: 1px solid $black;
                    }
                }
            }
        }

        .selectbox-dropdown {
            border: 1px solid $c-motorrad-grey-2;
            font-family: $motorrad-regular;
            font-size: $dsp2-f-size-s;

            .dropdown-item {
                color: $black;
                padding: 12px 20px 18px;
                line-height: 22px;
            }

            // Styles if custom scrollbar added BEGIN
            .ps {
                .ps__scrollbar-y-rail {
                    .ps__scrollbar-y {
                        background: $c-motorrad-grey-2;
                    }
                }
            }
            // Custom scrollbar styles END
        }
    }
}
