<?xml version="1.0"?>
<!--
/**
 * @category    Peppermint
 * @package     Peppermint\FinancingOptions
 * @author      Dumitru Mocanu <dumitru.mocanu@rockar.com>
 * @copyright   Copyright (c) 2019 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <modules>
        <Peppermint_FinancingOptions>
            <version>0.2.15</version>
        </Peppermint_FinancingOptions>
    </modules>
    <global>
        <blocks>
            <peppermint_financingoptions>
                <class>Peppermint_FinancingOptions_Block</class>
            </peppermint_financingoptions>
            <financing_options>
                <rewrite>
                    <adminhtml_options_edit_tab_terms>Peppermint_FinancingOptions_Block_Adminhtml_Options_Edit_Tab_Terms</adminhtml_options_edit_tab_terms>
                    <adminhtml_options_edit_tab_data>Peppermint_FinancingOptions_Block_Adminhtml_Options_Edit_Tab_Data</adminhtml_options_edit_tab_data>
                    <adminhtml_options_edit_tab_info>Peppermint_FinancingOptions_Block_Adminhtml_Options_Edit_Tab_Info</adminhtml_options_edit_tab_info>
                    <adminhtml_options_data_edit_tab_data>Peppermint_FinancingOptions_Block_Adminhtml_Options_Data_Edit_Tab_Data</adminhtml_options_data_edit_tab_data>
                    <adminhtml_options_edit_tab_product_data>Peppermint_FinancingOptions_Block_Adminhtml_Options_Edit_Tab_Product_Data</adminhtml_options_edit_tab_product_data>
                    <adminhtml_group_edit_tab_filter>Peppermint_FinancingOptions_Block_Adminhtml_Group_Edit_Tab_Filter</adminhtml_group_edit_tab_filter>
                    <adminhtml_group_edit_tab_main>Peppermint_FinancingOptions_Block_Adminhtml_Group_Edit_Tab_Main</adminhtml_group_edit_tab_main>
                    <order_email_finance>Peppermint_FinancingOptions_Block_Order_Email_Finance</order_email_finance>
                    <financeQuote>Peppermint_FinancingOptions_Block_FinanceQuote</financeQuote>
                    <checkout_steps_finance>Peppermint_FinancingOptions_Block_Checkout_Steps_Finance</checkout_steps_finance>
                </rewrite>
            </financing_options>
            <rockar2_financing_options>
                <rewrite>
                    <filters>Peppermint_FinancingOptions_Block_Filters</filters>
                </rewrite>
            </rockar2_financing_options>
        </blocks>
        <models>
            <peppermint_financingoptions>
                <class>Peppermint_FinancingOptions_Model</class>
                <resourceModel>peppermint_financingoptions_resource</resourceModel>
            </peppermint_financingoptions>
            <peppermint_financingoptions_resource>
                <class>Peppermint_FinancingOptions_Model_Resource</class>
                <entities>
                    <options_variables>
                        <table>rockar_financing_options_variables</table>
                    </options_variables>
                    <options_pdp_variables>
                        <table>rockar_financing_options_pdp_variables</table>
                    </options_pdp_variables>
                </entities>
            </peppermint_financingoptions_resource>
            <rockar_financingoptions>
                <rewrite>
                    <adminhtml_observer>Peppermint_FinancingOptions_Model_Adminhtml_Observer</adminhtml_observer>
                    <adminhtml_system_config_source_methodType>Peppermint_FinancingOptions_Model_Adminhtml_System_Config_Source_MethodType</adminhtml_system_config_source_methodType>
                    <calculation_carfinder>Peppermint_FinancingOptions_Model_Calculation_Carfinder</calculation_carfinder>
                    <calculation_pdp>Peppermint_FinancingOptions_Model_Calculation_Pdp</calculation_pdp>
                    <calculation_quote>Peppermint_FinancingOptions_Model_Calculation_Quote</calculation_quote>
                    <calculation_reorder>Peppermint_FinancingOptions_Model_Calculation_Reorder</calculation_reorder>
                    <calculation_wishlist>Peppermint_FinancingOptions_Model_Calculation_Wishlist</calculation_wishlist>
                    <api_sync>Peppermint_FinancingOptions_Model_Api_Sync</api_sync>
                    <api_map>Peppermint_FinancingOptions_Model_Api_Map</api_map>
                    <calculation_type_leasing>Peppermint_FinancingOptions_Model_Calculation_Type_Leasing</calculation_type_leasing>
                    <calculation_type_payInFull>Peppermint_FinancingOptions_Model_Calculation_Type_PayInFull</calculation_type_payInFull>
                    <interfaces_optionsByParams>Peppermint_FinancingOptions_Model_Interfaces_OptionsByParams</interfaces_optionsByParams>
                    <interfaces_quoteData>Peppermint_FinancingOptions_Model_Interfaces_QuoteData</interfaces_quoteData>
                    <observer>Peppermint_FinancingOptions_Model_Observer</observer>
                    <observer_vehicles>Peppermint_FinancingOptions_Model_Observer_Vehicles</observer_vehicles>
                    <options>Peppermint_FinancingOptions_Model_Options</options>
                </rewrite>
            </rockar_financingoptions>
            <rockar2_financing_options>
                <rewrite>
                    <observer_groups>Peppermint_FinancingOptions_Model_Observer_Groups</observer_groups>
                </rewrite>
            </rockar2_financing_options>
        </models>
        <helpers>
            <peppermint_financingoptions>
                <class>Peppermint_FinancingOptions_Helper</class>
            </peppermint_financingoptions>
            <financing_options>
                <rewrite>
                    <config>Peppermint_FinancingOptions_Helper_Config</config>
                    <data>Peppermint_FinancingOptions_Helper_Data</data>
                    <finance_quote_pdp>Peppermint_FinancingOptions_Helper_Finance_Quote_Pdp</finance_quote_pdp>
                    <finance_quote_checkout>Peppermint_FinancingOptions_Helper_Finance_Quote_Checkout</finance_quote_checkout>
                    <checkout>Peppermint_FinancingOptions_Helper_Checkout</checkout>
                </rewrite>
            </financing_options>
        </helpers>
        <resources>
            <peppermint_financingoptions_setup>
                <setup>
                    <module>Peppermint_FinancingOptions</module>
                </setup>
            </peppermint_financingoptions_setup>
        </resources>
        <events>
            <rockar_financingoptions_data_grid_prepare_columns>
                <observers>
                    <peppermint_financingoptions_data_grid_prepare_columns_after>
                        <class>peppermint_financingoptions/observer</class>
                        <method>onAfterDataGridPrepareColumns</method>
                    </peppermint_financingoptions_data_grid_prepare_columns_after>
                </observers>
            </rockar_financingoptions_data_grid_prepare_columns>
            <rockar_financingoptions_terms_edit_form_prepare_fields>
                <observers>
                    <peppermint_financingoptions_add_extra_columns>
                        <class>peppermint_financingoptions/observer</class>
                        <method>addExtraColumns</method>
                    </peppermint_financingoptions_add_extra_columns>
                </observers>
            </rockar_financingoptions_terms_edit_form_prepare_fields>
            <adminhtml_financing_options_edit_tab_info_prepare_form>
                <observers>
                    <peppermint_financingoptions_adminhtml_financing_options_edit_tab_info_prepare_form>
                        <class>peppermint_financingoptions/observer</class>
                        <method>onAfterPrepareInfoTabForm</method>
                    </peppermint_financingoptions_adminhtml_financing_options_edit_tab_info_prepare_form>
                </observers>
            </adminhtml_financing_options_edit_tab_info_prepare_form>
            <customer_address_update>
                <observers>
                    <peppermint_financingoptions_model_observer>
                        <class>peppermint_financingoptions/observer</class>
                        <method>getObserverCustomerType</method>
                    </peppermint_financingoptions_model_observer>
                </observers>
            </customer_address_update>
            <peppermint_import_products_after>
                <observers>
                    <peppermint_financingoptions_attach_finances_to_products>
                        <class>peppermint_financingoptions/observer</class>
                        <method>attachFinancesToProducts</method>
                    </peppermint_financingoptions_attach_finances_to_products>
                </observers>
            </peppermint_import_products_after>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <peppermint_financingoptions_set_customer_type_pdp>
                        <class>peppermint_financingoptions/observer</class>
                        <method>setObserverCustomerTypeByIsCorporateParam</method>
                    </peppermint_financingoptions_set_customer_type_pdp>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <peppermint_financingoptions_set_customer_type_carfinder>
                        <class>peppermint_financingoptions/observer</class>
                        <method>setObserverCustomerTypeByIsCorporateParam</method>
                    </peppermint_financingoptions_set_customer_type_carfinder>
                </observers>
            </controller_action_predispatch_catalog_category_view>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <peppermint_financingoptions>
                    <file>peppermint/financing_options_extends.xml</file>
                </peppermint_financingoptions>
            </updates>
        </layout>
        <events>
            <adminhtml_financing_options_edit_tab_info_prepare_form>
                <observers>
                    <peppermint_financingoptions_adminhtml_financing_options_edit_tab_info_prepare_form_validation>
                        <class>peppermint_financingoptions/adminhtml_observer</class>
                        <method>changeFinanceOptionTypeValidation</method>
                    </peppermint_financingoptions_adminhtml_financing_options_edit_tab_info_prepare_form_validation>
                </observers>
            </adminhtml_financing_options_edit_tab_info_prepare_form>
            <adminhtml_financing_options_save_after>
                <observers>
                    <peppermint_financingoptions_attach_finances_to_option_on_save>
                        <class>peppermint_financingoptions/observer</class>
                        <method>attachFinancesToOptionOnSave</method>
                    </peppermint_financingoptions_attach_finances_to_option_on_save>
                </observers>
            </adminhtml_financing_options_save_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <financing_options>
                <args>
                    <modules>
                        <peppermint_financing_options before="Rockar2_FinancingOptions">Peppermint_FinancingOptions</peppermint_financing_options>
                    </modules>
                </args>
            </financing_options>
        </routers>
        <events>
            <checkout_quote_item_finance_update>
                <observers>
                    <update_simple_quote_item>
                        <type>singleton</type>
                        <class>peppermint_financingoptions/observer</class>
                        <method>updateSimpleQuoteItemOnCheckout</method>
                    </update_simple_quote_item>
                </observers>
            </checkout_quote_item_finance_update>
        </events>
        <layout>
            <updates>
                <peppermint_financingoptions>
                    <file>peppermint/financing_options.xml</file>
                </peppermint_financingoptions>
            </updates>
        </layout>
    </frontend>
    <default>
        <system>
            <peppermint_financingoptions>
                <rate_subvention_types>
                    <type_flatamount>FlatAmount</type_flatamount>
                    <type_percentage>Percentage</type_percentage>
                </rate_subvention_types>
            </peppermint_financingoptions>
        </system>
    </default>
</config>
