<?xml version="1.0"?>
<!--
/**
 * @category  Peppermint
 * @package   Peppermint_All
 * @author    Ausma Smite <techteam@rockar.com>
 * @copyright Copyright (c) 2021 Rockar Ltd (http://rockar.com)
 */
-->
<config>
    <sections>
        <design>
            <groups>
                <website translate="label">
                    <label>New Journey</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>520</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <website_ids translate="label">
                            <label>Websites</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>peppermint_catalogrule/system_config_source_WebsiteIds</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <can_be_empty>1</can_be_empty>
                        </website_ids>
                        <website_logo>
                            <label>Website Logo (Landing Page)</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">website/navigation/logo</upload_dir>
                            <base_url type="media" scope_info="1">website/navigation/logo</base_url>
                            <comment><![CDATA[Allowed file types: 'jpg', 'jpeg', 'gif' and 'png'.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </website_logo>
                        <website_logo_other>
                            <label>Website Logo (Other Pages)</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">website/navigation/logo_other</upload_dir>
                            <base_url type="media" scope_info="1">website/navigation/logo_other</base_url>
                            <comment><![CDATA[Allowed file types: 'jpg', 'jpeg', 'gif' and 'png'.]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </website_logo_other>
                        <location_icon_url translate="label">
                            <label>Location Icon URL (Navigation)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </location_icon_url>
                    </fields>
                </website>
            </groups>
        </design>
        <rockar_all>
            <groups>
                <configurator_link translate="label">
                    <label>Configurator Link</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <url translate="label">
                            <label>Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url>
                    </fields>
                </configurator_link>
                <ucpconfig translate="label">
                    <label>UcpConfig</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <endpoint_url translate="label">
                            <label>Endpoint Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </endpoint_url>
                    </fields>
                </ucpconfig>
            </groups>
        </rockar_all>
    </sections>
</config>
