<?xml version="1.0"?>
<!--
/**
 * @category  Peppermint
 * @package   Peppermint_Reports
 * @author    Igors Zhunins <techteam@rockar.com>
 * @copyright Copyright (c) 2021 Rockar, Ltd (http://rockar.com)
 */
-->
<config>
    <modules>
        <Peppermint_Reports>
            <version>0.1.3</version>
        </Peppermint_Reports>
    </modules>
    <global>
        <blocks>
            <peppermint_reports>
                <class>Peppermint_Reports_Block</class>
            </peppermint_reports>
        </blocks>
        <helpers>
            <peppermint_reports>
                <class>Peppermint_Reports_Helper</class>
            </peppermint_reports>
        </helpers>
        <models>
            <peppermint_reports>
                <class>Peppermint_Reports_Model</class>
                <resourceModel>peppermint_reports_resource</resourceModel>
            </peppermint_reports>
            <peppermint_reports_resource>
                <class>Peppermint_Reports_Model_Resource</class>
                <entities>
                    <vin_product_pricing_log>
                        <table>peppermint_vin_product_pricing_log</table>
                    </vin_product_pricing_log>
                    <vin_product_pricing_snapshot>
                        <table>peppermint_vin_product_pricing_snapshot</table>
                    </vin_product_pricing_snapshot>
                    <vin_product_pricing_log_archive>
                        <table>peppermint_vin_product_pricing_log_archive</table>
                    </vin_product_pricing_log_archive>
                </entities>
            </peppermint_reports_resource>
        </models>
        <resources>
            <peppermint_reports_setup>
                <setup>
                    <module>Peppermint_Reports</module>
                </setup>
            </peppermint_reports_setup>
        </resources>
        <events>
            <peppermint_import_products_after>
                <observers>
                    <peppermint_log_price_changes>
                        <class>peppermint_reports/observer</class>
                        <method>logPricesOnProductsImport</method>
                    </peppermint_log_price_changes>
                </observers>
            </peppermint_import_products_after>
            <catalog_product_delete_before>
                <observers>
                    <peppermint_log_price_changes>
                        <class>peppermint_reports/observer</class>
                        <method>logPricesOnProductDelete</method>
                    </peppermint_log_price_changes>
                </observers>
            </catalog_product_delete_before>
            <sales_order_save_after>
                <observers>
                    <peppermint_log_order_status_change>
                        <class>peppermint_reports/observer</class>
                        <method>logPricesOnOrderStatusChange</method>
                    </peppermint_log_order_status_change>
                </observers>
            </sales_order_save_after>
            <peppermint_catalogrules_daily_catalog_update_after>
                <observers>
                    <peppermint_log_price_rules_apply_after>
                        <class>peppermint_reports/observer</class>
                        <method>logPricesOnRulesApply</method>
                    </peppermint_log_price_rules_apply_after>
                </observers>
            </peppermint_catalogrules_daily_catalog_update_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <peppermint_reports>
                    <file>peppermint_reports.xml</file>
                </peppermint_reports>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <peppermint_reports before="Mage_Adminhtml">Peppermint_Reports_Adminhtml</peppermint_reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <peppermint_vin_product_pricing_archive>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>peppermint_reports/cron::transferVinProductPricingLogsToArchive</model>
                </run>
            </peppermint_vin_product_pricing_archive>
        </jobs>
    </crontab>
    <default>
        <peppermint_reports>
            <vin_product_pricing_report>
                <days_transfer_to_archive>365</days_transfer_to_archive>
            </vin_product_pricing_report>
        </peppermint_reports>
    </default>
</config>
