.finance-video {
    .video {
        p {
            width: 100%;
            height: $finance-video-height;

            iframe {
                height: $finance-video-height;
            }
        }
    }
}
